n8n/workflows/workflow-c-intake.json
{
  "name": "Libertas - Intake - Workflow C",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "5a24f684-7105-4b33-ab24-d15b16d32e71",
      "name": "Webhook",
      "webhookId": "0a2430f5-cb3e-42ff-b05f-5d502240cc04"
    },
    {
      "parameters": {
        "jsCode": "// Rate limiting check using in-memory window\n// Note: For production, use external rate limiter (Redis, etc.)\n// This stub provides structure for rate limiting logic\n\n// n8n webhook puts POST body directly in $json (not $json.body)\nconst webhookData = $('Webhook').first().json;\nconst webhookBody = webhookData.body || webhookData; // Handle both formats\nconst clientIp = webhookData.headers?.['x-forwarded-for'] || \n                 webhookData.headers?.['x-real-ip'] || \n                 'unknown';\n\n// Log rate limit check (actual enforcement at infrastructure level)\nconsole.log(`Rate limit check for IP: ${clientIp}`);\nconsole.log(`Webhook body keys: ${Object.keys(webhookBody).join(', ')}`);\n\n// Pass through with rate limit metadata\nreturn [{\n  json: {\n    ...webhookBody,\n    _rateLimitMeta: {\n      clientIp,\n      timestamp: new Date().toISOString(),\n      // In production, check against Redis/memory store\n      allowed: true\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0],
      "id": "rate-limit-check",
      "name": "Rate Limit Check"
    },
    {
      "parameters": {
        "url": "https://libertas.fgu.tech/api/config/thresholds",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [420, -100],
      "id": "fetch-thresholds-config",
      "name": "Fetch Thresholds Config"
    },
    {
      "parameters": {
        "url": "https://libertas.fgu.tech/api/agents/intake-classify",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [420, 100],
      "id": "fetch-intake-classify-prompt",
      "name": "Fetch Intake Classify Prompt"
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [640, 0],
      "id": "wait-for-fetches",
      "name": "Wait for Fetches"
    },
    {
      "parameters": {
        "jsCode": "// Merge thresholds config and intake-classify agent prompt from fetched data\nconst allItems = $input.all();\nconst webhookData = $('Rate Limit Check').first().json;\n\nlet thresholdsConfig = {};\nlet intakeClassifyPrompt = null;\n\nfor (const item of allItems) {\n  const data = item.json;\n  // Thresholds config has runtime/ingestion/publishing/intake sections\n  if (data.runtime || data.ingestion || data.publishing || data.rate_limiting || data.intake) {\n    thresholdsConfig = data;\n  }\n  // Intake classify prompt has content field\n  else if (data.content && (data.name === 'intake-classify' || data.content.includes('intake classifier'))) {\n    intakeClassifyPrompt = data;\n  } else if (data.content) {\n    // Fallback: any content is likely the prompt\n    intakeClassifyPrompt = data;\n  }\n}\n\n// Get rate limiting config\nconst rateLimiting = thresholdsConfig.rate_limiting || {};\nconst configInfo = {\n  requestsPerMinute: rateLimiting.requests_per_minute || 10,\n  requestsPerHour: rateLimiting.requests_per_hour || 100,\n  globalPerMinute: rateLimiting.global_per_minute || 100\n};\n\n// Get intake thresholds for story queue decision\nconst intakeConfig = thresholdsConfig.intake || {};\n\nconsole.log(`Loaded thresholds config: runtime.use_stubs=${thresholdsConfig.runtime?.use_stubs}`);\nconsole.log(`Loaded intake thresholds: relevance=${intakeConfig.story_queue_relevance_threshold}, credibility=${intakeConfig.story_queue_credibility_threshold}`);\nconsole.log(`Loaded intake-classify prompt: ${intakeClassifyPrompt?.content?.length || 0} chars`);\nconsole.log(`Rate limiting config loaded: ${JSON.stringify(configInfo)}`);\n\nreturn [{\n  json: {\n    ...thresholdsConfig,\n    _agents: {\n      intakeClassify: intakeClassifyPrompt?.content || ''\n    },\n    _webhookData: webhookData,\n    _rateLimitConfig: configInfo\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 0],
      "id": "merge-config-agents",
      "name": "Merge Config & Agents"
    },
    {
      "parameters": {
        "jsCode": "// Validate input with thresholds from config\n// Now also captures story-specific and project-specific fields\nconst merged = $input.first().json;\nconst rateLimiting = merged._rateLimitConfig || {};\nconst agents = merged._agents;\nconst webhookData = merged._webhookData;\nconst runtimeConfig = merged.runtime || { use_stubs: true };\n\n// For stories/projects, description is the main content; for feedback, it's message\nconst messageContent = webhookData.description || webhookData.message || '';\n\nif (!messageContent || messageContent.trim().length < 10) {\n  throw new Error('Message/description required (min 10 chars)');\n}\n\n// Map submission type to valid database category\n// DB constraint: 'tool-request', 'idea', 'report', 'question', 'collaboration', 'other'\nconst submissionType = webhookData.type || 'feedback';\nlet dbCategory = 'other';\nif (submissionType === 'story') {\n  dbCategory = 'report';  // Stories are reports of events/news\n} else if (submissionType === 'project') {\n  dbCategory = 'idea';    // Project proposals are ideas\n} else if (webhookData.category) {\n  // For feedback, map form categories to valid DB values\n  const validCategories = ['tool-request', 'idea', 'report', 'question', 'collaboration', 'other'];\n  dbCategory = validCategories.includes(webhookData.category) ? webhookData.category : 'other';\n}\n\nreturn [{\n  json: {\n    // Database columns (snake_case to match postgres)\n    message: messageContent.trim(),\n    contact: webhookData.contact || null,\n    category: dbCategory,\n    channel: 'web',\n    submission_type: submissionType,\n    title: webhookData.title || null,\n    source_url: webhookData.sourceUrl || null,\n    region: webhookData.region || null,\n    urgency: webhookData.urgency || 'normal',\n    \n    // Project-specific fields (from form)\n    problemStatement: webhookData.problemStatement || null,\n    \n    // Additional fields for workflow logic (not inserted to DB)\n    safetyMode: webhookData.safetyMode || false,\n    type: submissionType,\n    sourceUrl: webhookData.sourceUrl || null,\n    \n    // Pass-through metadata\n    _rateLimitConfig: rateLimiting,\n    _agents: agents,\n    _runtime: runtimeConfig\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 0],
      "id": "f2395950-791e-40aa-89f6-00c41f28866e",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "jsCode": "// Prepare submission data for safe SQL insertion\n// Escapes single quotes and prepares values\nconst input = $input.first().json;\n\nfunction sqlEscape(val) {\n  if (val === null || val === undefined) return 'NULL';\n  if (typeof val === 'boolean') return val ? 'TRUE' : 'FALSE';\n  if (typeof val === 'number') return String(val);\n  // Escape single quotes by doubling them\n  return \"'\" + String(val).replace(/'/g, \"''\") + \"'\";\n}\n\nconst message = sqlEscape(input.message);\nconst contact = sqlEscape(input.contact);\nconst category = sqlEscape(input.category);\nconst channel = sqlEscape(input.channel || 'web');\nconst submission_type = sqlEscape(input.submission_type);\nconst title = sqlEscape(input.title);\nconst source_url = sqlEscape(input.source_url);\nconst region = sqlEscape(input.region);\nconst urgency = sqlEscape(input.urgency);\n\nconst query = `INSERT INTO submissions (message, contact, category, channel, submission_type, title, source_url, region, urgency)\nVALUES (${message}, ${contact}, ${category}, ${channel}, ${submission_type}, ${title}, ${source_url}, ${region}, ${urgency})\nRETURNING id, message`;\n\nreturn [{\n  json: {\n    ...input,\n    _insertQuery: query\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 0],
      "id": "prepare-submission-insert",
      "name": "Prepare Submission Insert"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json._insertQuery }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1520, 0],
      "id": "f4b0a9a8-7bd0-4306-bd9f-181e85015176",
      "name": "Insert Submission",
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "use-stubs-classify",
              "leftValue": "={{ $('Validate Input').first().json._runtime?.use_stubs ?? true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1740, 0],
      "id": "use-stubs-classify",
      "name": "Use Stubs for Classify?"
    },
    {
      "parameters": {
        "jsCode": "const message = $('Insert Submission').first().json.message;\nconst validateInput = $('Validate Input').first().json;\n\n// Simple keyword-based classification for testing\nconst tags = [];\nif (message.toLowerCase().includes('messaging') || message.toLowerCase().includes('comms')) tags.push('comms');\nif (message.toLowerCase().includes('offline')) tags.push('censorship-resistance');\nif (message.toLowerCase().includes('secure') || message.toLowerCase().includes('privacy')) tags.push('privacy');\nif (message.toLowerCase().includes('bitcoin') || message.toLowerCase().includes('btc')) tags.push('bitcoin');\nif (message.toLowerCase().includes('tool') || message.toLowerCase().includes('build')) tags.push('sovereignty');\nif (tags.length === 0) tags.push('general');\n\n// Determine category from content\nlet category = 'other';\nif (message.toLowerCase().includes('tool') || message.toLowerCase().includes('need')) category = 'tool-request';\nelse if (message.toLowerCase().includes('idea') || message.toLowerCase().includes('what if')) category = 'idea';\nelse if (message.toLowerCase().includes('report') || message.toLowerCase().includes('observed')) category = 'report';\nelse if (message.toLowerCase().includes('question') || message.includes('?')) category = 'question';\nelse if (message.toLowerCase().includes('partner') || message.toLowerCase().includes('collaborate')) category = 'collaboration';\n\n// Determine risk level\nlet risk_level = 'low';\nif (message.toLowerCase().includes('activist') || message.toLowerCase().includes('dissident')) risk_level = 'medium';\nif (message.toLowerCase().includes('location') && risk_level === 'medium') risk_level = 'high';\n\n// Determine priority\nlet priority = 'normal';\nif (message.toLowerCase().includes('urgent') || message.toLowerCase().includes('emergency')) priority = 'urgent';\nif (message.toLowerCase().includes('fyi') || message.toLowerCase().includes('just sharing')) priority = 'low';\n\n// Check for spam patterns\nconst is_spam = message.toLowerCase().includes('crypto airdrop') || \n                message.toLowerCase().includes('click here') ||\n                (message.match(/https?:\\/\\//g) || []).length > 5;\n\n// Determine if response is needed\nconst requires_response = category !== 'other' && !is_spam && \n                          (message.includes('?') || category === 'tool-request' || category === 'collaboration');\n\n// Generate summary\nconst summary = message.substring(0, 180).replace(/\\n/g, ' ').trim() + (message.length > 180 ? '...' : '');\n\n// Suggested assignee\nlet suggested_assignee = 'triage';\nif (category === 'tool-request') suggested_assignee = 'engineering';\nelse if (category === 'collaboration') suggested_assignee = 'partnerships';\nelse if (category === 'report') suggested_assignee = 'research';\n\nconst result = {\n  category,\n  tags,\n  risk_level,\n  priority,\n  summary,\n  is_spam,\n  requires_response,\n  suggested_assignee\n};\n\n// Match Claude API response format\nreturn [{\n  json: {\n    content: [{\n      type: 'text',\n      text: JSON.stringify(result)\n    }],\n    _submissionId: $('Insert Submission').first().json.id,\n    _message: message,\n    _agents: validateInput._agents,\n    _runtime: validateInput._runtime,\n    _storyData: {\n      type: validateInput.type,\n      title: validateInput.title,\n      sourceUrl: validateInput.sourceUrl,\n      region: validateInput.region,\n      urgency: validateInput.urgency,\n      problemStatement: validateInput.problemStatement\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, -100],
      "id": "b0d80e32-5e56-4553-8037-9011a2c680f1",
      "name": "Classify Stub"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 512,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": {{ JSON.stringify($('Validate Input').first().json._agents?.intakeClassify + \"\\n\\n# Input\\n\\n\" + JSON.stringify({ message: $('Insert Submission').first().json.message, contact: $('Validate Input').first().json.contact ? '[provided]' : null, category: $('Validate Input').first().json.category, safetyMode: $('Validate Input').first().json.safetyMode })) }}\n  }]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1740, 100],
      "id": "8d4a91f3-2fb2-4be9-9d5f-0bc2ebc6a3be",
      "name": "Classify with Claude API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Process real Claude API response and add pass-through data\nconst claudeResponse = $input.first().json;\nconst validateInput = $('Validate Input').first().json;\nconst submissionData = $('Insert Submission').first().json;\n\n// Return in same format as stub for Parse LLM Response compatibility\nreturn [{\n  json: {\n    content: claudeResponse.content,\n    _submissionId: submissionData.id,\n    _message: submissionData.message,\n    _agents: validateInput._agents,\n    _runtime: validateInput._runtime,\n    _storyData: {\n      type: validateInput.type,\n      title: validateInput.title,\n      sourceUrl: validateInput.sourceUrl,\n      region: validateInput.region,\n      urgency: validateInput.urgency,\n      problemStatement: validateInput.problemStatement\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 100],
      "id": "wrap-classify-response",
      "name": "Wrap Claude Classify Response"
    },
    {
      "parameters": {
        "jsCode": "// Parse LLM response (handles both stub and real Claude responses)\n// Strips markdown code blocks that Claude often wraps JSON in\nconst input = $input.first().json;\nlet parsed;\n\ntry {\n  let text = input.content[0].text;\n  \n  // Strip markdown code blocks if present (Claude often wraps JSON in ```json...```)\n  text = text.trim();\n  if (text.startsWith('```')) {\n    // Remove opening fence (```json or ```)\n    text = text.replace(/^```(?:json)?\\s*\\n?/, '');\n    // Remove closing fence\n    text = text.replace(/\\n?```\\s*$/, '');\n  }\n  \n  parsed = JSON.parse(text.trim());\n} catch (e) {\n  console.log('Parse LLM Response error:', e.message);\n  console.log('Raw text:', input.content?.[0]?.text?.substring(0, 200));\n  // Fallback classification if parsing fails\n  parsed = {\n    category: 'other',\n    tags: ['general'],\n    risk_level: 'low',\n    priority: 'normal',\n    summary: 'Failed to parse classification: ' + e.message,\n    is_spam: false,\n    requires_response: false,\n    suggested_assignee: 'triage'\n  };\n}\n\n// Ensure all required fields are present\nconst result = {\n  category: parsed.category || 'other',\n  tags: Array.isArray(parsed.tags) ? parsed.tags : ['general'],\n  risk_level: parsed.risk_level || 'low',\n  priority: parsed.priority || 'normal',\n  summary: (parsed.summary || '').substring(0, 200),\n  is_spam: Boolean(parsed.is_spam),\n  requires_response: Boolean(parsed.requires_response),\n  suggested_assignee: parsed.suggested_assignee || 'triage',\n  submissionId: input._submissionId,\n  message: input._message,\n  _runtime: input._runtime,\n  _storyData: input._storyData\n};\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2180, 0],
      "id": "2c3ce832-b8bc-4645-a849-4d340ec89943",
      "name": "Parse LLM Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE submissions\n  SET tags = ARRAY(SELECT json_array_elements_text($1::json)),\n      risk_level = $2,\n      priority = $3,\n      is_spam = $4,\n      requires_response = $5,\n      status = 'triaged'\n  WHERE id = $6::uuid",
        "options": {
          "queryReplacement": "={{ JSON.stringify($json.tags) }}, {{ $json.risk_level }}, {{ $json.priority }}, {{ $json.is_spam }}, {{ $json.requires_response }}, {{ $json.submissionId }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2400, 0],
      "id": "584cdc58-21d3-4526-accc-14cfdc4c4f3d",
      "name": "Update Submission",
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-story-check",
              "leftValue": "={{ $('Parse LLM Response').first().json._storyData?.type }}",
              "rightValue": "story",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2620, 0],
      "id": "is-story-check",
      "name": "Is Story?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-project-check",
              "leftValue": "={{ $('Parse LLM Response').first().json._storyData?.type }}",
              "rightValue": "project",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2840, -200],
      "id": "is-project-check",
      "name": "Is Project?"
    },
    {
      "parameters": {
        "url": "https://libertas.fgu.tech/api/agents/intake-project-evaluate",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [3060, -400],
      "id": "fetch-project-evaluate-prompt",
      "name": "Fetch Project Evaluate Prompt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "use-stubs-project-evaluate",
              "leftValue": "={{ $('Parse LLM Response').first().json._runtime?.use_stubs ?? true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3280, -400],
      "id": "use-stubs-project-evaluate",
      "name": "Use Stubs for Project Evaluate?"
    },
    {
      "parameters": {
        "jsCode": "// Project Evaluate Stub for testing (1.13b)\n// Provides keyword-based project assessment without calling Claude API\n\nconst parsedLLM = $('Parse LLM Response').first().json;\nconst storyData = parsedLLM._storyData;\nconst message = parsedLLM.message;\nconst title = storyData?.title || '';\nconst problemStatement = storyData?.problemStatement || message;\nconst region = storyData?.region;\nconst urgency = storyData?.urgency || 'normal';\n\nconst fullText = (title + ' ' + problemStatement + ' ' + message).toLowerCase();\n\n// Topic detection for tech stack suggestions\nconst topics = [];\nif (fullText.includes('bitcoin') || fullText.includes('btc') || fullText.includes('lightning')) topics.push('bitcoin');\nif (fullText.includes('zk') || fullText.includes('zero knowledge') || fullText.includes('proof')) topics.push('zk');\nif (fullText.includes('mesh') || fullText.includes('p2p') || fullText.includes('peer')) topics.push('comms');\nif (fullText.includes('privacy') || fullText.includes('encrypt') || fullText.includes('anonymous')) topics.push('privacy');\nif (fullText.includes('identity') || fullText.includes('kyc') || fullText.includes('credential')) topics.push('identity');\nif (fullText.includes('censor') || fullText.includes('blocked') || fullText.includes('firewall')) topics.push('censorship-resistance');\nif (topics.length === 0) topics.push('sovereignty');\n\n// Generate threat model based on content\nlet threat_model = 'Generic adversaries including network observers and platform operators.';\nif (fullText.includes('government') || fullText.includes('state')) {\n  threat_model = 'State-level adversaries with network monitoring capabilities, ability to compel platforms, and potential for targeted surveillance.';\n} else if (fullText.includes('activist') || fullText.includes('journalist')) {\n  threat_model = 'Adversaries targeting individuals including state actors, corporate surveillance, and social engineering attacks.';\n}\n\n// Identify affected groups\nconst affected_groups = ['Privacy-conscious users'];\nif (fullText.includes('activist')) affected_groups.push('Activists in authoritarian regimes');\nif (fullText.includes('journalist')) affected_groups.push('Journalists protecting sources');\nif (fullText.includes('human rights')) affected_groups.push('Human rights organizations');\nif (fullText.includes('developer')) affected_groups.push('Freedom tech developers');\nif (affected_groups.length === 1) affected_groups.push('General users seeking privacy');\n\n// Calculate feasibility score\nlet feasibility_score = 60;\nif (fullText.includes('existing') || fullText.includes('integrate')) feasibility_score += 15;\nif (fullText.includes('complex') || fullText.includes('research')) feasibility_score -= 15;\nif (fullText.includes('simple') || fullText.includes('basic')) feasibility_score += 10;\nfeasibility_score = Math.max(30, Math.min(90, feasibility_score));\n\n// Calculate impact score\nlet impact_score = 55;\nif (fullText.includes('life') || fullText.includes('safety') || fullText.includes('threat')) impact_score += 25;\nif (fullText.includes('many') || fullText.includes('widespread') || fullText.includes('global')) impact_score += 15;\nif (fullText.includes('niche') || fullText.includes('specific')) impact_score -= 10;\nimpact_score = Math.max(30, Math.min(95, impact_score));\n\n// Generate misuse risks\nlet misuse_risks = 'Could be used to coordinate harmful activities under cover of privacy. May enable evasion of legitimate law enforcement in non-authoritarian contexts.';\nif (fullText.includes('anonymous')) {\n  misuse_risks = 'Strong anonymity features could enable abuse, harassment, or illegal activities. Consider transparency options and abuse reporting mechanisms.';\n}\n\n// Suggest technical dependencies\nconst technical_dependencies = ['Cryptographic libraries (libsodium or equivalent)'];\nif (topics.includes('bitcoin')) technical_dependencies.push('Bitcoin libraries (rust-bitcoin, bitcoinjs)');\nif (topics.includes('comms')) technical_dependencies.push('Networking stack with P2P support');\nif (topics.includes('zk')) technical_dependencies.push('ZK proving system (STARK, SNARK)');\n\n// Suggest stack\nconst suggested_stack = ['Rust for core components', 'TypeScript for web interfaces'];\nif (topics.includes('bitcoin')) suggested_stack.push('Bitcoin Core RPC or Electrum');\nif (topics.includes('comms')) suggested_stack.push('libp2p for networking');\n\n// Prior art\nconst prior_art = [];\nif (topics.includes('bitcoin')) prior_art.push('Sparrow Wallet', 'Wasabi Wallet');\nif (topics.includes('comms')) prior_art.push('Briar', 'Signal');\nif (topics.includes('privacy')) prior_art.push('Tor Project', 'Tails');\nif (prior_art.length === 0) prior_art.push('Review existing freedom tech projects');\n\n// Open questions\nconst open_questions = [\n  'What is the minimum viable UX for non-technical users?',\n  'How to handle key management without trusted third parties?'\n];\nif (region) open_questions.push(`What are the specific requirements for ${region}?`);\n\n// Check for spam\nconst is_spam = fullText.includes('guaranteed returns') || \n                fullText.includes('airdrop') || \n                fullText.includes('100x');\n\n// Generate detected pattern\nlet detected_pattern = `Addresses ${topics.join('/')} needs for ${affected_groups[0].toLowerCase()}.`;\nif (is_spam) detected_pattern = 'N/A - This is spam';\n\n// Generate MVP scope\nlet mvp_scope = `CLI tool with core ${topics[0] || 'privacy'} functionality. Single-page documentation. Target: technical early adopters.`;\nif (is_spam) mvp_scope = 'N/A - This is spam';\n\nconst result = {\n  detected_pattern,\n  threat_model: is_spam ? 'N/A - This is spam' : threat_model,\n  affected_groups: is_spam ? [] : affected_groups,\n  mvp_scope,\n  misuse_risks: is_spam ? 'Submission flagged as spam.' : misuse_risks,\n  feasibility_score: is_spam ? 0 : feasibility_score,\n  impact_score: is_spam ? 0 : impact_score,\n  technical_dependencies: is_spam ? [] : technical_dependencies,\n  suggested_stack: is_spam ? [] : suggested_stack,\n  prior_art: is_spam ? [] : prior_art,\n  open_questions: is_spam ? [] : open_questions,\n  reasoning: is_spam ? 'Spam patterns detected.' : `Stub evaluation: feasibility=${feasibility_score}, impact=${impact_score}, topics=${topics.join(', ')}`,\n  priority: urgency,\n  is_spam\n};\n\nreturn [{\n  json: {\n    content: [{ type: 'text', text: JSON.stringify(result) }],\n    _submissionId: parsedLLM.submissionId,\n    _message: message,\n    _projectData: {\n      title,\n      problemStatement,\n      description: message,\n      region,\n      urgency,\n      topics\n    },\n    _runtime: parsedLLM._runtime\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3500, -500],
      "id": "project-evaluate-stub",
      "name": "Project Evaluate Stub"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2048,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": {{ JSON.stringify($('Fetch Project Evaluate Prompt').first().json.content + \"\\n\\n# Input\\n\\n\" + JSON.stringify({ title: $('Parse LLM Response').first().json._storyData?.title || '', problemStatement: $('Parse LLM Response').first().json._storyData?.problemStatement || $('Parse LLM Response').first().json.message, description: $('Parse LLM Response').first().json.message, urgency: $('Parse LLM Response').first().json._storyData?.urgency || 'normal', region: $('Parse LLM Response').first().json._storyData?.region || null })) }}\n  }]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [3500, -300],
      "id": "project-evaluate-claude",
      "name": "Project Evaluate with Claude API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Wrap Claude API response for project evaluation\nconst claudeResponse = $input.first().json;\nconst parsedLLM = $('Parse LLM Response').first().json;\nconst storyData = parsedLLM._storyData;\n\nreturn [{\n  json: {\n    content: claudeResponse.content,\n    _submissionId: parsedLLM.submissionId,\n    _message: parsedLLM.message,\n    _projectData: {\n      title: storyData?.title || '',\n      problemStatement: storyData?.problemStatement || parsedLLM.message,\n      description: parsedLLM.message,\n      region: storyData?.region,\n      urgency: storyData?.urgency || 'normal'\n    },\n    _runtime: parsedLLM._runtime\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3720, -300],
      "id": "wrap-project-evaluate-response",
      "name": "Wrap Project Evaluate Response"
    },
    {
      "parameters": {
        "jsCode": "// Handle errors from Project Evaluate Claude API call\nconst error = $input.first().json;\nconst parsedLLM = $('Parse LLM Response').first().json;\nconst storyData = parsedLLM._storyData;\n\nconsole.log('Project Evaluate Claude API error:', JSON.stringify(error));\n\nconst fallbackResult = {\n  threat_model: 'Unable to assess - API error',\n  affected_groups: ['Unknown - manual review required'],\n  feasibility_score: 50,\n  impact_score: 50,\n  misuse_risks: 'Unable to assess - API error',\n  technical_dependencies: [],\n  suggested_stack: [],\n  prior_art: [],\n  open_questions: ['All aspects require manual review due to API error'],\n  reasoning: 'Fallback evaluation due to API error - requires manual review',\n  priority: 'normal',\n  is_spam: false\n};\n\nreturn [{\n  json: {\n    content: [{ type: 'text', text: JSON.stringify(fallbackResult) }],\n    _submissionId: parsedLLM.submissionId,\n    _message: parsedLLM.message,\n    _projectData: {\n      title: storyData?.title || '',\n      problemStatement: storyData?.problemStatement || parsedLLM.message,\n      description: parsedLLM.message,\n      region: storyData?.region,\n      urgency: storyData?.urgency || 'normal'\n    },\n    _runtime: parsedLLM._runtime,\n    _apiError: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3720, -200],
      "id": "handle-project-evaluate-error",
      "name": "Handle Project Evaluate Error"
    },
    {
      "parameters": {
        "jsCode": "// Parse project evaluation LLM response\nconst input = $input.first().json;\nlet parsed;\n\ntry {\n  let text = input.content[0].text;\n  \n  // Strip markdown code blocks if present\n  text = text.trim();\n  if (text.startsWith('```')) {\n    text = text.replace(/^```(?:json)?\\s*\\n?/, '');\n    text = text.replace(/\\n?```\\s*$/, '');\n  }\n  \n  parsed = JSON.parse(text.trim());\n} catch (e) {\n  console.log('Parse Project LLM Response error:', e.message);\n  parsed = {\n    detected_pattern: 'Parse error - manual review required',\n    threat_model: 'Parse error - manual review required',\n    affected_groups: ['Unknown'],\n    mvp_scope: 'Manual review required',\n    feasibility_score: 50,\n    impact_score: 50,\n    misuse_risks: 'Parse error - manual review required',\n    technical_dependencies: [],\n    suggested_stack: [],\n    prior_art: [],\n    open_questions: ['All aspects require manual review'],\n    reasoning: 'Failed to parse: ' + e.message,\n    priority: 'normal',\n    is_spam: false\n  };\n}\n\n// Ensure all required fields with defaults\nconst result = {\n  detected_pattern: parsed.detected_pattern || 'Not specified',\n  threat_model: parsed.threat_model || 'Not specified',\n  affected_groups: Array.isArray(parsed.affected_groups) ? parsed.affected_groups : ['General users'],\n  mvp_scope: parsed.mvp_scope || 'MVP scope to be defined during triage',\n  feasibility_score: parseInt(parsed.feasibility_score) || 50,\n  impact_score: parseInt(parsed.impact_score) || 50,\n  misuse_risks: parsed.misuse_risks || 'Not assessed',\n  technical_dependencies: Array.isArray(parsed.technical_dependencies) ? parsed.technical_dependencies : [],\n  suggested_stack: Array.isArray(parsed.suggested_stack) ? parsed.suggested_stack : [],\n  prior_art: Array.isArray(parsed.prior_art) ? parsed.prior_art : [],\n  open_questions: Array.isArray(parsed.open_questions) ? parsed.open_questions : [],\n  reasoning: parsed.reasoning || '',\n  priority: ['urgent', 'normal', 'low'].includes(parsed.priority) ? parsed.priority : 'normal',\n  is_spam: Boolean(parsed.is_spam),\n  \n  // Pass through data\n  _submissionId: input._submissionId,\n  _message: input._message,\n  _projectData: input._projectData,\n  _runtime: input._runtime\n};\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3940, -400],
      "id": "parse-project-llm-response",
      "name": "Parse Project LLM Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-spam-check",
              "leftValue": "={{ $json.is_spam }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [4050, -400],
      "id": "is-not-spam-project",
      "name": "Is Not Spam?"
    },
    {
      "parameters": {
        "jsCode": "// Handle spam project submission - mark as spam and skip processing\nconst data = $input.first().json;\n\nconsole.log(`[SPAM] Project submission ${data._submissionId} flagged as spam. Skipping project idea creation.`);\n\nreturn [{\n  json: {\n    submissionId: data._submissionId,\n    is_spam: true,\n    success: true,\n    type: 'project',\n    message: 'Submission flagged as spam - no project idea created'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4160, -300],
      "id": "handle-project-spam",
      "name": "Handle Project Spam"
    },
    {
      "parameters": {
        "jsCode": "// Build INSERT query for project_ideas table\nconst data = $input.first().json;\nconst projectData = data._projectData;\n\nfunction escapeStr(str) {\n  if (str === null || str === undefined) return 'NULL';\n  return \"'\" + String(str).replace(/'/g, \"''\") + \"'\";\n}\n\nfunction formatPgArray(arr) {\n  if (!arr || arr.length === 0) return \"'{}'\";\n  const escaped = arr.map(s => '\"' + String(s).replace(/\"/g, '\\\\\"').replace(/'/g, \"''\") + '\"');\n  return \"'{\" + escaped.join(',') + \"}'\";\n}\n\n// Use empty array for derived_from_insight_ids (community submission, not derived from insights)\n// Link to submission via metadata instead\nconst query = `INSERT INTO project_ideas (\n  derived_from_insight_ids,\n  detected_pattern,\n  problem_statement,\n  threat_model,\n  affected_groups,\n  proposed_solution,\n  mvp_scope,\n  misuse_risks,\n  feasibility_score,\n  impact_score,\n  technical_dependencies,\n  suggested_stack,\n  prior_art,\n  open_questions,\n  reasoning,\n  priority,\n  status\n) VALUES (\n  '{}',\n  ${escapeStr(data.detected_pattern)},\n  ${escapeStr(projectData.problemStatement)},\n  ${escapeStr(data.threat_model)},\n  ${formatPgArray(data.affected_groups)},\n  ${escapeStr(projectData.description)},\n  ${escapeStr(data.mvp_scope)},\n  ${escapeStr(data.misuse_risks)},\n  ${data.feasibility_score},\n  ${data.impact_score},\n  ${formatPgArray(data.technical_dependencies)},\n  ${formatPgArray(data.suggested_stack)},\n  ${formatPgArray(data.prior_art)},\n  ${formatPgArray(data.open_questions)},\n  ${escapeStr(data.reasoning)},\n  ${escapeStr(data.priority)},\n  'new'\n) RETURNING id, feasibility_score, impact_score, priority, created_at`;\n\nreturn [{\n  json: {\n    query,\n    _projectIdeaData: {\n      ...data,\n      title: projectData.title,\n      submissionId: data._submissionId\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4160, -400],
      "id": "build-project-idea-query",
      "name": "Build Project Idea Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [4380, -400],
      "id": "insert-project-idea",
      "name": "Insert Project Idea",
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare project idea for GitHub issue creation\nconst insertResult = $input.first().json;\nconst ideaData = $('Build Project Idea Query').first().json._projectIdeaData;\n\n// Build issue title\nlet titleText = ideaData.title || ideaData._projectData?.problemStatement || '';\nif (titleText.length > 60) {\n  titleText = titleText.substring(0, 57).replace(/\\s+\\S*$/, '') + '...';\n}\nconst issueTitle = `[Project Idea] ${titleText}`;\n\n// Build issue body\nconst affectedGroupsList = (ideaData.affected_groups || []).map(g => `- ${g}`).join('\\n') || '_Not specified_';\nconst dependenciesList = (ideaData.technical_dependencies || []).map(d => `- ${d}`).join('\\n') || '_Not specified_';\nconst stackList = (ideaData.suggested_stack || []).map(s => `- ${s}`).join('\\n') || '_Not specified_';\nconst priorArtList = (ideaData.prior_art || []).map(p => `- ${p}`).join('\\n') || '_Not specified_';\nconst questionsList = (ideaData.open_questions || []).map(q => `- ${q}`).join('\\n') || '_Not specified_';\n\n// Get priority for labeling\nconst priority = insertResult.priority || ideaData.priority || 'normal';\n\nconst issueBody = `## Detected Pattern\n\n${ideaData.detected_pattern || '_Not specified_'}\n\n## Problem Statement\n\n${ideaData._projectData?.problemStatement || ideaData._message}\n\n## Proposed Solution\n\n${ideaData._projectData?.description || ideaData._message}\n\n## MVP Scope\n\n${ideaData.mvp_scope || '_To be defined during triage_'}\n\n## Threat Model\n\n${ideaData.threat_model}\n\n## Affected Groups\n\n${affectedGroupsList}\n\n## Misuse Risks\n\n${ideaData.misuse_risks}\n\n## Scores\n\n- **Feasibility:** ${ideaData.feasibility_score}/100\n- **Impact:** ${ideaData.impact_score}/100\n- **Priority:** ${priority}\n\n## Technical Dependencies\n\n${dependenciesList}\n\n## Suggested Stack\n\n${stackList}\n\n## Prior Art\n\n${priorArtList}\n\n## Open Questions\n\n${questionsList}\n\n## Evaluation Reasoning\n\n${ideaData.reasoning || '_Not provided_'}\n\n---\n*Community-submitted project idea*\n*Submission ID: \\`${ideaData.submissionId}\\`*\n*Project Idea ID: \\`${insertResult.id}\\`*\n*Auto-generated by Libertas Workflow C*`;\n\nreturn [{\n  json: {\n    issueTitle,\n    issueBody,\n    projectIdeaId: insertResult.id,\n    submissionId: ideaData.submissionId,\n    feasibilityScore: insertResult.feasibility_score,\n    impactScore: insertResult.impact_score,\n    priority: priority,\n    _runtime: ideaData._runtime\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4600, -400],
      "id": "prepare-project-for-github",
      "name": "Prepare Project for GitHub"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "use-stubs-project-github",
              "leftValue": "={{ $('Parse LLM Response').first().json._runtime?.use_stubs ?? true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [4820, -400],
      "id": "use-stubs-project-github",
      "name": "Use Stubs for Project GitHub?"
    },
    {
      "parameters": {
        "jsCode": "// STUB: Simulate GitHub issue creation for project ideas\nconst data = $input.first().json;\n\nconst stubIssueNumber = 200 + Math.floor(Math.random() * 800);\nconst stubIssueUrl = `https://github.com/FGUTech/libertas/issues/${stubIssueNumber}`;\n\n// Build labels based on priority\nconst labels = ['project-idea', 'community-submitted'];\nif (data.priority === 'urgent') labels.push('priority-urgent');\nelse if (data.priority === 'low') labels.push('priority-low');\n\nconsole.log(`[STUB] Created mock GitHub issue #${stubIssueNumber} for project idea ${data.projectIdeaId} with priority ${data.priority}`);\n\nreturn [{\n  json: {\n    html_url: stubIssueUrl,\n    number: stubIssueNumber,\n    title: data.issueTitle,\n    state: 'open',\n    labels: labels,\n    _projectIdeaId: data.projectIdeaId,\n    _submissionId: data.submissionId,\n    _priority: data.priority,\n    _isStub: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5040, -500],
      "id": "project-github-stub",
      "name": "Project GitHub Stub"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/FGUTech/libertas/issues",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": {{ JSON.stringify($json.issueTitle) }},\n  \"body\": {{ JSON.stringify($json.issueBody) }},\n  \"labels\": {{ JSON.stringify(['project-idea', 'community-submitted'].concat($json.priority === 'urgent' ? ['priority-urgent'] : $json.priority === 'low' ? ['priority-low'] : [])) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [5040, -300],
      "id": "create-project-github-issue",
      "name": "Create Project GitHub Issue",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GITHUB_CREDENTIAL_ID",
          "name": "GitHub API Token"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Wrap real GitHub API response for project issues\nconst githubResponse = $input.first().json;\nconst prepareData = $('Prepare Project for GitHub').first().json;\n\nreturn [{\n  json: {\n    html_url: githubResponse.html_url,\n    number: githubResponse.number,\n    title: githubResponse.title,\n    state: githubResponse.state,\n    _projectIdeaId: prepareData.projectIdeaId,\n    _submissionId: prepareData.submissionId,\n    _isStub: false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5260, -300],
      "id": "wrap-project-github-response",
      "name": "Wrap Project GitHub Response"
    },
    {
      "parameters": {
        "jsCode": "// Handle errors from Project GitHub API call\nconst error = $input.first().json;\nconst prepareData = $('Prepare Project for GitHub').first().json;\n\nconsole.log('Project GitHub API error:', JSON.stringify(error));\n\nreturn [{\n  json: {\n    html_url: null,\n    number: null,\n    title: prepareData.issueTitle,\n    state: 'error',\n    _projectIdeaId: prepareData.projectIdeaId,\n    _submissionId: prepareData.submissionId,\n    _isStub: false,\n    _apiError: true,\n    _errorMessage: 'GitHub issue creation failed - will retry later'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5260, -200],
      "id": "handle-project-github-error",
      "name": "Handle Project GitHub Error"
    },
    {
      "parameters": {
        "jsCode": "// Build UPDATE queries for both project_ideas and submissions tables\nconst data = $input.first().json;\n\nfunction escapeStr(str) {\n  if (str === null || str === undefined) return 'NULL';\n  return \"'\" + String(str).replace(/'/g, \"''\") + \"'\";\n}\n\nconst issueUrl = data.html_url;\n\n// Update project_ideas with GitHub issue URL\nconst updateIdeaQuery = `UPDATE project_ideas \nSET github_issue_url = ${escapeStr(issueUrl)},\n    updated_at = NOW()\nWHERE id = ${escapeStr(data._projectIdeaId)}::uuid\nRETURNING id, github_issue_url`;\n\n// Update submissions with GitHub issue URL and status\nconst updateSubmissionQuery = `UPDATE submissions\nSET github_issue_url = ${escapeStr(issueUrl)},\n    status = 'triaged'\nWHERE id = ${escapeStr(data._submissionId)}::uuid`;\n\nconst combinedQuery = updateIdeaQuery + '; ' + updateSubmissionQuery;\n\nconsole.log(`Updating project idea ${data._projectIdeaId} and submission ${data._submissionId} with GitHub issue URL: ${issueUrl || 'NULL'}`);\n\nreturn [{\n  json: {\n    query: combinedQuery,\n    _issueData: data\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5480, -400],
      "id": "build-project-update-query",
      "name": "Build Project Update Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [5700, -400],
      "id": "update-project-idea-url",
      "name": "Update Project Idea URL",
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare response for project submissions\nconst updateResult = $input.first().json;\nconst issueData = $('Build Project Update Query').first().json._issueData;\n\nreturn [{\n  json: {\n    submissionId: issueData._submissionId,\n    projectIdeaId: issueData._projectIdeaId,\n    githubIssueUrl: issueData.html_url,\n    success: true,\n    type: 'project'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5920, -400],
      "id": "project-success-summary",
      "name": "Project Success Summary"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-source-url",
              "leftValue": "={{ $('Parse LLM Response').first().json._storyData?.sourceUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2840, 300],
      "id": "has-source-url",
      "name": "Has Source URL?"
    },
    {
      "parameters": {
        "url": "={{ $('Parse LLM Response').first().json._storyData?.sourceUrl }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [3060, 200],
      "id": "fetch-source-content",
      "name": "Fetch Source Content",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extract text content from fetched HTML\n// Provides source content for Claude to analyze alongside user's description\n\nconst parsedData = $('Parse LLM Response').first().json;\nconst fetchResult = $input.first().json;\n\nlet extractedContent = '';\nlet fetchSuccess = true;\n\ntry {\n  // Get the HTML content (could be string or in data field)\n  const html = typeof fetchResult === 'string' ? fetchResult : \n               (fetchResult.data || fetchResult.body || JSON.stringify(fetchResult));\n  \n  if (typeof html === 'string' && html.length > 0) {\n    // Basic HTML text extraction\n    // Remove script and style tags and their content\n    let text = html\n      .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n      .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n      .replace(/<nav[^>]*>[\\s\\S]*?<\\/nav>/gi, '')\n      .replace(/<footer[^>]*>[\\s\\S]*?<\\/footer>/gi, '')\n      .replace(/<header[^>]*>[\\s\\S]*?<\\/header>/gi, '');\n    \n    // Remove HTML tags but keep content\n    text = text.replace(/<[^>]+>/g, ' ');\n    \n    // Decode HTML entities\n    text = text\n      .replace(/&nbsp;/g, ' ')\n      .replace(/&amp;/g, '&')\n      .replace(/&lt;/g, '<')\n      .replace(/&gt;/g, '>')\n      .replace(/&quot;/g, '\"')\n      .replace(/&#39;/g, \"'\");\n    \n    // Clean up whitespace\n    text = text.replace(/\\s+/g, ' ').trim();\n    \n    // Truncate to reasonable size for LLM context\n    extractedContent = text.substring(0, 8000);\n    if (text.length > 8000) {\n      extractedContent += '... [truncated]';\n    }\n  }\n} catch (e) {\n  console.log('Text extraction error:', e.message);\n  fetchSuccess = false;\n}\n\n// Pass through all data with extracted content added\nreturn [{\n  json: {\n    ...parsedData,\n    _sourceContent: {\n      extracted: extractedContent,\n      fetchSuccess: fetchSuccess,\n      url: parsedData._storyData?.sourceUrl\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3280, 200],
      "id": "extract-source-text",
      "name": "Extract Text from HTML"
    },
    {
      "parameters": {
        "jsCode": "// Handle fetch errors - continue without source content\nconst parsedData = $('Parse LLM Response').first().json;\nconst error = $input.first().json;\n\nconsole.log('Source URL fetch error:', JSON.stringify(error));\n\nreturn [{\n  json: {\n    ...parsedData,\n    _sourceContent: {\n      extracted: '',\n      fetchSuccess: false,\n      error: 'Failed to fetch source URL',\n      url: parsedData._storyData?.sourceUrl\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3280, 300],
      "id": "handle-fetch-error",
      "name": "Handle Fetch Error"
    },
    {
      "parameters": {
        "jsCode": "// No source URL provided - continue with description only\nconst parsedData = $('Parse LLM Response').first().json;\n\nreturn [{\n  json: {\n    ...parsedData,\n    _sourceContent: {\n      extracted: '',\n      fetchSuccess: false,\n      noUrl: true\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3060, 400],
      "id": "no-source-url",
      "name": "No Source URL"
    },
    {
      "parameters": {
        "url": "https://libertas.fgu.tech/api/agents/intake-story-classify",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [3500, 300],
      "id": "fetch-story-classify-prompt",
      "name": "Fetch Story Classify Prompt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "use-stubs-story-classify",
              "leftValue": "={{ $('Parse LLM Response').first().json._runtime?.use_stubs ?? true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3720, 300],
      "id": "use-stubs-story-classify",
      "name": "Use Stubs for Story Classify?"
    },
    {
      "parameters": {
        "jsCode": "// Story classification stub for testing (1.13a)\n// Provides keyword-based scoring without calling Claude API\n// Now includes source content if fetched\n\n// Get data - try to get from source fetch nodes first, fall back to Parse LLM Response\nlet inputData;\ntry {\n  inputData = $('Extract Text from HTML').first().json;\n} catch (e1) {\n  try {\n    inputData = $('Handle Fetch Error').first().json;\n  } catch (e2) {\n    try {\n      inputData = $('No Source URL').first().json;\n    } catch (e3) {\n      inputData = $('Parse LLM Response').first().json;\n    }\n  }\n}\n\nconst storyData = inputData._storyData;\nconst message = inputData.message;\nconst title = storyData?.title || '';\nconst sourceUrl = storyData?.sourceUrl;\nconst region = storyData?.region;\nconst sourceContent = inputData._sourceContent?.extracted || '';\n\n// Combine title, message, and source content for analysis\nconst fullText = (title + ' ' + message + ' ' + sourceContent).toLowerCase();\n\n// Topic detection\nconst topics = [];\nif (fullText.includes('bitcoin') || fullText.includes('btc') || fullText.includes('lightning')) topics.push('bitcoin');\nif (fullText.includes('signal') || fullText.includes('mesh') || fullText.includes('briar') || fullText.includes('messaging')) topics.push('comms');\nif (fullText.includes('vpn') || fullText.includes('tor') || fullText.includes('privacy') || fullText.includes('encrypt')) topics.push('privacy');\nif (fullText.includes('censor') || fullText.includes('shutdown') || fullText.includes('blocked') || fullText.includes('ban')) topics.push('censorship-resistance');\nif (fullText.includes('activist') || fullText.includes('protest') || fullText.includes('dissident') || fullText.includes('journalist')) topics.push('activism');\nif (fullText.includes('surveillance') || fullText.includes('spy') || fullText.includes('monitor')) topics.push('surveillance');\nif (fullText.includes('identity') || fullText.includes('passport') || fullText.includes('kyc')) topics.push('identity');\nif (fullText.includes('payment') || fullText.includes('money') || fullText.includes('remittance')) topics.push('payments');\nif (topics.length === 0) topics.push('sovereignty');\n\n// Freedom relevance scoring\nlet freedom_relevance_score = 30;\nif (topics.includes('censorship-resistance')) freedom_relevance_score += 25;\nif (topics.includes('activism')) freedom_relevance_score += 20;\nif (topics.includes('bitcoin') || topics.includes('comms')) freedom_relevance_score += 15;\nif (fullText.includes('shutdown') || fullText.includes('repression')) freedom_relevance_score += 15;\nif (fullText.includes('use') || fullText.includes('deployed') || fullText.includes('helped')) freedom_relevance_score += 10;\nfreedom_relevance_score = Math.min(freedom_relevance_score, 100);\n\n// Credibility scoring\nlet credibility_score = 40;\nif (sourceUrl && inputData._sourceContent?.fetchSuccess) {\n  credibility_score = 60;\n  if (sourceUrl.includes('reuters') || sourceUrl.includes('bbc') || sourceUrl.includes('aljazeera')) {\n    credibility_score = 75;\n  }\n} else if (sourceUrl) {\n  credibility_score = 55;\n} else {\n  credibility_score = Math.min(credibility_score + 15, 60);\n}\n\n// Extract geo\nconst geo = [];\nif (region) geo.push(region);\nconst countries = ['Iran', 'China', 'Russia', 'Venezuela', 'Myanmar', 'Sudan', 'Nigeria', 'Uganda', 'Brazil', 'India'];\nfor (const country of countries) {\n  if (fullText.includes(country.toLowerCase()) && !geo.includes(country)) {\n    geo.push(country);\n  }\n}\n\n// Safety concern detection\nconst safety_concern = (fullText.includes('name') && fullText.includes('activist')) ||\n                       (fullText.includes('location') && fullText.includes('dissident')) ||\n                       fullText.includes('address') ||\n                       fullText.includes('phone number');\n\nlet risk_level = 'low';\nif (fullText.includes('activist') || fullText.includes('dissident') || fullText.includes('journalist')) risk_level = 'medium';\nif (safety_concern) risk_level = 'high';\n\nlet priority = storyData?.urgency || 'normal';\nif (fullText.includes('emergency') || fullText.includes('ongoing')) priority = 'urgent';\n\nconst summary = (title || message.substring(0, 100)).substring(0, 200).replace(/\\n/g, ' ').trim() + \n                (message.length > 100 && !title ? '...' : '');\n\n// Spam detection\nconst is_spam = fullText.includes('guaranteed returns') || \n                fullText.includes('airdrop') || \n                fullText.includes('100x') ||\n                fullText.includes('limited spots') ||\n                fullText.includes('exclusive group');\n\n// Note: should_queue_for_insight removed - queue decision now made in workflow based on thresholds\n\nconst result = {\n  topics: is_spam ? [] : topics,\n  freedom_relevance_score: is_spam ? 0 : freedom_relevance_score,\n  credibility_score: is_spam ? 0 : credibility_score,\n  geo: is_spam ? [] : geo,\n  safety_concern,\n  reasoning: is_spam ? 'Spam patterns detected.' : `Stub: ${topics.length} topics, relevance=${freedom_relevance_score}, cred=${credibility_score}${sourceContent ? ' (source fetched)' : sourceUrl ? ' (source provided)' : ' (no source)'}`,\n  risk_level: is_spam ? 'low' : risk_level,\n  priority: is_spam ? 'low' : priority,\n  summary: is_spam ? 'Spam - flagged for review' : summary,\n  key_entities: [],\n  is_spam\n};\n\nreturn [{\n  json: {\n    content: [{ type: 'text', text: JSON.stringify(result) }],\n    _submissionId: inputData.submissionId,\n    _message: message,\n    _storyData: storyData,\n    _sourceContent: inputData._sourceContent,\n    _runtime: inputData._runtime\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3940, 200],
      "id": "story-classify-stub",
      "name": "Story Classify Stub"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": {{ JSON.stringify($('Fetch Story Classify Prompt').first().json.content + \"\\n\\n# Input\\n\\n\" + JSON.stringify({ type: 'story', title: (() => { try { return $('Extract Text from HTML').first().json._storyData?.title; } catch(e) { try { return $('No Source URL').first().json._storyData?.title; } catch(e2) { return $('Parse LLM Response').first().json._storyData?.title; } } })(), description: (() => { try { return $('Extract Text from HTML').first().json.message; } catch(e) { try { return $('No Source URL').first().json.message; } catch(e2) { return $('Parse LLM Response').first().json.message; } } })(), sourceUrl: (() => { try { return $('Extract Text from HTML').first().json._storyData?.sourceUrl; } catch(e) { try { return $('No Source URL').first().json._storyData?.sourceUrl; } catch(e2) { return $('Parse LLM Response').first().json._storyData?.sourceUrl; } } })() || null, sourceContent: (() => { try { return $('Extract Text from HTML').first().json._sourceContent?.extracted; } catch(e) { return ''; } })() || null, region: (() => { try { return $('Extract Text from HTML').first().json._storyData?.region; } catch(e) { try { return $('No Source URL').first().json._storyData?.region; } catch(e2) { return $('Parse LLM Response').first().json._storyData?.region; } } })() || null, contact: $('Validate Input').first().json.contact ? true : false, urgency: (() => { try { return $('Extract Text from HTML').first().json._storyData?.urgency; } catch(e) { try { return $('No Source URL').first().json._storyData?.urgency; } catch(e2) { return $('Parse LLM Response').first().json._storyData?.urgency; } } })() || 'normal' })) }}\n  }]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [3940, 400],
      "id": "story-classify-claude",
      "name": "Story Classify with Claude API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Wrap Claude API response for story classification\nconst claudeResponse = $input.first().json;\n\n// Get data from source fetch nodes\nlet inputData;\ntry {\n  inputData = $('Extract Text from HTML').first().json;\n} catch (e1) {\n  try {\n    inputData = $('Handle Fetch Error').first().json;\n  } catch (e2) {\n    try {\n      inputData = $('No Source URL').first().json;\n    } catch (e3) {\n      inputData = $('Parse LLM Response').first().json;\n    }\n  }\n}\n\nreturn [{\n  json: {\n    content: claudeResponse.content,\n    _submissionId: inputData.submissionId,\n    _message: inputData.message,\n    _storyData: inputData._storyData,\n    _sourceContent: inputData._sourceContent,\n    _runtime: inputData._runtime\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4160, 400],
      "id": "wrap-story-classify-response",
      "name": "Wrap Story Classify Response"
    },
    {
      "parameters": {
        "jsCode": "// Handle errors from Story Claude API call\nconst error = $input.first().json;\n\n// Get data from source fetch nodes\nlet inputData;\ntry {\n  inputData = $('Extract Text from HTML').first().json;\n} catch (e1) {\n  try {\n    inputData = $('Handle Fetch Error').first().json;\n  } catch (e2) {\n    try {\n      inputData = $('No Source URL').first().json;\n    } catch (e3) {\n      inputData = $('Parse LLM Response').first().json;\n    }\n  }\n}\n\nconsole.log('Story Claude API error:', JSON.stringify(error));\n\nconst fallbackResult = {\n  topics: ['needs-review'],\n  freedom_relevance_score: 50,\n  credibility_score: 30,\n  geo: inputData._storyData?.region ? [inputData._storyData.region] : [],\n  safety_concern: false,\n  reasoning: 'Fallback classification due to API error - requires manual review',\n  risk_level: 'medium',\n  priority: 'normal',\n  summary: 'API error - manual review required',\n  should_queue_for_insight: false,\n  key_entities: []\n};\n\nreturn [{\n  json: {\n    content: [{ type: 'text', text: JSON.stringify(fallbackResult) }],\n    _submissionId: inputData.submissionId,\n    _message: inputData.message,\n    _storyData: inputData._storyData,\n    _sourceContent: inputData._sourceContent,\n    _runtime: inputData._runtime,\n    _apiError: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4160, 500],
      "id": "handle-story-classify-error",
      "name": "Handle Story Classify Error"
    },
    {
      "parameters": {
        "jsCode": "// Parse story classification LLM response\n// Note: Queue decision is now made in workflow based on thresholds, not by LLM\nconst input = $input.first().json;\nlet parsed;\n\ntry {\n  let text = input.content[0].text;\n  \n  // Strip markdown code blocks if present\n  text = text.trim();\n  if (text.startsWith('```')) {\n    text = text.replace(/^```(?:json)?\\s*\\n?/, '');\n    text = text.replace(/\\n?```\\s*$/, '');\n  }\n  \n  parsed = JSON.parse(text.trim());\n} catch (e) {\n  console.log('Parse Story LLM Response error:', e.message);\n  // Fallback\n  parsed = {\n    topics: ['needs-review'],\n    freedom_relevance_score: 50,\n    credibility_score: 30,\n    geo: [],\n    safety_concern: false,\n    reasoning: 'Failed to parse: ' + e.message,\n    risk_level: 'medium',\n    priority: 'normal',\n    summary: 'Parse error - manual review',\n    key_entities: [],\n    is_spam: false\n  };\n}\n\n// Ensure all required fields with defaults\nconst result = {\n  topics: Array.isArray(parsed.topics) ? parsed.topics : ['general'],\n  freedom_relevance_score: parseInt(parsed.freedom_relevance_score) || 50,\n  credibility_score: parseInt(parsed.credibility_score) || 30,\n  geo: Array.isArray(parsed.geo) ? parsed.geo : [],\n  safety_concern: Boolean(parsed.safety_concern),\n  reasoning: parsed.reasoning || '',\n  risk_level: parsed.risk_level || 'medium',\n  priority: parsed.priority || 'normal',\n  summary: (parsed.summary || '').substring(0, 200),\n  key_entities: Array.isArray(parsed.key_entities) ? parsed.key_entities : [],\n  is_spam: Boolean(parsed.is_spam),\n  \n  // Pass through data\n  _submissionId: input._submissionId,\n  _message: input._message,\n  _storyData: input._storyData,\n  _sourceContent: input._sourceContent,\n  _runtime: input._runtime\n};\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4380, 300],
      "id": "parse-story-llm-response",
      "name": "Parse Story LLM Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE submissions\n  SET freedom_relevance_score = $1,\n      credibility_score = $2,\n      safety_concern = $3,\n      tags = ARRAY(SELECT json_array_elements_text($4::json)),\n      geo = ARRAY(SELECT json_array_elements_text($5::json)),\n      reasoning = $6,\n      risk_level = $7,\n      priority = $8,\n      summary_text = $9,\n      key_entities = ARRAY(SELECT json_array_elements_text($10::json))\n  WHERE id = $11::uuid\n  RETURNING id, freedom_relevance_score, credibility_score, safety_concern",
        "options": {
          "queryReplacement": "={{ $json.freedom_relevance_score }}, {{ $json.credibility_score }}, {{ $json.safety_concern }}, {{ JSON.stringify($json.topics) }}, {{ JSON.stringify($json.geo) }}, {{ $json.reasoning }}, {{ $json.risk_level }}, {{ $json.priority }}, {{ $json.summary }}, {{ JSON.stringify($json.key_entities) }}, {{ $json._submissionId }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [4490, 300],
      "id": "update-story-submission",
      "name": "Update Story Submission",
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Restore story data after Postgres update and check queue threshold using config\n// Queue decision is now based on thresholds from config, not LLM output\n\nconst postgresResult = $input.first().json;\nconst storyData = $('Parse Story LLM Response').first().json;\n\n// Get thresholds from config (fetched at workflow start)\nlet intakeThresholds;\ntry {\n  const configData = $('Merge Config & Agents').first().json;\n  intakeThresholds = configData.intake || {};\n} catch (e) {\n  console.log('Could not get thresholds from config, using defaults');\n  intakeThresholds = {};\n}\n\n// Get threshold values (with defaults matching old prompt logic)\nconst relevanceThreshold = intakeThresholds.story_queue_relevance_threshold || 80;\nconst credibilityThreshold = intakeThresholds.story_queue_credibility_threshold || 40;\n\n// Check if story meets queue threshold\n// Conditions: relevance >= threshold AND credibility >= threshold AND NOT safety_concern AND NOT spam\nconst meetsRelevance = storyData.freedom_relevance_score >= relevanceThreshold;\nconst meetsCredibility = storyData.credibility_score >= credibilityThreshold;\nconst noSafetyConcern = !storyData.safety_concern;\nconst notSpam = !storyData.is_spam;\nconst meetsQueueThreshold = meetsRelevance && meetsCredibility && noSafetyConcern && notSpam;\n\nconsole.log(`Queue threshold check: relevance=${storyData.freedom_relevance_score}>=${relevanceThreshold}:${meetsRelevance}, credibility=${storyData.credibility_score}>=${credibilityThreshold}:${meetsCredibility}, safety_concern=${storyData.safety_concern}:${noSafetyConcern}, is_spam=${storyData.is_spam}:${notSpam}, result=${meetsQueueThreshold}`);\n\n// Restore all story data with queue decision added\nreturn [{\n  json: {\n    ...storyData,\n    meetsQueueThreshold,\n    _queueDecision: {\n      relevanceThreshold,\n      credibilityThreshold,\n      meetsRelevance,\n      meetsCredibility,\n      noSafetyConcern,\n      notSpam,\n      result: meetsQueueThreshold\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4600, 300],
      "id": "restore-and-check-threshold",
      "name": "Restore Data & Check Threshold"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-queue-threshold",
              "leftValue": "={{ $json.meetsQueueThreshold }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [4820, 300],
      "id": "check-queue-threshold",
      "name": "Queue for Insight?"
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for user_story_items insert\n// This table stores classified stories ready for Workflow A processing\nconst input = $input.first().json;\n\nconst url = input._storyData?.sourceUrl || 'intake://submission/' + input._submissionId;\nconst extractedText = input._message || '';\nconst sourceContent = input._sourceContent?.extracted || '';\nconst title = input._storyData?.title || input.summary || 'Untitled Story';\nconst region = input._storyData?.region || null;\nconst urgency = input._storyData?.urgency || 'normal';\n\n// Compute content hash for deduplication\nconst crypto = require('crypto');\nconst contentHash = crypto.createHash('sha256').update(extractedText).digest('hex');\n\n// Build metadata\nconst metadata = {\n  submission_id: input._submissionId,\n  source_content_length: sourceContent.length,\n  classified_at: new Date().toISOString()\n};\n\nreturn [{\n  json: {\n    ...input,\n    _userStoryData: {\n      submissionId: input._submissionId,\n      url,\n      extractedText,\n      contentHash,\n      title,\n      region,\n      urgency,\n      sourceContent,\n      metadata: JSON.stringify(metadata),\n      topics: JSON.stringify(input.topics),\n      geo: JSON.stringify(input.geo),\n      keyEntities: JSON.stringify(input.key_entities)\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5040, 200],
      "id": "prepare-user-story-item",
      "name": "Prepare User Story Item"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH url_check AS (\n  SELECT id FROM user_story_items\n  WHERE url = $2 AND url NOT LIKE 'intake://%'\n  LIMIT 1\n)\nINSERT INTO user_story_items (\n  submission_id,\n  url,\n  extracted_text,\n  content_hash,\n  title,\n  region,\n  urgency,\n  source_content,\n  metadata,\n  topics,\n  freedom_relevance_score,\n  credibility_score,\n  geo,\n  safety_concern,\n  reasoning,\n  risk_level,\n  priority,\n  summary_text,\n  key_entities,\n  tier\n)\nSELECT\n  $1::uuid,\n  $2,\n  $3,\n  $4,\n  $5,\n  $6,\n  $7,\n  $8,\n  $9::jsonb,\n  ARRAY(SELECT json_array_elements_text($10::json)),\n  $11,\n  $12,\n  ARRAY(SELECT json_array_elements_text($13::json)),\n  $14,\n  $15,\n  $16,\n  $17,\n  $18,\n  ARRAY(SELECT json_array_elements_text($19::json)),\n  2\nWHERE NOT EXISTS (SELECT 1 FROM url_check)\nON CONFLICT (content_hash) DO NOTHING\nRETURNING id",
        "options": {
          "queryReplacement": "={{ $json._userStoryData.submissionId }}, {{ $json._userStoryData.url }}, {{ $json._userStoryData.extractedText }}, {{ $json._userStoryData.contentHash }}, {{ $json._userStoryData.title }}, {{ $json._userStoryData.region }}, {{ $json._userStoryData.urgency }}, {{ $json._userStoryData.sourceContent }}, {{ $json._userStoryData.metadata }}, {{ $json._userStoryData.topics }}, {{ $json.freedom_relevance_score }}, {{ $json.credibility_score }}, {{ $json._userStoryData.geo }}, {{ $json.safety_concern }}, {{ $json.reasoning }}, {{ $json.risk_level }}, {{ $json.priority }}, {{ $json.summary }}, {{ $json._userStoryData.keyEntities }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [5260, 200],
      "id": "insert-user-story-item",
      "name": "Insert User Story Item",
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE submissions SET queued_for_insight = TRUE WHERE id = $1::uuid",
        "options": {
          "queryReplacement": "={{ $('Prepare User Story Item').first().json._submissionId }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [5480, 200],
      "id": "update-submission-queued",
      "name": "Mark Submission Queued",
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Restore story data after updates\nconst prepareData = $('Prepare User Story Item').first().json;\nreturn [{ json: prepareData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5700, 200],
      "id": "restore-after-user-story-insert",
      "name": "Restore After Insert"
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for GitHub issue creation after story processing\n// Normalizes data structure for both queued and non-queued stories\n\n// Try to get data from the restore node (if story was queued), otherwise from threshold check\nlet storyResult;\ntry {\n  storyResult = $('Restore After Insert').first().json;\n} catch (e) {\n  try {\n    storyResult = $('Restore Data & Check Threshold').first().json;\n  } catch (e2) {\n    storyResult = $('Parse Story LLM Response').first().json;\n  }\n}\n\nconst parsedLLM = $('Parse LLM Response').first().json;\nconst queuedForInsight = storyResult.meetsQueueThreshold || false;\n\n// Build a summary that includes queue status\nconst enrichedSummary = storyResult.summary + \n  (queuedForInsight ? ' [QUEUED FOR INSIGHT]' : '');\n\nreturn [{\n  json: {\n    // Standard fields expected by GitHub issue creation\n    category: parsedLLM.category,\n    tags: storyResult.topics,\n    risk_level: storyResult.risk_level,\n    priority: storyResult.priority,\n    summary: enrichedSummary,\n    is_spam: false,\n    requires_response: true,\n    suggested_assignee: 'research',\n    submissionId: storyResult._submissionId,\n    message: storyResult._message,\n    _runtime: storyResult._runtime,\n    \n    // Story-specific data for the issue body\n    _storyClassification: {\n      freedom_relevance_score: storyResult.freedom_relevance_score,\n      credibility_score: storyResult.credibility_score,\n      geo: storyResult.geo,\n      safety_concern: storyResult.safety_concern,\n      queued_for_insight: queuedForInsight,\n      reasoning: storyResult.reasoning\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5040, 300],
      "id": "prepare-story-for-github",
      "name": "Prepare Story for GitHub"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "use-stubs-github",
              "leftValue": "={{ $('Parse LLM Response').first().json._runtime?.use_stubs ?? true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [5260, 0],
      "id": "use-stubs-github",
      "name": "Use Stubs for GitHub?"
    },
    {
      "parameters": {
        "jsCode": "// Get data from story branch, project branch, or direct feedback branch\nlet parsed;\ntry {\n  // Try story branch first\n  parsed = $('Prepare Story for GitHub').first().json;\n} catch (e) {\n  // Fall back to direct feedback branch\n  parsed = $('Parse LLM Response').first().json;\n}\n\nreturn [{\n  json: {\n    html_url: `https://github.com/FGUTech/libertas/issues/MOCK-${parsed.submissionId.slice(0, 8)}`,\n    number: Math.floor(Math.random() * 1000),\n    title: `[Intake] ${parsed.summary.substring(0, 60)}`,\n    state: 'open',\n    _parsedData: parsed\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5480, -100],
      "id": "5325ad90-f9e6-4d20-98d7-2a5a66df3daf",
      "name": "GitHub Stub"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/FGUTech/libertas/issues",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"[Intake] {{ $json.summary.substring(0, 60) }}\",\n  \"body\": \"## Submission\\n\\n{{ $json.message.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\\n\\n---\\n\\n**ID:** `{{ $json.submissionId }}`\\n**Category:** {{ $json.category }}\\n**Risk Level:** {{ $json.risk_level }}\\n**Priority:** {{ $json.priority }}\\n**Tags:** {{ $json.tags.join(', ') }}\\n**Requires Response:** {{ $json.requires_response }}\\n**Suggested Assignee:** {{ $json.suggested_assignee }}{{ $json._storyClassification ? '\\n\\n### Story Classification\\n**Freedom Relevance:** ' + $json._storyClassification.freedom_relevance_score + '/100\\n**Credibility:** ' + $json._storyClassification.credibility_score + '/100\\n**Geo:** ' + ($json._storyClassification.geo?.join(', ') || 'N/A') + '\\n**Safety Concern:** ' + $json._storyClassification.safety_concern + '\\n**Queued for Insight:** ' + $json._storyClassification.queued_for_insight : '' }}\\n\\n---\\n*Auto-generated by Libertas*\",\n  \"labels\": [\"intake\", \"{{ $json.priority }}\"{{ $json._storyClassification ? ', \"story\"' : '' }}]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [5480, 100],
      "id": "2fb51810-cc40-4e23-876f-0c497c77d25e",
      "name": "Create GitHub Issue",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GITHUB_CREDENTIAL_ID",
          "name": "GitHub API Token"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Process real GitHub API response and add pass-through data\nconst githubResponse = $input.first().json;\n\n// Get data from story branch or direct feedback branch\nlet parsedData;\ntry {\n  parsedData = $('Prepare Story for GitHub').first().json;\n} catch (e) {\n  parsedData = $('Parse LLM Response').first().json;\n}\n\nreturn [{\n  json: {\n    html_url: githubResponse.html_url,\n    number: githubResponse.number,\n    title: githubResponse.title,\n    state: githubResponse.state,\n    _parsedData: parsedData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5700, 100],
      "id": "wrap-github-response",
      "name": "Wrap GitHub Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE submissions\n  SET github_issue_url = $1\n  WHERE id = $2::uuid",
        "options": {
          "queryReplacement": "={{ $json.html_url }}, {{ $json._parsedData.submissionId }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [5920, 0],
      "id": "41b4f10a-baf9-4fbe-a482-5737b1d56e01",
      "name": "Save Issue URL",
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"id\": \"{{ $('Parse LLM Response').first().json.submissionId }}\",\n  \"status\": \"received\",\n  \"message\": \"Thank you for your submission.\"\n}",
        "options": {
          "responseCode": 201
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [6140, 0],
      "id": "144e0a40-14fc-4208-9e48-d8ee2b5a343d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Handle errors from Claude API call\n// This provides graceful degradation when API fails\n\nconst error = $input.first().json;\nconst validateInput = $('Validate Input').first().json;\nconst submissionData = $('Insert Submission').first().json;\n\nconsole.log('Claude API error:', JSON.stringify(error));\n\n// Create fallback classification\nconst fallbackClassification = {\n  category: 'other',\n  tags: ['needs-review'],\n  risk_level: 'medium',  // Conservative default\n  priority: 'normal',\n  summary: 'Auto-classified due to API error - requires manual review',\n  is_spam: false,\n  requires_response: true,\n  suggested_assignee: 'triage'\n};\n\n// Return in same format as successful response\nreturn [{\n  json: {\n    content: [{\n      type: 'text',\n      text: JSON.stringify(fallbackClassification)\n    }],\n    _submissionId: submissionData.id,\n    _message: submissionData.message,\n    _agents: validateInput._agents,\n    _runtime: validateInput._runtime,\n    _storyData: {\n      type: validateInput.type,\n      title: validateInput.title,\n      sourceUrl: validateInput.sourceUrl,\n      region: validateInput.region,\n      urgency: validateInput.urgency,\n      problemStatement: validateInput.problemStatement\n    },\n    _apiError: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 200],
      "id": "handle-claude-error",
      "name": "Handle Claude Error"
    },
    {
      "parameters": {
        "jsCode": "// Handle errors from GitHub API call\n// This provides graceful degradation when API fails\n\nconst error = $input.first().json;\n\n// Get data from story branch or direct feedback branch\nlet parsedData;\ntry {\n  parsedData = $('Prepare Story for GitHub').first().json;\n} catch (e) {\n  parsedData = $('Parse LLM Response').first().json;\n}\n\nconsole.log('GitHub API error:', JSON.stringify(error));\n\n// Return mock issue URL to allow workflow to continue\nreturn [{\n  json: {\n    html_url: null,  // No issue created\n    number: null,\n    title: `[Intake] ${parsedData.summary.substring(0, 60)}`,\n    state: 'error',\n    _parsedData: parsedData,\n    _apiError: true,\n    _errorMessage: 'GitHub issue creation failed - will retry later'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5700, 200],
      "id": "handle-github-error",
      "name": "Handle GitHub Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-feedback-check",
              "leftValue": "={{ $('Parse LLM Response').first().json._storyData?.type }}",
              "rightValue": "feedback",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3060, -200],
      "id": "is-feedback-check",
      "name": "Is Feedback?"
    },
    {
      "parameters": {
        "url": "https://libertas.fgu.tech/api/agents/intake-feedback-assess",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [3280, -700],
      "id": "fetch-feedback-assess-prompt",
      "name": "Fetch Feedback Assess Prompt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "use-stubs-feedback-assess",
              "leftValue": "={{ $('Parse LLM Response').first().json._runtime?.use_stubs ?? true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3500, -700],
      "id": "use-stubs-feedback-assess",
      "name": "Use Stubs for Feedback Assess?"
    },
    {
      "parameters": {
        "jsCode": "// Feedback Assess Stub for testing (1.13c)\n// Provides keyword-based feedback assessment without calling Claude API\n\nconst parsedLLM = $('Parse LLM Response').first().json;\nconst message = parsedLLM.message || '';\nconst category = parsedLLM.category || 'other';\nconst fullText = message.toLowerCase();\n\n// Spam detection\nconst is_spam = fullText.includes('crypto airdrop') ||\n                fullText.includes('click here') ||\n                fullText.includes('guaranteed returns') ||\n                fullText.includes('100x') ||\n                (message.match(/https?:\\/\\//g) || []).length > 3;\n\n// Priority assessment\nlet priority = 'normal';\nif (fullText.includes('security') || fullText.includes('vulnerability') || fullText.includes('data loss')) {\n  priority = 'urgent';\n} else if (fullText.includes('urgent') || fullText.includes('emergency') || fullText.includes('broken')) {\n  priority = 'urgent';\n} else if (fullText.includes('minor') || fullText.includes('cosmetic') || fullText.includes('nice to have')) {\n  priority = 'low';\n}\n\n// Extract actionable items\nconst actionable_items = [];\nif (fullText.includes('bug') || fullText.includes('broken') || fullText.includes('not working')) {\n  actionable_items.push('Investigate reported issue');\n}\nif (fullText.includes('feature') || fullText.includes('would be great') || fullText.includes('should')) {\n  actionable_items.push('Evaluate feature request');\n}\nif (fullText.includes('content') || fullText.includes('article') || fullText.includes('cover')) {\n  actionable_items.push('Review content suggestion');\n}\nif (actionable_items.length === 0) {\n  actionable_items.push('Review feedback and determine next steps');\n}\n\n// Suggested assignee based on category\nlet suggested_assignee = 'triage';\nif (category === 'bug') suggested_assignee = 'engineering';\nelse if (category === 'feature') suggested_assignee = 'engineering';\nelse if (category === 'content') suggested_assignee = 'content';\n\n// Generate summary\nconst summary = message.substring(0, 180).replace(/\\n/g, ' ').trim() + (message.length > 180 ? '...' : '');\n\n// Sentiment detection\nlet sentiment = 'neutral';\nif (fullText.includes('love') || fullText.includes('great') || fullText.includes('awesome')) sentiment = 'positive';\nelse if (fullText.includes('hate') || fullText.includes('terrible') || fullText.includes('awful')) sentiment = 'negative';\nelse if (fullText.includes('suggest') || fullText.includes('could') || fullText.includes('should')) sentiment = 'constructive';\n\nconst result = {\n  is_spam,\n  priority: is_spam ? 'low' : priority,\n  actionable_items: is_spam ? [] : actionable_items,\n  suggested_assignee: is_spam ? 'triage' : suggested_assignee,\n  summary,\n  sentiment,\n  requires_clarification: message.length < 50 && !is_spam,\n  clarification_needed: message.length < 50 && !is_spam ? 'More details would help us address your feedback' : ''\n};\n\nreturn [{\n  json: {\n    content: [{ type: 'text', text: JSON.stringify(result) }],\n    _submissionId: parsedLLM.submissionId,\n    _message: message,\n    _feedbackData: {\n      category: category,\n      contact: parsedLLM.contact || null,\n      requires_response: parsedLLM.requires_response || false\n    },\n    _runtime: parsedLLM._runtime\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3720, -800],
      "id": "feedback-assess-stub",
      "name": "Feedback Assess Stub"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": {{ JSON.stringify($('Fetch Feedback Assess Prompt').first().json.content + \"\\n\\n# Input\\n\\n\" + JSON.stringify({ message: $('Parse LLM Response').first().json.message, category: $('Parse LLM Response').first().json.category || 'other', contact: $('Parse LLM Response').first().json.contact ? true : false, requires_response: $('Parse LLM Response').first().json.requires_response || false })) }}\n  }]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [3720, -600],
      "id": "feedback-assess-claude",
      "name": "Feedback Assess with Claude API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Wrap Claude API response for feedback assessment\nconst claudeResponse = $input.first().json;\nconst parsedLLM = $('Parse LLM Response').first().json;\n\nreturn [{\n  json: {\n    content: claudeResponse.content,\n    _submissionId: parsedLLM.submissionId,\n    _message: parsedLLM.message,\n    _feedbackData: {\n      category: parsedLLM.category || 'other',\n      contact: parsedLLM.contact || null,\n      requires_response: parsedLLM.requires_response || false\n    },\n    _runtime: parsedLLM._runtime\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3940, -600],
      "id": "wrap-feedback-assess-response",
      "name": "Wrap Feedback Assess Response"
    },
    {
      "parameters": {
        "jsCode": "// Handle errors from Feedback Assess Claude API call\nconst error = $input.first().json;\nconst parsedLLM = $('Parse LLM Response').first().json;\n\nconsole.log('Feedback Assess Claude API error:', JSON.stringify(error));\n\nconst fallbackResult = {\n  is_spam: false,\n  priority: 'normal',\n  actionable_items: ['Manual review required due to API error'],\n  suggested_assignee: 'triage',\n  summary: 'API error - manual review required',\n  sentiment: 'neutral',\n  requires_clarification: false,\n  clarification_needed: ''\n};\n\nreturn [{\n  json: {\n    content: [{ type: 'text', text: JSON.stringify(fallbackResult) }],\n    _submissionId: parsedLLM.submissionId,\n    _message: parsedLLM.message,\n    _feedbackData: {\n      category: parsedLLM.category || 'other',\n      contact: parsedLLM.contact || null,\n      requires_response: parsedLLM.requires_response || false\n    },\n    _runtime: parsedLLM._runtime,\n    _apiError: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3940, -500],
      "id": "handle-feedback-assess-error",
      "name": "Handle Feedback Assess Error"
    },
    {
      "parameters": {
        "jsCode": "// Parse feedback assessment LLM response\nconst input = $input.first().json;\nlet parsed;\n\ntry {\n  let text = input.content[0].text;\n  \n  // Strip markdown code blocks if present\n  text = text.trim();\n  if (text.startsWith('```')) {\n    text = text.replace(/^```(?:json)?\\s*\\n?/, '');\n    text = text.replace(/\\n?```\\s*$/, '');\n  }\n  \n  parsed = JSON.parse(text.trim());\n} catch (e) {\n  console.log('Parse Feedback LLM Response error:', e.message);\n  parsed = {\n    is_spam: false,\n    priority: 'normal',\n    actionable_items: ['Parse error - manual review required'],\n    suggested_assignee: 'triage',\n    summary: 'Failed to parse: ' + e.message,\n    sentiment: 'neutral',\n    requires_clarification: false,\n    clarification_needed: ''\n  };\n}\n\n// Ensure all required fields with defaults\nconst result = {\n  is_spam: Boolean(parsed.is_spam),\n  priority: parsed.priority || 'normal',\n  actionable_items: Array.isArray(parsed.actionable_items) ? parsed.actionable_items : [],\n  suggested_assignee: parsed.suggested_assignee || 'triage',\n  summary: (parsed.summary || '').substring(0, 200),\n  sentiment: parsed.sentiment || 'neutral',\n  requires_clarification: Boolean(parsed.requires_clarification),\n  clarification_needed: parsed.clarification_needed || '',\n  \n  // Pass through data\n  _submissionId: input._submissionId,\n  _message: input._message,\n  _feedbackData: input._feedbackData,\n  _runtime: input._runtime\n};\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4160, -700],
      "id": "parse-feedback-llm-response",
      "name": "Parse Feedback LLM Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-spam-feedback-check",
              "leftValue": "={{ $json.is_spam }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [4270, -700],
      "id": "is-not-spam-feedback",
      "name": "Is Not Spam (Feedback)?"
    },
    {
      "parameters": {
        "jsCode": "// Handle spam feedback submission - skip GitHub issue creation\nconst data = $input.first().json;\n\nconsole.log(`[SPAM] Feedback submission ${data._submissionId} flagged as spam. Skipping GitHub issue creation.`);\n\nreturn [{\n  json: {\n    submissionId: data._submissionId,\n    is_spam: true,\n    success: true,\n    type: 'feedback',\n    message: 'Submission flagged as spam - no GitHub issue created'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4380, -600],
      "id": "handle-feedback-spam",
      "name": "Handle Feedback Spam"
    },
    {
      "parameters": {
        "jsCode": "// Map feedback category to GitHub labels\n// Category mapping per roadmap 1.13c:\n// bug → [bug, feedback]\n// feature → [enhancement, feedback]\n// content → [content, feedback]\n// other → [feedback, triage-needed]\n\nconst data = $input.first().json;\nconst feedbackData = data._feedbackData;\nconst category = feedbackData?.category || 'other';\n\nlet labels = ['feedback'];\nlet targetRepo = 'FGUTech/libertas'; // All feedback goes to main repo\n\nswitch (category) {\n  case 'bug':\n    labels = ['bug', 'feedback'];\n    break;\n  case 'feature':\n    labels = ['enhancement', 'feedback'];\n    break;\n  case 'content':\n    labels = ['content', 'feedback'];\n    break;\n  default:\n    labels = ['feedback', 'triage-needed'];\n}\n\n// Add priority label if urgent\nif (data.priority === 'urgent') {\n  labels.push('priority-urgent');\n}\n\n// Build issue title\nlet titlePrefix = '[Feedback]';\nif (category === 'bug') titlePrefix = '[Bug Report]';\nelse if (category === 'feature') titlePrefix = '[Feature Request]';\nelse if (category === 'content') titlePrefix = '[Content Suggestion]';\n\nconst titleText = data.summary.length > 50 \n  ? data.summary.substring(0, 47).replace(/\\s+\\S*$/, '') + '...'\n  : data.summary;\n\nconst issueTitle = `${titlePrefix} ${titleText}`;\n\n// Build issue body\nconst actionableList = data.actionable_items.length > 0\n  ? data.actionable_items.map(item => `- ${item}`).join('\\n')\n  : '_No specific actions identified_';\n\nconst contactSection = feedbackData.contact && feedbackData.requires_response\n  ? '\\n\\n**Contact:** Provided (check submission record for details)\\n**Response Requested:** Yes'\n  : '';\n\nconst issueBody = `## Feedback\n\n${data._message}\n\n## Assessment\n\n**Category:** ${category}\n**Priority:** ${data.priority}\n**Sentiment:** ${data.sentiment}\n**Suggested Assignee:** ${data.suggested_assignee}\n\n## Actionable Items\n\n${actionableList}\n\n${data.requires_clarification ? '### Clarification Needed\\n\\n' + data.clarification_needed + '\\n\\n' : ''}---\n**Submission ID:** \\`${data._submissionId}\\`${contactSection}\n\n---\n*Auto-generated by Libertas Workflow C (Feedback Intake)*`;\n\nreturn [{\n  json: {\n    issueTitle,\n    issueBody,\n    labels,\n    targetRepo,\n    ...data\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4380, -700],
      "id": "map-feedback-to-labels",
      "name": "Map Feedback to Labels"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "use-stubs-feedback-github",
              "leftValue": "={{ $('Parse LLM Response').first().json._runtime?.use_stubs ?? true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [4600, -700],
      "id": "use-stubs-feedback-github",
      "name": "Use Stubs for Feedback GitHub?"
    },
    {
      "parameters": {
        "jsCode": "// STUB: Simulate GitHub issue creation for feedback\nconst data = $input.first().json;\n\nconst stubIssueNumber = 300 + Math.floor(Math.random() * 700);\nconst stubIssueUrl = `https://github.com/${data.targetRepo}/issues/${stubIssueNumber}`;\n\nconsole.log(`[STUB] Created mock GitHub feedback issue #${stubIssueNumber}`);\nconsole.log(`[STUB] Labels: ${data.labels.join(', ')}`);\n\nreturn [{\n  json: {\n    html_url: stubIssueUrl,\n    number: stubIssueNumber,\n    title: data.issueTitle,\n    state: 'open',\n    _submissionId: data._submissionId,\n    _feedbackData: data._feedbackData,\n    _isStub: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4820, -800],
      "id": "feedback-github-stub",
      "name": "Feedback GitHub Stub"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $json.targetRepo }}/issues",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": {{ JSON.stringify($json.issueTitle) }},\n  \"body\": {{ JSON.stringify($json.issueBody) }},\n  \"labels\": {{ JSON.stringify($json.labels) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [4820, -600],
      "id": "create-feedback-github-issue",
      "name": "Create Feedback GitHub Issue",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GITHUB_CREDENTIAL_ID",
          "name": "GitHub API Token"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Wrap real GitHub API response for feedback issues\nconst githubResponse = $input.first().json;\nconst prepareData = $('Map Feedback to Labels').first().json;\n\nreturn [{\n  json: {\n    html_url: githubResponse.html_url,\n    number: githubResponse.number,\n    title: githubResponse.title,\n    state: githubResponse.state,\n    _submissionId: prepareData._submissionId,\n    _feedbackData: prepareData._feedbackData,\n    _isStub: false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5040, -600],
      "id": "wrap-feedback-github-response",
      "name": "Wrap Feedback GitHub Response"
    },
    {
      "parameters": {
        "jsCode": "// Handle errors from Feedback GitHub API call\nconst error = $input.first().json;\nconst prepareData = $('Map Feedback to Labels').first().json;\n\nconsole.log('Feedback GitHub API error:', JSON.stringify(error));\n\nreturn [{\n  json: {\n    html_url: null,\n    number: null,\n    title: prepareData.issueTitle,\n    state: 'error',\n    _submissionId: prepareData._submissionId,\n    _feedbackData: prepareData._feedbackData,\n    _isStub: false,\n    _apiError: true,\n    _errorMessage: 'Feedback GitHub issue creation failed - will retry later'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5040, -500],
      "id": "handle-feedback-github-error",
      "name": "Handle Feedback GitHub Error"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE submissions\n  SET github_issue_url = $1,\n      status = 'triaged'\n  WHERE id = $2::uuid",
        "options": {
          "queryReplacement": "={{ $json.html_url }}, {{ $json._submissionId }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [5260, -700],
      "id": "update-feedback-submission",
      "name": "Update Feedback Submission",
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare response for feedback submissions\nconst data = $input.first().json;\nconst feedbackData = $('Map Feedback to Labels').first().json._feedbackData;\n\nreturn [{\n  json: {\n    submissionId: data._submissionId,\n    githubIssueUrl: data.html_url,\n    success: !data._apiError,\n    type: 'feedback',\n    category: feedbackData?.category || 'other',\n    requiresResponse: feedbackData?.requires_response || false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5480, -700],
      "id": "feedback-success-summary",
      "name": "Feedback Success Summary"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Rate Limit Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Check": {
      "main": [
        [
          {
            "node": "Fetch Thresholds Config",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Intake Classify Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Thresholds Config": {
      "main": [
        [
          {
            "node": "Wait for Fetches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Intake Classify Prompt": {
      "main": [
        [
          {
            "node": "Wait for Fetches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for Fetches": {
      "main": [
        [
          {
            "node": "Merge Config & Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Config & Agents": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Prepare Submission Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Submission Insert": {
      "main": [
        [
          {
            "node": "Insert Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Submission": {
      "main": [
        [
          {
            "node": "Use Stubs for Classify?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Stubs for Classify?": {
      "main": [
        [
          {
            "node": "Classify Stub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Classify with Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Stub": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify with Claude API": {
      "main": [
        [
          {
            "node": "Wrap Claude Classify Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Claude Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap Claude Classify Response": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Claude Error": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "Update Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Submission": {
      "main": [
        [
          {
            "node": "Is Story?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Story?": {
      "main": [
        [
          {
            "node": "Has Source URL?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Project?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Project?": {
      "main": [
        [
          {
            "node": "Fetch Project Evaluate Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Feedback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Project Evaluate Prompt": {
      "main": [
        [
          {
            "node": "Use Stubs for Project Evaluate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Stubs for Project Evaluate?": {
      "main": [
        [
          {
            "node": "Project Evaluate Stub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Project Evaluate with Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Project Evaluate Stub": {
      "main": [
        [
          {
            "node": "Parse Project LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Project Evaluate with Claude API": {
      "main": [
        [
          {
            "node": "Wrap Project Evaluate Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Project Evaluate Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap Project Evaluate Response": {
      "main": [
        [
          {
            "node": "Parse Project LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Project Evaluate Error": {
      "main": [
        [
          {
            "node": "Parse Project LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Project LLM Response": {
      "main": [
        [
          {
            "node": "Is Not Spam?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Not Spam?": {
      "main": [
        [
          {
            "node": "Build Project Idea Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Project Spam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Project Spam": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Project Idea Query": {
      "main": [
        [
          {
            "node": "Insert Project Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Project Idea": {
      "main": [
        [
          {
            "node": "Prepare Project for GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Project for GitHub": {
      "main": [
        [
          {
            "node": "Use Stubs for Project GitHub?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Stubs for Project GitHub?": {
      "main": [
        [
          {
            "node": "Project GitHub Stub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Project GitHub Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Project GitHub Stub": {
      "main": [
        [
          {
            "node": "Build Project Update Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Project GitHub Issue": {
      "main": [
        [
          {
            "node": "Wrap Project GitHub Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Project GitHub Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap Project GitHub Response": {
      "main": [
        [
          {
            "node": "Build Project Update Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Project GitHub Error": {
      "main": [
        [
          {
            "node": "Build Project Update Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Project Update Query": {
      "main": [
        [
          {
            "node": "Update Project Idea URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Project Idea URL": {
      "main": [
        [
          {
            "node": "Project Success Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Project Success Summary": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Source URL?": {
      "main": [
        [
          {
            "node": "Fetch Source Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Source URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Source Content": {
      "main": [
        [
          {
            "node": "Extract Text from HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Fetch Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from HTML": {
      "main": [
        [
          {
            "node": "Fetch Story Classify Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Fetch Error": {
      "main": [
        [
          {
            "node": "Fetch Story Classify Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Source URL": {
      "main": [
        [
          {
            "node": "Fetch Story Classify Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Story Classify Prompt": {
      "main": [
        [
          {
            "node": "Use Stubs for Story Classify?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Stubs for Story Classify?": {
      "main": [
        [
          {
            "node": "Story Classify Stub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Story Classify with Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Story Classify Stub": {
      "main": [
        [
          {
            "node": "Parse Story LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Story Classify with Claude API": {
      "main": [
        [
          {
            "node": "Wrap Story Classify Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Story Classify Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap Story Classify Response": {
      "main": [
        [
          {
            "node": "Parse Story LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Story Classify Error": {
      "main": [
        [
          {
            "node": "Parse Story LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Story LLM Response": {
      "main": [
        [
          {
            "node": "Update Story Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Story Submission": {
      "main": [
        [
          {
            "node": "Restore Data & Check Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Data & Check Threshold": {
      "main": [
        [
          {
            "node": "Queue for Insight?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue for Insight?": {
      "main": [
        [
          {
            "node": "Prepare User Story Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Story for GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare User Story Item": {
      "main": [
        [
          {
            "node": "Insert User Story Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert User Story Item": {
      "main": [
        [
          {
            "node": "Mark Submission Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Submission Queued": {
      "main": [
        [
          {
            "node": "Restore After Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore After Insert": {
      "main": [
        [
          {
            "node": "Prepare Story for GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Story for GitHub": {
      "main": [
        [
          {
            "node": "Use Stubs for GitHub?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Stubs for GitHub?": {
      "main": [
        [
          {
            "node": "GitHub Stub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create GitHub Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Stub": {
      "main": [
        [
          {
            "node": "Save Issue URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GitHub Issue": {
      "main": [
        [
          {
            "node": "Wrap GitHub Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle GitHub Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap GitHub Response": {
      "main": [
        [
          {
            "node": "Save Issue URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle GitHub Error": {
      "main": [
        [
          {
            "node": "Save Issue URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Issue URL": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Feedback?": {
      "main": [
        [
          {
            "node": "Fetch Feedback Assess Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Use Stubs for GitHub?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Feedback Assess Prompt": {
      "main": [
        [
          {
            "node": "Use Stubs for Feedback Assess?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Stubs for Feedback Assess?": {
      "main": [
        [
          {
            "node": "Feedback Assess Stub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Feedback Assess with Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback Assess Stub": {
      "main": [
        [
          {
            "node": "Parse Feedback LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback Assess with Claude API": {
      "main": [
        [
          {
            "node": "Wrap Feedback Assess Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Feedback Assess Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap Feedback Assess Response": {
      "main": [
        [
          {
            "node": "Parse Feedback LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Feedback Assess Error": {
      "main": [
        [
          {
            "node": "Parse Feedback LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Feedback LLM Response": {
      "main": [
        [
          {
            "node": "Is Not Spam (Feedback)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Not Spam (Feedback)?": {
      "main": [
        [
          {
            "node": "Map Feedback to Labels",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Feedback Spam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Feedback Spam": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Feedback to Labels": {
      "main": [
        [
          {
            "node": "Use Stubs for Feedback GitHub?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Stubs for Feedback GitHub?": {
      "main": [
        [
          {
            "node": "Feedback GitHub Stub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Feedback GitHub Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback GitHub Stub": {
      "main": [
        [
          {
            "node": "Update Feedback Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Feedback GitHub Issue": {
      "main": [
        [
          {
            "node": "Wrap Feedback GitHub Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Feedback GitHub Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap Feedback GitHub Response": {
      "main": [
        [
          {
            "node": "Update Feedback Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Feedback GitHub Error": {
      "main": [
        [
          {
            "node": "Update Feedback Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Feedback Submission": {
      "main": [
        [
          {
            "node": "Feedback Success Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback Success Summary": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5452bd0b-cf72-466a-80e8-66df9ab9f282",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c52e1b61141902bda826728d3cf15d2a867de8395f358b7459edf58ff4157ae"
  },
  "id": "Dtx0MhjeNh67vD7SpsXmt",
  "tags": []
}
