n8n/workflows/workflow-d-ideas.json
{
  "name": "Libertas - Project Idea Generator - Workflow D",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3008,
        4496
      ],
      "id": "0c72e63d-a925-41a6-b7a0-8f6f9e71d42a",
      "name": "Weekly Sunday 10am UTC"
    },
    {
      "parameters": {
        "url": "https://libertas.fgu.tech/api/config/thresholds",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2704,
        4400
      ],
      "id": "9443d2c9-5a85-4d62-bd4a-a4bdb08c1790",
      "name": "Fetch Thresholds Config"
    },
    {
      "parameters": {
        "url": "https://libertas.fgu.tech/api/agents/generate-idea",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2704,
        4576
      ],
      "id": "f42a4502-6879-49d5-9db9-f8a2cc9dc3f3",
      "name": "Fetch Generate Idea Prompt"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -2496,
        4496
      ],
      "id": "1489fe3d-115f-4521-9258-8796218de014",
      "name": "Merge Config & Prompt"
    },
    {
      "parameters": {
        "jsCode": "// Merge thresholds config and generate-idea agent prompt\n// Uses $input.all() to get both merged items from parallel fetches\nconst allItems = $input.all();\n\nlet thresholdsConfig = null;\nlet generateIdeaPrompt = null;\n\nfor (const item of allItems) {\n  const data = item.json;\n  // Identify thresholds config by presence of runtime/ideas/publishing sections\n  if (data.runtime || data.ideas || data.publishing || data.ingestion) {\n    thresholdsConfig = data;\n  }\n  // Identify agent prompt by presence of content field\n  else if (data.content && data.name === 'generate-idea') {\n    generateIdeaPrompt = data;\n  }\n  else if (data.content) {\n    // Fallback: assume it's the agent prompt\n    generateIdeaPrompt = data;\n  }\n}\n\nif (!thresholdsConfig) {\n  console.log('Warning: Could not find thresholds config');\n  thresholdsConfig = { runtime: { use_stubs: true }, ideas: {} };\n}\n\nif (!generateIdeaPrompt) {\n  console.log('Warning: Could not find generate-idea agent prompt');\n  generateIdeaPrompt = { content: '' };\n}\n\nreturn [{\n  json: {\n    ...thresholdsConfig,\n    _agents: {\n      generateIdea: generateIdeaPrompt.content\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2304,
        4496
      ],
      "id": "307546bb-dc56-4fbc-a2ec-3b993d326ea9",
      "name": "Merge Config & Agents"
    },
    {
      "parameters": {
        "jsCode": "// Calculate date range for idea generation\n// Uses config values from merged config + agents\n\nconst merged = $input.first().json;\nconst ideasConfig = merged.ideas || {};\nconst agents = merged._agents;\nconst runtime = merged.runtime || { use_stubs: true };\n\n// Get thresholds from config\nconst minRelevanceScore = ideasConfig.min_relevance_for_idea || 80;\nconst minFeasibility = ideasConfig.min_feasibility || 50;\nconst minImpact = ideasConfig.min_impact || 50;\nconst lookbackDays = ideasConfig.lookback_days || 7;\n\nconst now = new Date();\n\nconst periodEnd = new Date(now);\nperiodEnd.setUTCHours(23, 59, 59, 999);\n\nconst periodStart = new Date(now);\nperiodStart.setUTCDate(periodStart.getUTCDate() - lookbackDays);\nperiodStart.setUTCHours(0, 0, 0, 0);\n\n// Format dates for SQL query\nconst formatDateSQL = (d) => d.toISOString();\n\nconsole.log(`Using thresholds from config: minRelevanceScore=${minRelevanceScore}, minFeasibility=${minFeasibility}, minImpact=${minImpact}, lookbackDays=${lookbackDays}`);\nconsole.log(`Loaded generate-idea agent prompt: ${agents?.generateIdea?.length || 0} chars`);\nconsole.log(`Runtime mode: use_stubs=${runtime.use_stubs}`);\n\nreturn [{\n  json: {\n    periodStartSQL: formatDateSQL(periodStart),\n    periodEndSQL: formatDateSQL(periodEnd),\n    generatedAt: now.toISOString(),\n    minRelevanceScore,\n    _thresholds: {\n      runtime: runtime,\n      minRelevanceScore,\n      minFeasibility,\n      minImpact,\n      lookbackDays\n    },\n    _agents: agents\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1952,
        4496
      ],
      "id": "6de769aa-8e7d-45f6-b8fa-ced5f3b63629",
      "name": "Calculate Period"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  i.id, i.title, i.tldr, i.summary_bullets, i.deep_dive_markdown,\n  i.topics, i.geo, i.freedom_relevance_score, i.credibility_score,\n  i.citations, i.status, i.published_url, i.published_at, i.created_at\nFROM insights i\nWHERE i.status = 'published'\n  AND i.freedom_relevance_score >= $1\n  AND i.created_at >= $2::timestamptz\n  AND i.created_at <= $3::timestamptz\n  AND NOT EXISTS (\n    SELECT 1 FROM project_ideas p\n    WHERE i.id = ANY(p.derived_from_insight_ids)\n  )\nORDER BY i.freedom_relevance_score DESC, i.created_at DESC",
        "options": {
          "queryReplacement": "={{ $json.minRelevanceScore }}, {{ $json.periodStartSQL }}, {{ $json.periodEndSQL }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1792,
        4496
      ],
      "id": "8246aefb-babf-4888-91b7-9a20ec9aab05",
      "name": "Query High-Signal Insights",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge insights with period data and check if we have any\nconst insights = $input.all().map(item => item.json);\nconst periodData = $('Calculate Period').first().json;\nconst agents = periodData._agents;\nconst thresholds = periodData._thresholds;\n\n// Filter out empty results (when query returns no rows)\nconst validInsights = insights.filter(i => i.id);\n\nif (validInsights.length === 0) {\n  return [{\n    json: {\n      ...periodData,\n      insights: [],\n      insightCount: 0,\n      hasInsights: false,\n      _agents: agents,\n      _thresholds: thresholds\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...periodData,\n    insights: validInsights,\n    insightCount: validInsights.length,\n    hasInsights: true,\n    _agents: agents,\n    _thresholds: thresholds\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1632,
        4496
      ],
      "id": "4c057774-7dc9-4771-b302-20a68dbb2575",
      "name": "Merge Insights with Period"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-insights",
              "leftValue": "={{ $json.hasInsights }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1472,
        4496
      ],
      "id": "56b994e5-f2bf-46ba-a064-1168bfd1a0ba",
      "name": "Has Insights?"
    },
    {
      "parameters": {
        "jsCode": "// Format all insights for Claude - NO CLUSTERING\n// Single call with all insights enables cross-topic pattern detection\nconst data = $input.first().json;\nconst insights = data.insights || [];\nconst thresholds = data._thresholds || {};\nconst agents = data._agents || {};\n\n// Format insights array (lean fields only, matching generate-idea.md input spec)\nconst formattedInsights = insights.map(i => ({\n  id: i.id,\n  title: i.title,\n  tldr: i.tldr,\n  bullets: i.summary_bullets || [],\n  topics: i.topics || [],\n  geo: i.geo || [],\n  score: i.freedom_relevance_score\n}));\n\n// Collect all insight data needed for downstream processing\nconst allInsightIds = insights.map(i => i.id);\nconst allCitations = [];\nfor (const insight of insights) {\n  if (insight.citations && Array.isArray(insight.citations)) {\n    allCitations.push(...insight.citations);\n  }\n}\nconst uniqueCitations = [...new Set(allCitations)];\n\nconsole.log(`Formatted ${formattedInsights.length} insights for Claude (no clustering)`);\n\nreturn [{\n  json: {\n    prompt: agents.generateIdea,\n    insightCount: formattedInsights.length,\n    insights: formattedInsights,\n    _rawInsights: insights,\n    _allInsightIds: allInsightIds,\n    _allCitations: uniqueCitations,\n    _periodData: {\n      generatedAt: data.generatedAt,\n      periodStartSQL: data.periodStartSQL,\n      periodEndSQL: data.periodEndSQL\n    },\n    _thresholds: thresholds,\n    _agents: agents\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        4432
      ],
      "id": "d2f0d0d6-a0a2-4c5d-bc2c-76719b1d1790",
      "name": "Format Insights for Claude"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "use-stubs-idea",
              "leftValue": "={{ $json._thresholds?.runtime?.use_stubs ?? true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        4432
      ],
      "id": "18e26b6a-c2b2-44b1-9919-d8516548c2fb",
      "name": "Use Stubs for IdeaSynthesizer?"
    },
    {
      "parameters": {
        "jsCode": "// STUB: IdeaSynthesizer Agent\n// Simulates Claude API response with ideas[] and patterns_observed[] arrays\n// Replace with real HTTP Request to Claude API when ready\n\nconst input = $input.first().json;\nconst insights = input.insights || [];\nconst thresholds = input._thresholds || {};\nconst periodData = input._periodData;\n\nif (insights.length === 0) {\n  return [{\n    json: {\n      content: [{ type: 'text', text: JSON.stringify({ ideas: [], patterns_observed: [] }) }],\n      _periodData: periodData,\n      _rawInsights: input._rawInsights,\n      _allInsightIds: input._allInsightIds,\n      _allCitations: input._allCitations,\n      _thresholds: thresholds,\n      _agents: input._agents\n    }\n  }];\n}\n\n// Group insights by primary topic for stub idea generation\nconst topicGroups = {};\nfor (const insight of insights) {\n  const primaryTopic = (insight.topics && insight.topics[0]) || 'general';\n  if (!topicGroups[primaryTopic]) {\n    topicGroups[primaryTopic] = [];\n  }\n  topicGroups[primaryTopic].push(insight);\n}\n\nconst topicDisplayNames = {\n  'bitcoin': 'Bitcoin & Payments',\n  'zk': 'Zero Knowledge Technology',\n  'censorship-resistance': 'Censorship Resistance',\n  'comms': 'Secure Communications',\n  'payments': 'Payment Systems',\n  'identity': 'Identity & Privacy',\n  'privacy': 'Privacy Tools',\n  'surveillance': 'Anti-Surveillance',\n  'activism': 'Activism Tools',\n  'sovereignty': 'Digital Sovereignty'\n};\n\n// Generate 1-3 stub ideas based on topic groups\nconst ideas = [];\nconst topics = Object.keys(topicGroups).slice(0, 3); // Max 3 ideas\n\nfor (const topic of topics) {\n  const topicInsights = topicGroups[topic];\n  const topicName = topicDisplayNames[topic] || topic;\n  const insightIds = topicInsights.map(i => i.id);\n  const insightTldrs = topicInsights.slice(0, 3).map(i => i.tldr).join(' ');\n  const avgScore = Math.round(topicInsights.reduce((sum, i) => sum + i.score, 0) / topicInsights.length);\n  \n  const feasibilityScore = Math.min(100, Math.max(40, 60 + Math.floor(Math.random() * 30)));\n  const impactScore = Math.min(100, Math.max(40, avgScore - 10 + Math.floor(Math.random() * 20)));\n\n  ideas.push({\n    derived_from_insight_ids: insightIds,\n    detected_pattern: `${topicInsights.length} signals in ${topicName} suggest tooling gaps for activists`,\n    problem_statement: `Based on ${topicInsights.length} signals in ${topicName}, there is a clear need for improved tooling. Key observations: ${insightTldrs}`,\n    threat_model: `Adversaries include state-level actors with network monitoring capabilities, platform operators with content moderation powers, and sophisticated attackers targeting ${topicName.toLowerCase()} infrastructure.`,\n    affected_groups: [\n      'Activists in regions with internet censorship',\n      'Journalists protecting sources',\n      'Human rights organizations',\n      `Users of ${topicName.toLowerCase()} tools under surveillance`\n    ],\n    proposed_solution: `Develop a ${topicName.toLowerCase()} enhancement that addresses the gaps identified. Focus on: (1) improving usability for non-technical users, (2) adding offline/low-bandwidth support, (3) implementing defense-in-depth.`,\n    mvp_scope: `Phase 1: Build proof-of-concept demonstrating core ${topic} functionality with basic UI. Include: CLI interface, config file support, basic docs, and integration tests.`,\n    misuse_risks: `Could be misused for: (1) evading legitimate law enforcement, (2) coordinating harmful activities, (3) spreading misinformation. Mitigations: transparency reporting, voluntary identity binding, clear usage guidelines.`,\n    feasibility_score: feasibilityScore,\n    impact_score: impactScore,\n    technical_dependencies: [\n      'Cryptographic libraries (libsodium or equivalent)',\n      'Networking stack with proxy support',\n      'Cross-platform runtime (Rust or Go preferred)'\n    ],\n    suggested_stack: ['Rust for core', 'TypeScript for web', 'SQLite for local storage', 'libp2p for P2P'],\n    prior_art: ['Tor Project', 'Signal Protocol', 'Briar Messenger', 'Lokinet'],\n    open_questions: [\n      'Minimum viable UX for non-technical users?',\n      'Key management without trusted third parties?',\n      'Priority jurisdictions for initial deployment?'\n    ]\n  });\n}\n\n// Generate patterns_observed for topics with only 1 insight (not enough for idea)\nconst patternsObserved = [];\nfor (const [topic, topicInsights] of Object.entries(topicGroups)) {\n  if (topicInsights.length === 1 && !topics.includes(topic)) {\n    patternsObserved.push({\n      pattern: `Single signal in ${topicDisplayNames[topic] || topic}`,\n      insight_ids: topicInsights.map(i => i.id),\n      reason_no_idea: 'Single data point - need more signals to identify generalizable solution'\n    });\n  }\n}\n\nconst output = { ideas, patterns_observed: patternsObserved };\n\nconsole.log(`[STUB] Generated ${ideas.length} ideas, ${patternsObserved.length} patterns observed`);\n\nreturn [{\n  json: {\n    content: [{ type: 'text', text: JSON.stringify(output) }],\n    _periodData: periodData,\n    _rawInsights: input._rawInsights,\n    _allInsightIds: input._allInsightIds,\n    _allCitations: input._allCitations,\n    _thresholds: thresholds,\n    _agents: input._agents\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        4352
      ],
      "id": "8d169950-6974-42a4-a757-1359a2d60ec5",
      "name": "IdeaSynthesizer Stub (Claude)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 8192,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": {{ JSON.stringify($json.prompt + \"\\n\\n# Input\\n\\n\" + JSON.stringify({ insights: $json.insights }, null, 2)) }}\n  }]\n}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -848,
        4512
      ],
      "id": "7fd28c5f-2be2-4d21-a514-332994e8364c",
      "name": "IdeaSynthesizer with Claude API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2ueFHzVgKw4S5KuR",
          "name": "Claude API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process real Claude API response and add pass-through data\nconst claudeResponse = $input.first().json;\nconst inputData = $('Use Stubs for IdeaSynthesizer?').first().json;\nconst thresholds = inputData._thresholds || {};\nconst periodData = inputData._periodData;\n\nreturn [{\n  json: {\n    content: claudeResponse.content,\n    _periodData: periodData,\n    _rawInsights: inputData._rawInsights,\n    _allInsightIds: inputData._allInsightIds,\n    _allCitations: inputData._allCitations,\n    _thresholds: thresholds,\n    _agents: inputData._agents\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        4512
      ],
      "id": "cb4b7595-908c-4ba7-997e-ba2f4d50ec76",
      "name": "Wrap Claude Idea Response"
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate LLM output for project ideas\n// Handles { ideas[], patterns_observed[] } format from generate-idea.md\nconst input = $input.first().json;\nconst thresholds = input._thresholds || {};\nconst minFeasibility = thresholds.minFeasibility || 50;\nconst minImpact = thresholds.minImpact || 50;\n\nlet parsed;\ntry {\n  let text = input.content[0].text.trim();\n  \n  // Strip markdown code blocks if present\n  if (text.startsWith('```')) {\n    text = text.replace(/^```(?:json)?\\s*\\n?/, '').replace(/\\n?```\\s*$/, '');\n  }\n  \n  parsed = JSON.parse(text);\n} catch (e) {\n  console.log('Parse error:', e.message);\n  console.log('Raw text:', input.content?.[0]?.text?.substring(0, 500));\n  return [{\n    json: {\n      ideas: [],\n      passingIdeas: [],\n      filteredIdeas: [],\n      invalidIdeas: [{ error: 'JSON parse failed: ' + e.message }],\n      patternsObserved: [],\n      _periodData: input._periodData,\n      _rawInsights: input._rawInsights,\n      _allCitations: input._allCitations,\n      _thresholds: thresholds\n    }\n  }];\n}\n\n// Ensure arrays exist\nif (!Array.isArray(parsed.ideas)) parsed.ideas = [];\nif (!Array.isArray(parsed.patterns_observed)) parsed.patterns_observed = [];\n\n// Validate each idea\nconst validIdeas = [];\nconst invalidIdeas = [];\n\nfor (const idea of parsed.ideas) {\n  const errors = [];\n  \n  // Required fields per generate-idea.md\n  const required = [\n    'derived_from_insight_ids', 'detected_pattern', 'problem_statement',\n    'threat_model', 'affected_groups', 'proposed_solution',\n    'mvp_scope', 'misuse_risks', 'feasibility_score', 'impact_score'\n  ];\n  \n  for (const field of required) {\n    if (idea[field] === undefined || idea[field] === null || idea[field] === '') {\n      errors.push(`Missing: ${field}`);\n    }\n  }\n  \n  // Score validation\n  if (typeof idea.feasibility_score !== 'number' || idea.feasibility_score < 0 || idea.feasibility_score > 100) {\n    errors.push('Invalid feasibility_score (must be 0-100)');\n  }\n  if (typeof idea.impact_score !== 'number' || idea.impact_score < 0 || idea.impact_score > 100) {\n    errors.push('Invalid impact_score (must be 0-100)');\n  }\n  \n  // Array validations\n  if (!Array.isArray(idea.derived_from_insight_ids) || idea.derived_from_insight_ids.length === 0) {\n    errors.push('derived_from_insight_ids must be non-empty array');\n  }\n  if (!Array.isArray(idea.affected_groups) || idea.affected_groups.length === 0) {\n    errors.push('affected_groups must be non-empty array');\n  }\n  \n  if (errors.length === 0) {\n    // Normalize optional array fields\n    idea.technical_dependencies = idea.technical_dependencies || [];\n    idea.suggested_stack = idea.suggested_stack || [];\n    idea.prior_art = idea.prior_art || [];\n    idea.open_questions = idea.open_questions || [];\n    validIdeas.push(idea);\n  } else {\n    invalidIdeas.push({ idea, errors });\n  }\n}\n\n// Filter valid ideas by threshold\nconst passingIdeas = [];\nconst filteredIdeas = [];\n\nfor (const idea of validIdeas) {\n  if (idea.feasibility_score >= minFeasibility && idea.impact_score >= minImpact) {\n    passingIdeas.push(idea);\n  } else {\n    filteredIdeas.push({\n      idea,\n      reason: `Scores below threshold (f:${idea.feasibility_score} < ${minFeasibility} or i:${idea.impact_score} < ${minImpact})`\n    });\n  }\n}\n\nconsole.log(`Parsed ${parsed.ideas.length} ideas: ${validIdeas.length} valid, ${invalidIdeas.length} invalid`);\nconsole.log(`Threshold filter: ${passingIdeas.length} passing, ${filteredIdeas.length} filtered`);\nconsole.log(`Patterns observed: ${parsed.patterns_observed.length}`);\n\nreturn [{\n  json: {\n    passingIdeas,\n    filteredIdeas,\n    invalidIdeas,\n    patternsObserved: parsed.patterns_observed,\n    totalIdeasParsed: parsed.ideas.length,\n    _periodData: input._periodData,\n    _rawInsights: input._rawInsights,\n    _allCitations: input._allCitations,\n    _thresholds: thresholds,\n    _usedThresholds: { minFeasibility, minImpact }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        4352
      ],
      "id": "ba7ec49c-602d-4177-8086-5a4214370edd",
      "name": "Parse & Validate Ideas"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-passing-ideas",
              "leftValue": "={{ $json.passingIdeas.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -144,
        4352
      ],
      "id": "51d1d349-9d68-4efa-a3c8-c3fb9615dfb1",
      "name": "Has Passing Ideas?"
    },
    {
      "parameters": {
        "jsCode": "// Split passing ideas into individual items for loop processing\n// Also log patterns_observed for observability\nconst data = $input.first().json;\nconst passingIdeas = data.passingIdeas || [];\nconst patternsObserved = data.patternsObserved || [];\n\n// Log patterns for observability (could store in DB in future)\nif (patternsObserved.length > 0) {\n  console.log('=== Patterns Observed (not actionable yet) ===');\n  for (const pattern of patternsObserved) {\n    console.log(`- ${pattern.pattern}`);\n    console.log(`  Insights: ${pattern.insight_ids?.join(', ')}`);\n    console.log(`  Reason no idea: ${pattern.reason_no_idea}`);\n  }\n}\n\n// Return each passing idea as a separate item\nconst items = passingIdeas.map((idea, index) => ({\n  json: {\n    idea,\n    ideaIndex: index,\n    totalIdeas: passingIdeas.length,\n    _periodData: data._periodData,\n    _rawInsights: data._rawInsights,\n    _allCitations: data._allCitations,\n    _thresholds: data._thresholds\n  }\n}));\n\nconsole.log(`Splitting ${passingIdeas.length} ideas into individual items for processing`);\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        4288
      ],
      "id": "eba57495-681c-408c-8786-5b8b4a34f6c6",
      "name": "Split Ideas for Loop"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        256,
        4288
      ],
      "id": "0839156d-b8a5-4192-8c8e-75b5cc2811e2",
      "name": "Loop Over Ideas"
    },
    {
      "parameters": {
        "jsCode": "// Build INSERT query for project_ideas table\nconst data = $input.first().json;\nconst idea = data.idea;\n\nfunction escapeStr(str) {\n  if (str === null || str === undefined) return 'NULL';\n  return \"'\" + String(str).replace(/'/g, \"''\") + \"'\";\n}\n\nfunction formatPgArray(arr) {\n  if (!arr || arr.length === 0) return \"'{}'\";\n  const escaped = arr.map(s => '\"' + String(s).replace(/\"/g, '\\\\\"').replace(/'/g, \"''\") + '\"');\n  return \"'{\" + escaped.join(',') + \"}'\";\n}\n\nfunction formatUuidArray(arr) {\n  if (!arr || arr.length === 0) return \"'{}'\";\n  return \"'{\" + arr.join(',') + \"}'\";\n}\n\nconst query = `INSERT INTO project_ideas (\n  derived_from_insight_ids,\n  detected_pattern,\n  problem_statement,\n  threat_model,\n  affected_groups,\n  proposed_solution,\n  mvp_scope,\n  misuse_risks,\n  feasibility_score,\n  impact_score,\n  technical_dependencies,\n  suggested_stack,\n  prior_art,\n  open_questions,\n  status\n) VALUES (\n  ${formatUuidArray(idea.derived_from_insight_ids)},\n  ${escapeStr(idea.detected_pattern)},\n  ${escapeStr(idea.problem_statement)},\n  ${escapeStr(idea.threat_model)},\n  ${formatPgArray(idea.affected_groups)},\n  ${escapeStr(idea.proposed_solution)},\n  ${escapeStr(idea.mvp_scope)},\n  ${escapeStr(idea.misuse_risks)},\n  ${idea.feasibility_score},\n  ${idea.impact_score},\n  ${formatPgArray(idea.technical_dependencies)},\n  ${formatPgArray(idea.suggested_stack)},\n  ${formatPgArray(idea.prior_art)},\n  ${formatPgArray(idea.open_questions)},\n  'new'\n) RETURNING id, feasibility_score, impact_score, created_at`;\n\nreturn [{\n  json: {\n    query,\n    _ideaData: {\n      idea,\n      ideaIndex: data.ideaIndex,\n      totalIdeas: data.totalIdeas\n    },\n    _periodData: data._periodData,\n    _rawInsights: data._rawInsights,\n    _allCitations: data._allCitations,\n    _thresholds: data._thresholds\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        4336
      ],
      "id": "1d0ad7a0-60dc-48f0-8d8d-6f52708e03b5",
      "name": "Build Idea Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        4336
      ],
      "id": "c8204002-c921-41bd-a2d3-c603369fbd11",
      "name": "Insert Project Idea",
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge insert result with idea data for issue creation\nconst insertResult = $input.first().json;\nconst buildData = $('Build Idea Query').first().json;\nconst ideaData = buildData._ideaData;\nconst thresholds = buildData._thresholds || {};\nconst rawInsights = buildData._rawInsights || [];\n\n// Find the insights that this idea derives from\nconst derivedInsights = rawInsights.filter(i => \n  ideaData.idea.derived_from_insight_ids.includes(i.id)\n);\n\nreturn [{\n  json: {\n    ideaId: insertResult.id,\n    feasibilityScore: insertResult.feasibility_score,\n    impactScore: insertResult.impact_score,\n    createdAt: insertResult.created_at,\n    idea: ideaData.idea,\n    ideaIndex: ideaData.ideaIndex,\n    totalIdeas: ideaData.totalIdeas,\n    derivedInsights,\n    _thresholds: thresholds\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        4336
      ],
      "id": "038610ad-2780-4f4c-9bb4-2b32fede99cc",
      "name": "Merge Insert Result"
    },
    {
      "parameters": {
        "jsCode": "// Prepare GitHub issue title and body\n// Uses actual published_url from insights when available\n\nconst data = $input.first().json;\nconst idea = data.idea;\nconst derivedInsights = data.derivedInsights || [];\nconst thresholds = data._thresholds || {};\n\n// Build issue title (truncate cleanly at word boundary)\nlet titleText = idea.detected_pattern || idea.problem_statement;\nif (titleText.length > 80) {\n  titleText = titleText.substring(0, 77).replace(/\\s+\\S*$/, '') + '...';\n}\nconst issueTitle = `[Idea] ${titleText}`;\n\n// Build issue body markdown\nconst affectedGroupsList = idea.affected_groups.map(g => `- ${g}`).join('\\n');\nconst dependenciesList = (idea.technical_dependencies || []).map(d => `- ${d}`).join('\\n') || '_None specified_';\nconst stackList = (idea.suggested_stack || []).map(s => `- ${s}`).join('\\n') || '_None specified_';\nconst priorArtList = (idea.prior_art || []).map(p => `- ${p}`).join('\\n') || '_None specified_';\nconst questionsList = (idea.open_questions || []).map(q => `- ${q}`).join('\\n') || '_None specified_';\n\n// Build derived insights links using actual published_url\nlet insightLinks = '_No insights linked_';\nif (derivedInsights.length > 0) {\n  insightLinks = derivedInsights.map(insight => {\n    const url = insight.published_url || `https://libertas.fgu.tech/signals/${insight.id}`;\n    return `- [${insight.title}](${url})`;\n  }).join('\\n');\n}\n\nconst issueBody = `## Detected Pattern\n\n${idea.detected_pattern}\n\n## Problem Statement\n\n${idea.problem_statement}\n\n## Threat Model\n\n${idea.threat_model}\n\n## Affected Groups\n\n${affectedGroupsList}\n\n## Proposed Solution\n\n${idea.proposed_solution}\n\n## MVP Scope\n\n${idea.mvp_scope}\n\n## Misuse Risks\n\n${idea.misuse_risks}\n\n## Scores\n\n- **Feasibility:** ${idea.feasibility_score}/100\n- **Impact:** ${idea.impact_score}/100\n\n## Technical Dependencies\n\n${dependenciesList}\n\n## Suggested Stack\n\n${stackList}\n\n## Prior Art\n\n${priorArtList}\n\n## Open Questions\n\n${questionsList}\n\n## Derived From Insights\n\n${insightLinks}\n\n---\n*Auto-generated by Libertas Workflow D*\n*Idea ID: \\`${data.ideaId}\\`*`;\n\nreturn [{\n  json: {\n    issueTitle,\n    issueBody,\n    ideaId: data.ideaId,\n    feasibilityScore: data.feasibilityScore,\n    impactScore: data.impactScore,\n    ideaIndex: data.ideaIndex,\n    totalIdeas: data.totalIdeas,\n    _thresholds: thresholds\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        4336
      ],
      "id": "82935c6c-c0a5-4d1a-b2e0-dfb95016b000",
      "name": "Prepare GitHub Issue"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "use-stubs-github",
              "leftValue": "={{ $json._thresholds?.runtime?.use_stubs ?? true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1248,
        4336
      ],
      "id": "cc67a16e-5683-40ae-ba2b-7d1472abcf4b",
      "name": "Use Stubs for GitHub?"
    },
    {
      "parameters": {
        "jsCode": "// STUB: Simulate GitHub issue creation response\nconst data = $input.first().json;\n\nconst stubIssueNumber = 100 + Math.floor(Math.random() * 900);\nconst stubIssueUrl = `https://github.com/FGUTech/libertas/issues/${stubIssueNumber}`;\n\nconsole.log(`[STUB] Created mock GitHub issue #${stubIssueNumber} for idea ${data.ideaId}`);\n\nreturn [{\n  json: {\n    html_url: stubIssueUrl,\n    number: stubIssueNumber,\n    title: data.issueTitle,\n    state: 'open',\n    _ideaId: data.ideaId,\n    _ideaIndex: data.ideaIndex,\n    _totalIdeas: data.totalIdeas,\n    _isStub: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        4272
      ],
      "id": "f1b16694-26f2-4a89-b8ed-03f41fb735bf",
      "name": "GitHub Issue Stub"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/FGUTech/libertas/issues",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": {{ JSON.stringify($json.issueTitle) }},\n  \"body\": {{ JSON.stringify($json.issueBody) }},\n  \"labels\": [\"project-idea\", \"auto-generated\"]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1408,
        4416
      ],
      "id": "f87e0557-bfec-41b4-9de0-8739d0ab1862",
      "name": "Create GitHub Issue",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DwAcCvPHNHvQfrGT",
          "name": "Github API Token"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Process real GitHub API response\nconst githubResponse = $input.first().json;\nconst prepareData = $('Prepare GitHub Issue').first().json;\n\nreturn [{\n  json: {\n    html_url: githubResponse.html_url,\n    number: githubResponse.number,\n    title: githubResponse.title,\n    state: githubResponse.state,\n    _ideaId: prepareData.ideaId,\n    _ideaIndex: prepareData.ideaIndex,\n    _totalIdeas: prepareData.totalIdeas,\n    _isStub: false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        4400
      ],
      "id": "3fecddf7-0299-4c5c-afaa-a5bc3c36eda2",
      "name": "Wrap GitHub Response"
    },
    {
      "parameters": {
        "jsCode": "// Handle errors from GitHub API call\nconst error = $input.first().json;\nconst prepareData = $('Prepare GitHub Issue').first().json;\n\nconsole.log('GitHub API error:', JSON.stringify(error));\n\nreturn [{\n  json: {\n    html_url: null,\n    number: null,\n    title: prepareData.issueTitle,\n    state: 'error',\n    _ideaId: prepareData.ideaId,\n    _ideaIndex: prepareData.ideaIndex,\n    _totalIdeas: prepareData.totalIdeas,\n    _isStub: false,\n    _apiError: true,\n    _errorMessage: 'GitHub issue creation failed - will retry later'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        4544
      ],
      "id": "c55949c8-05b4-4e14-9a31-7c1c09fb02a9",
      "name": "Handle GitHub Error"
    },
    {
      "parameters": {
        "jsCode": "// Build UPDATE query to set github_issue_url on the project idea\nconst data = $input.first().json;\n\nfunction escapeStr(str) {\n  if (str === null || str === undefined) return 'NULL';\n  return \"'\" + String(str).replace(/'/g, \"''\") + \"'\";\n}\n\nconst issueUrl = data.html_url;\n\nconst query = `UPDATE project_ideas \nSET github_issue_url = ${escapeStr(issueUrl)},\n    updated_at = NOW()\nWHERE id = ${escapeStr(data._ideaId)}::uuid\nRETURNING id, github_issue_url`;\n\nconsole.log(`Updating idea ${data._ideaId} with GitHub issue URL: ${issueUrl || 'NULL'}`);\n\nreturn [{\n  json: {\n    query,\n    _issueData: data\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        4272
      ],
      "id": "1874d75c-9161-4b4d-9204-eb52c2d2663a",
      "name": "Build Update Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1968,
        4272
      ],
      "id": "6d9f1577-bed8-47ca-b7a6-3507c79ef717",
      "name": "Update Idea with Issue URL",
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Summary for each processed idea (loops back to SplitInBatches)\nconst updateResult = $input.first().json;\nconst issueData = $('Build Update Query').first().json._issueData;\n\nconsole.log(`Processed idea ${issueData._ideaIndex + 1}/${issueData._totalIdeas}: ${updateResult.github_issue_url || 'no URL'}`);\n\nreturn [{\n  json: {\n    success: true,\n    ideaId: updateResult.id,\n    githubIssueUrl: updateResult.github_issue_url,\n    githubIssueNumber: issueData.number,\n    ideaIndex: issueData._ideaIndex,\n    totalIdeas: issueData._totalIdeas,\n    wasStub: issueData._isStub,\n    hadError: issueData._apiError || false,\n    processedAt: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        4544
      ],
      "id": "16684435-a32d-4113-b439-73e6c29c4742",
      "name": "Idea Processed"
    },
    {
      "parameters": {
        "jsCode": "// Final workflow summary - aggregates all processed ideas\nconst items = $input.all();\n\nconst results = items.map(item => item.json);\nconst successful = results.filter(r => r.success && !r.hadError);\nconst errors = results.filter(r => r.hadError);\n\nconsole.log(`\\n=== Workflow D Complete ===`);\nconsole.log(`Ideas created: ${successful.length}`);\nconsole.log(`Errors: ${errors.length}`);\nfor (const s of successful) {\n  console.log(`  - ${s.githubIssueUrl}`);\n}\n\nreturn [{\n  json: {\n    executedAt: new Date().toISOString(),\n    success: true,\n    ideasCreated: successful.length,\n    ideasWithErrors: errors.length,\n    githubIssues: successful.map(s => s.githubIssueUrl).filter(Boolean),\n    results\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        3920
      ],
      "id": "15011420-fb1b-4ae7-a78b-6f281ffabfdb",
      "name": "Workflow Summary"
    },
    {
      "parameters": {
        "jsCode": "// Log when no ideas pass thresholds\nconst data = $input.first().json;\nconst thresholds = data._usedThresholds || {};\n\nconsole.log(`No ideas passed threshold check.`);\nconsole.log(`Thresholds: feasibility >= ${thresholds.minFeasibility}, impact >= ${thresholds.minImpact}`);\nconsole.log(`Total ideas parsed: ${data.totalIdeasParsed}`);\nconsole.log(`Filtered: ${data.filteredIdeas?.length || 0}`);\nconsole.log(`Invalid: ${data.invalidIdeas?.length || 0}`);\n\nif (data.patternsObserved?.length > 0) {\n  console.log(`Patterns observed: ${data.patternsObserved.length}`);\n  for (const p of data.patternsObserved) {\n    console.log(`  - ${p.pattern}`);\n  }\n}\n\nreturn [{\n  json: {\n    executedAt: new Date().toISOString(),\n    success: true,\n    skipped: true,\n    reason: 'No ideas passed threshold check',\n    totalIdeasParsed: data.totalIdeasParsed,\n    filteredCount: data.filteredIdeas?.length || 0,\n    invalidCount: data.invalidIdeas?.length || 0,\n    patternsObservedCount: data.patternsObserved?.length || 0,\n    usedThresholds: thresholds\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        4416
      ],
      "id": "8ec81d96-4335-472c-9b8f-ce7ee474677f",
      "name": "Skip - No Passing Ideas"
    },
    {
      "parameters": {
        "jsCode": "// Handle case when no high-signal insights were found\nconst data = $input.first().json;\nconst thresholds = data._thresholds || {};\n\nconsole.log(`No high-signal insights found for idea generation.`);\nconsole.log(`Criteria: freedom_relevance_score >= ${data.minRelevanceScore}, status = published, last ${thresholds.lookbackDays || 7} days, not already used.`);\n\nreturn [{\n  json: {\n    executedAt: new Date().toISOString(),\n    success: true,\n    skipped: true,\n    reason: 'No eligible high-signal insights found',\n    criteria: {\n      minRelevanceScore: data.minRelevanceScore,\n      periodStartSQL: data.periodStartSQL,\n      periodEndSQL: data.periodEndSQL,\n      lookbackDays: thresholds.lookbackDays || 7\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        4576
      ],
      "id": "9a5910d4-bc0f-430f-b8c3-9a85dff3c577",
      "name": "Skip - No Insights"
    },
    {
      "parameters": {
        "content": "# Fetch Configs & Prompts from Libertas API",
        "height": 496,
        "width": 752,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2832,
        4304
      ],
      "typeVersion": 1,
      "id": "1546cf33-4dca-4958-8385-ff01322aab42",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Use Claude API to generate Project Ideas",
        "height": 432,
        "width": 816
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        4272
      ],
      "typeVersion": 1,
      "id": "a91576d7-eb5f-4c4e-a44d-4d8a44a3d6f9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Create Github Issues for Project Ideas",
        "height": 464,
        "width": 1136,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        4208
      ],
      "typeVersion": 1,
      "id": "c43bd0f7-cf73-41fc-a51e-84bec0e81ceb",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "# Fetch Recent Insights (Past 7 days)",
        "height": 384,
        "width": 864,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2016,
        4352
      ],
      "typeVersion": 1,
      "id": "04fecd48-ef40-4e68-acac-1e02e3bbca94",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Loop thru each Project Idea & Create it",
        "height": 608,
        "width": 2576
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        4144
      ],
      "typeVersion": 1,
      "id": "74a92b19-ecf6-4f8c-8ff2-728f756634d8",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Weekly Sunday 10am UTC": {
      "main": [
        [
          {
            "node": "Fetch Thresholds Config",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Generate Idea Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Thresholds Config": {
      "main": [
        [
          {
            "node": "Merge Config & Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Generate Idea Prompt": {
      "main": [
        [
          {
            "node": "Merge Config & Prompt",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Config & Prompt": {
      "main": [
        [
          {
            "node": "Merge Config & Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Config & Agents": {
      "main": [
        [
          {
            "node": "Calculate Period",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Period": {
      "main": [
        [
          {
            "node": "Query High-Signal Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query High-Signal Insights": {
      "main": [
        [
          {
            "node": "Merge Insights with Period",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Insights with Period": {
      "main": [
        [
          {
            "node": "Has Insights?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Insights?": {
      "main": [
        [
          {
            "node": "Format Insights for Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip - No Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Insights for Claude": {
      "main": [
        [
          {
            "node": "Use Stubs for IdeaSynthesizer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Stubs for IdeaSynthesizer?": {
      "main": [
        [
          {
            "node": "IdeaSynthesizer Stub (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IdeaSynthesizer with Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IdeaSynthesizer Stub (Claude)": {
      "main": [
        [
          {
            "node": "Parse & Validate Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IdeaSynthesizer with Claude API": {
      "main": [
        [
          {
            "node": "Wrap Claude Idea Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap Claude Idea Response": {
      "main": [
        [
          {
            "node": "Parse & Validate Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Ideas": {
      "main": [
        [
          {
            "node": "Has Passing Ideas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Passing Ideas?": {
      "main": [
        [
          {
            "node": "Split Ideas for Loop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip - No Passing Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Ideas for Loop": {
      "main": [
        [
          {
            "node": "Loop Over Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Ideas": {
      "main": [
        [
          {
            "node": "Workflow Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Idea Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Idea Query": {
      "main": [
        [
          {
            "node": "Insert Project Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Project Idea": {
      "main": [
        [
          {
            "node": "Merge Insert Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Insert Result": {
      "main": [
        [
          {
            "node": "Prepare GitHub Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare GitHub Issue": {
      "main": [
        [
          {
            "node": "Use Stubs for GitHub?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Stubs for GitHub?": {
      "main": [
        [
          {
            "node": "GitHub Issue Stub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create GitHub Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Issue Stub": {
      "main": [
        [
          {
            "node": "Build Update Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GitHub Issue": {
      "main": [
        [
          {
            "node": "Wrap GitHub Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle GitHub Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap GitHub Response": {
      "main": [
        [
          {
            "node": "Build Update Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle GitHub Error": {
      "main": [
        [
          {
            "node": "Build Update Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Update Query": {
      "main": [
        [
          {
            "node": "Update Idea with Issue URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Idea with Issue URL": {
      "main": [
        [
          {
            "node": "Idea Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idea Processed": {
      "main": [
        [
          {
            "node": "Loop Over Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8f93f80a-2e3c-42ea-91d8-85590eb6cd85",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c52e1b61141902bda826728d3cf15d2a867de8395f358b7459edf58ff4157ae"
  },
  "id": "vxsg7UxCLUcVC9T-3JlyU",
  "tags": []
}