n8n/workflows/workflow-a-ingestion.json
{
  "name": "Libertas - Daily Ingestion - Workflow A",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        3632,
        41808
      ],
      "id": "fb79bd8d-4cc8-400b-81fb-99a4d4d11c23",
      "name": "Every 6 Hours"
    },
    {
      "parameters": {
        "url": "https://libertas.fgu.tech/api/config/sources",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3920,
        41520
      ],
      "id": "fcdda546-239e-4e9e-83ab-e8eb43b8526a",
      "name": "Fetch Sources Config"
    },
    {
      "parameters": {
        "url": "https://libertas.fgu.tech/api/config/thresholds",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3920,
        41728
      ],
      "id": "77325aec-913c-4611-88b6-34c45522317b",
      "name": "Fetch Thresholds Config"
    },
    {
      "parameters": {
        "url": "https://libertas.fgu.tech/api/agents/classify",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3920,
        41920
      ],
      "id": "075315fd-5377-4d07-8710-4210d5c956ee",
      "name": "Fetch Classify Prompt"
    },
    {
      "parameters": {
        "url": "https://libertas.fgu.tech/api/agents/summarize",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3920,
        42128
      ],
      "id": "8639b340-1e98-4461-a8e5-271a0d4e1596",
      "name": "Fetch Summarize Prompt"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        4128,
        41616
      ],
      "id": "57025e78-d2b3-4d51-8da9-d8f957fd5b72",
      "name": "Merge Configs"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        4128,
        41920
      ],
      "id": "12cb3434-c3b3-4b48-a95d-6989d184f103",
      "name": "Merge Prompts"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        4352,
        41776
      ],
      "id": "1a64ec97-f08f-4c27-aac8-04e31392924e",
      "name": "Merge All"
    },
    {
      "parameters": {
        "jsCode": "// Merge all config and agent prompts into a single object\n// All 4 fetch results are now available via the chained Merge nodes\nconst allItems = $input.all();\n\n// Find each config by checking the response structure\nlet sourcesConfig, thresholdsConfig, classifyPrompt, summarizePrompt;\n\nfor (const item of allItems) {\n  const data = item.json;\n  if (data.sources) sourcesConfig = data;\n  else if (data.ingestion || data.publishing || data.runtime) thresholdsConfig = data;\n  else if (data.content && data.name === 'classify') classifyPrompt = data;\n  else if (data.content && data.name === 'summarize') summarizePrompt = data;\n  else if (data.content) {\n    // Fallback: check content for agent type hints\n    if (data.content.includes('freedom_relevance_score')) classifyPrompt = data;\n    else summarizePrompt = data;\n  }\n}\n\nreturn [{\n  json: {\n    _sources: sourcesConfig || {},\n    _thresholdsConfig: thresholdsConfig || {},\n    _agents: {\n      classify: classifyPrompt?.content || '',\n      summarize: summarizePrompt?.content || ''\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4528,
        41776
      ],
      "id": "e5ddcb89-f533-4732-95c1-61b79f8d199b",
      "name": "Merge Config & Agents"
    },
    {
      "parameters": {
        "jsCode": "// Load sources from API config and agent prompts\n// Reads from merged config node output\n\nconst merged = $('Merge Config & Agents').first().json;\nconst sourcesConfig = merged._sources;\nconst thresholdsConfig = merged._thresholdsConfig;\nconst agents = merged._agents;\n\n// Store thresholds in first item for reference by downstream nodes\n// Include runtime section for stub/real mode toggle\nconst thresholds = {\n  runtime: thresholdsConfig.runtime || { use_stubs: true },\n  ingestion: thresholdsConfig.ingestion || { relevance_threshold: 50 },\n  publishing: thresholdsConfig.publishing || { auto_publish_relevance: 70, auto_publish_credibility: 60 },\n  ideas: thresholdsConfig.ideas || { min_relevance_for_idea: 80 }\n};\n\n// Get sources from config\nconst sources = sourcesConfig.sources || [];\n\n// Filter to enabled sources only\nconst enabledSources = sources.filter(s => s.enabled);\n\nif (enabledSources.length === 0) {\n  console.log('Warning: No enabled sources found in config');\n  return [];\n}\n\nconsole.log(`Loaded ${enabledSources.length} sources from config`);\nconsole.log(`Loaded agent prompts: classify (${agents.classify?.length || 0} chars), summarize (${agents.summarize?.length || 0} chars)`);\n\n// Return each source as a separate item for batch processing\n// Each source will be processed in its own loop iteration via Split In Batches\n// Include thresholds and agent prompts in each item so downstream nodes can access them\nreturn enabledSources.map(source => ({ \n  json: {\n    ...source,\n    _thresholds: thresholds,\n    _agents: agents\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4912,
        41776
      ],
      "id": "be321ca0-3e26-4a86-ba14-b9daf1749bf7",
      "name": "Load Sources"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5120,
        41776
      ],
      "id": "d00525e2-df1f-463e-b75a-f36d28e22d91",
      "name": "Loop Over Sources"
    },
    {
      "parameters": {
        "jsCode": "// Fetch RSS and extract items for a SINGLE source (loop iteration)\n// Processes one source at a time via Split In Batches\n\nconst source = $input.first().json;\nconsole.log(`Processing source: ${source.name} (${source.url})`);\n\nif (!source || !source.url) {\n  console.log('ERROR: Invalid source received!');\n  return [{ json: { error: 'Invalid source', _skip: true, _thresholds: source?._thresholds, _agents: source?._agents } }];\n}\n\n// Simple XML parsing helper\nfunction parseXML(xml) {\n  const items = [];\n  const itemRegex = /<item[^>]*>([\\s\\S]*?)<\\/item>/gi;\n  let match;\n  \n  while ((match = itemRegex.exec(xml)) !== null) {\n    const itemXml = match[1];\n    const getTag = (tag) => {\n      const cdataRegex = new RegExp(`<${tag}[^>]*><!\\\\[CDATA\\\\[([\\\\s\\\\S]*?)\\\\]\\\\]><\\\\/${tag}>`, 'i');\n      const plainRegex = new RegExp(`<${tag}[^>]*>([\\\\s\\\\S]*?)<\\\\/${tag}>`, 'i');\n      const cdataMatch = itemXml.match(cdataRegex);\n      if (cdataMatch) return cdataMatch[1].trim();\n      const plainMatch = itemXml.match(plainRegex);\n      return plainMatch ? plainMatch[1].trim() : '';\n    };\n    \n    items.push({\n      title: getTag('title'),\n      link: getTag('link'),\n      guid: getTag('guid'),\n      description: getTag('description'),\n      content: getTag('content:encoded') || getTag('content'),\n      pubDate: getTag('pubDate'),\n      creator: getTag('dc:creator') || getTag('author')\n    });\n  }\n  return items;\n}\n\nconst allItems = [];\n\ntry {\n  console.log(`Fetching: ${source.name} (${source.url})`);\n  \n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: source.url,\n    headers: { 'User-Agent': 'Libertas/1.0 RSS Reader' },\n    timeout: 30000,\n    returnFullResponse: true\n  });\n  \n  const xml = typeof response.body === 'string' ? response.body : JSON.stringify(response.body);\n  console.log(`  Got ${xml.length} bytes from ${source.name}`);\n  \n  const feedItems = parseXML(xml).slice(0, 20);\n  console.log(`  Parsed ${feedItems.length} items from ${source.name}`);\n  \n  for (const item of feedItems) {\n    const itemUrl = item.link || item.guid || '';\n    const content = item.content || item.description || '';\n    \n    if (!itemUrl || !content) continue;\n    \n    allItems.push({\n      json: {\n        sourceName: source.name,\n        sourceUrl: source.url,\n        sourceTier: source.tier,\n        sourceTags: source.tags,\n        platform: 'rss',\n        _thresholds: source._thresholds,\n        _agents: source._agents,\n        itemUrl,\n        title: item.title || '',\n        content,\n        author: item.creator || source.name,\n        publishedAt: item.pubDate || new Date().toISOString(),\n        contentHash: null,\n        extractedText: null\n      }\n    });\n  }\n} catch (error) {\n  console.log(`  ERROR ${source.name}: ${error.message}`);\n  return [{ json: { error: error.message, source: source.name, _skip: true, _thresholds: source._thresholds, _agents: source._agents } }];\n}\n\nconsole.log(`Source ${source.name}: ${allItems.length} items extracted`);\n\nif (allItems.length === 0) {\n  // Return placeholder so loop continues even with no items\n  return [{ json: { noItems: true, source: source.name, _skip: true, _thresholds: source._thresholds, _agents: source._agents } }];\n}\n\nreturn allItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5360,
        41888
      ],
      "id": "4d1c8375-cda7-477e-b9df-1f1893de61b5",
      "name": "Fetch RSS & Extract Items"
    },
    {
      "parameters": {
        "jsCode": "// Extract clean text from HTML content - process ALL items\n// Set empty extractedText for _skip items so Compute Hash doesn't error\nconst items = $input.all();\n\n// Strip HTML tags for clean text extraction\nfunction stripHtml(html) {\n  if (!html) return '';\n  return html\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\n// Process each item and return all\nreturn items.map(item => {\n  const json = item.json;\n  \n  // Set empty extractedText for skip items (needed for Compute Hash)\n  if (json._skip) {\n    return { json: { ...json, extractedText: '' } };\n  }\n  \n  const extractedText = stripHtml(json.content);\n  return {\n    json: {\n      ...json,\n      extractedText: extractedText.substring(0, 50000)\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5536,
        41888
      ],
      "id": "0fde92c8-1e4f-40ab-8aaa-49bad22ecd98",
      "name": "Extract Text"
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $json.extractedText }}",
        "dataPropertyName": "contentHash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        5360,
        42128
      ],
      "id": "8b10abd4-0661-4a54-9159-18f99e0442fb",
      "name": "Compute Hash"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-new",
              "leftValue": "={{ $json.isNew }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5872,
        42128
      ],
      "id": "9802d4d8-d0f7-4c30-95df-820579eb5289",
      "name": "Is New Item?"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "source_items",
          "mode": "list",
          "cachedResultName": "source_items"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json.itemUrl }}",
            "platform": "={{ $json.platform }}",
            "extracted_text": "={{ $json.extractedText }}",
            "content_hash": "={{ $json.contentHash }}",
            "author": "={{ $json.author }}",
            "published_at": "={{ $json.publishedAt }}",
            "metadata": "={{ JSON.stringify({ sourceName: $json.sourceName, sourceTier: $json.sourceTier, sourceTags: $json.sourceTags, title: $json.title }) }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6048,
        42064
      ],
      "id": "dce023be-568b-4d94-9f25-836ae579d270",
      "name": "Insert Source Item",
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// STUB: Classifier Agent\n// Simulates Claude API response format for classification\n// Replace with real HTTP Request to Claude API when ready\n\n// Get source item from direct input (the DB insert result)\nconst sourceItem = $input.first().json;\n\n// Get workflow-level config from the config merge node (single item, so .first() is correct)\nconst configData = $('Merge Config & Agents').first().json;\nconst thresholds = {\n  runtime: configData._thresholdsConfig?.runtime || { use_stubs: true },\n  ingestion: configData._thresholdsConfig?.ingestion || { relevance_threshold: 50 },\n  publishing: configData._thresholdsConfig?.publishing || { auto_publish_relevance: 70, auto_publish_credibility: 60 },\n  ideas: configData._thresholdsConfig?.ideas || { min_relevance_for_idea: 80 }\n};\nconst agents = configData._agents || {};\n\n// Parse stored metadata from the DB row\nconst storedMetadata = JSON.parse(sourceItem.metadata || '{}');\n\nconst text = sourceItem.extracted_text || '';\nconst textLower = text.toLowerCase();\n\n// Get relevance threshold from config\nconst relevanceThreshold = thresholds.ingestion?.relevance_threshold || 50;\n\n// Simple keyword-based classification for testing\nconst topics = [];\n\nif (textLower.includes('bitcoin') || textLower.includes('btc') || textLower.includes('satoshi')) {\n  topics.push('bitcoin');\n}\nif (textLower.includes('privacy') || textLower.includes('encryption') || textLower.includes('encrypted')) {\n  topics.push('privacy');\n}\nif (textLower.includes('censorship') || textLower.includes('blocked') || textLower.includes('banned')) {\n  topics.push('censorship-resistance');\n}\nif (textLower.includes('surveillance') || textLower.includes('tracking') || textLower.includes('monitoring')) {\n  topics.push('surveillance');\n}\nif (textLower.includes('activist') || textLower.includes('protest') || textLower.includes('dissent')) {\n  topics.push('activism');\n}\nif (textLower.includes('identity') || textLower.includes('kyc') || textLower.includes('anonymous')) {\n  topics.push('identity');\n}\nif (textLower.includes('payment') || textLower.includes('transaction') || textLower.includes('transfer')) {\n  topics.push('payments');\n}\nif (textLower.includes('messaging') || textLower.includes('signal') || textLower.includes('communication')) {\n  topics.push('comms');\n}\nif (textLower.includes('zero knowledge') || textLower.includes('zk-') || textLower.includes('zkp')) {\n  topics.push('zk');\n}\nif (textLower.includes('sovereign') || textLower.includes('self-custody') || textLower.includes('freedom')) {\n  topics.push('sovereignty');\n}\n\n// Default topic if none found\nif (topics.length === 0) {\n  topics.push('sovereignty');\n}\n\n// Score based on keyword density and source tier\nconst tier = storedMetadata.sourceTier || 2;\nconst keywordCount = topics.length;\nconst baseRelevance = Math.min(40 + (keywordCount * 15), 95);\nconst tierBonus = tier === 1 ? 10 : 0;\nconst freedomRelevanceScore = Math.min(baseRelevance + tierBonus, 100);\n\n// Credibility based on source tier\nconst credibilityScore = tier === 1 ? 75 : tier === 2 ? 60 : 45;\n\nconst classification = {\n  topics: topics.slice(0, 5),\n  freedom_relevance_score: freedomRelevanceScore,\n  credibility_score: credibilityScore,\n  geo: [],\n  reasoning: `Stub classification based on ${keywordCount} topic keywords. Tier ${tier} source.`,\n  key_entities: []\n};\n\n// Return in Claude API response format for easy swap later\nreturn [{\n  json: {\n    content: [{\n      type: 'text',\n      text: JSON.stringify(classification)\n    }],\n    // Pass through source item data\n    _sourceItemId: sourceItem.id,\n    _sourceItemUrl: sourceItem.url,\n    _extractedText: sourceItem.extracted_text,\n    _metadata: storedMetadata,\n    _thresholds: thresholds,\n    _agents: agents\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5520,
        42416
      ],
      "id": "df2d4a6a-c281-460c-94c1-0cd35f39e76f",
      "name": "Classify Stub (Claude)"
    },
    {
      "parameters": {
        "jsCode": "// Process real Claude API responses and match with source items by index\n// HTTP Request processes items sequentially, so indices should match\nconst claudeResponses = $input.all();\nconst sourceItems = $('Insert Source Item').all();\n\n// Get workflow-level config from the config merge node (single item, so .first() is correct)\nconst configData = $('Merge Config & Agents').first().json;\nconst thresholds = {\n  runtime: configData._thresholdsConfig?.runtime || { use_stubs: true },\n  ingestion: configData._thresholdsConfig?.ingestion || { relevance_threshold: 50 },\n  publishing: configData._thresholdsConfig?.publishing || { auto_publish_relevance: 70, auto_publish_credibility: 60 },\n  ideas: configData._thresholdsConfig?.ideas || { min_relevance_for_idea: 80 }\n};\nconst agents = configData._agents || {};\n\n// If we only have one response (common case), match with corresponding source item\n// For multiple responses, use index matching\nreturn claudeResponses.map((response, index) => {\n  const claudeResponse = response.json;\n  // Try to get matching source item - use index if available, fallback to first\n  const sourceItem = sourceItems[index]?.json || sourceItems[0]?.json || {};\n  // Handle metadata whether it's already an object or a JSON string\n  const storedMetadata = typeof sourceItem.metadata === 'string' \n    ? JSON.parse(sourceItem.metadata || '{}') \n    : (sourceItem.metadata || {});\n  \n  return {\n    json: {\n      content: claudeResponse.content,\n      _sourceItemId: sourceItem.id,\n      _sourceItemUrl: sourceItem.url,\n      _extractedText: sourceItem.extracted_text,\n      _metadata: storedMetadata,\n      _thresholds: thresholds,\n      _agents: agents\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5712,
        42576
      ],
      "id": "e249ea59-52c0-4308-abd3-232092321046",
      "name": "Wrap Claude Classify Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "use-stubs-classify",
              "leftValue": "={{ $('Merge Config & Agents').first().json._thresholdsConfig?.runtime?.use_stubs ?? true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5360,
        42432
      ],
      "id": "853c4bba-919c-47d2-8b7a-cc35d23f7d99",
      "name": "Use Stubs for Classify?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": {{ JSON.stringify($('Merge Config & Agents').first().json._agents?.classify + \"\\n\\n# Input\\n\\n\" + JSON.stringify({ sourceUrl: $json.url, extractedText: ($json.extracted_text || '').substring(0, 8000), platform: $json.platform, author: $json.author, publishedAt: $json.published_at })) }}\n  }]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5520,
        42576
      ],
      "id": "fb831e88-f4f1-4963-a327-b4e6e3b6b508",
      "name": "Classify with Claude API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2ueFHzVgKw4S5KuR",
          "name": "Claude API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse classification result from Claude API format - process ALL items\nconst items = $input.all();\n\nreturn items.map(item => {\n  const input = item.json;\n  let classification;\n\n  try {\n    let text = input.content[0].text;\n    \n    // Strip markdown code blocks if present (Claude often wraps JSON in ```json...```)\n    text = text.trim();\n    if (text.startsWith('```')) {\n      // Remove opening fence (```json or ```)\n      text = text.replace(/^```(?:json)?\\s*\\n?/, '');\n      // Remove closing fence\n      text = text.replace(/\\n?```\\s*$/, '');\n    }\n    \n    classification = JSON.parse(text.trim());\n  } catch (e) {\n    // Fallback if parsing fails\n    console.log('Parse Classification error:', e.message);\n    console.log('Raw text:', input.content?.[0]?.text?.substring(0, 200));\n    classification = {\n      topics: ['sovereignty'],\n      freedom_relevance_score: 30,\n      credibility_score: 50,\n      geo: [],\n      reasoning: 'Failed to parse LLM response: ' + e.message,\n      key_entities: []\n    };\n  }\n\n  // Merge with source item data\n  return {\n    json: {\n      sourceItemId: input._sourceItemId,\n      sourceItemUrl: input._sourceItemUrl,\n      extractedText: input._extractedText,\n      metadata: input._metadata,\n      classification,\n      _thresholds: input._thresholds,\n      _agents: input._agents\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5856,
        42416
      ],
      "id": "9687ce39-f952-44f3-a673-c00217942207",
      "name": "Parse Classification"
    },
    {
      "parameters": {
        "jsCode": "// Validate classification output against schema - process ALL items\nconst items = $input.all();\nconst validTopics = ['bitcoin', 'zk', 'censorship-resistance', 'comms', 'payments', 'identity', 'privacy', 'surveillance', 'activism', 'sovereignty'];\n\nreturn items.map(item => {\n  const data = item.json;\n  const classification = data.classification;\n  const errors = [];\n\n  // Validate topics\n  if (!Array.isArray(classification.topics)) {\n    errors.push('topics must be an array');\n  } else {\n    if (classification.topics.length < 1) errors.push('topics must have at least 1 item');\n    if (classification.topics.length > 5) errors.push('topics must have at most 5 items');\n    for (const topic of classification.topics) {\n      if (!validTopics.includes(topic)) {\n        errors.push(`Invalid topic: ${topic}. Must be one of: ${validTopics.join(', ')}`);\n      }\n    }\n  }\n\n  // Validate scores\n  if (typeof classification.freedom_relevance_score !== 'number' || classification.freedom_relevance_score < 0 || classification.freedom_relevance_score > 100) {\n    errors.push('freedom_relevance_score must be an integer between 0 and 100');\n  }\n  if (typeof classification.credibility_score !== 'number' || classification.credibility_score < 0 || classification.credibility_score > 100) {\n    errors.push('credibility_score must be an integer between 0 and 100');\n  }\n\n  // Validate geo\n  if (!Array.isArray(classification.geo)) {\n    errors.push('geo must be an array');\n  }\n\n  // Log validation result\n  if (errors.length > 0) {\n    console.log('Classification validation errors:', errors);\n  }\n\n  return {\n    json: {\n      ...data,\n      _validationErrors: errors,\n      _validationPassed: errors.length === 0\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6032,
        42416
      ],
      "id": "fe82baf5-161e-4b8d-b6bf-2dfe266a0ae5",
      "name": "Validate Classification"
    },
    {
      "parameters": {
        "jsCode": "// Check if content meets relevance threshold from config - process ALL items\nconst items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n  const thresholds = data._thresholds || {};\n  const relevanceThreshold = thresholds.ingestion?.relevance_threshold || 50;\n\n  const score = data.classification.freedom_relevance_score;\n\n  // Content meets threshold if score >= config threshold\n  const meetsThreshold = score >= relevanceThreshold;\n\n  // Pass through all data including _agents\n  return {\n    json: {\n      ...data,\n      meetsThreshold,\n      usedThreshold: relevanceThreshold\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6208,
        42416
      ],
      "id": "01fffd68-ae41-4a16-ac38-3aa62c7f122c",
      "name": "Apply Threshold"
    },
    {
      "parameters": {
        "jsCode": "// Build UPDATE query to store classification scores in source_items\n// This enables debugging why items didn't result in insights\nconst items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n  const classification = data.classification || {};\n  \n  const relevanceScore = classification.freedom_relevance_score ?? 0;\n  const credibilityScore = classification.credibility_score ?? 0;\n  \n  const query = `UPDATE source_items SET freedom_relevance_score = ${relevanceScore}, credibility_score = ${credibilityScore} WHERE id = '${data.sourceItemId}'`;\n  \n  return {\n    json: {\n      ...data,\n      _classificationUpdateQuery: query\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6368,
        42416
      ],
      "id": "de4538f5-d8e0-4d3a-aa2d-3d40fdb68ebb",
      "name": "Build Classification Update"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json._classificationUpdateQuery }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6528,
        42416
      ],
      "id": "1a9e667f-803b-40a3-9ae3-5c455ce4aeaf",
      "name": "Update Source Classification",
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Restore original data after Postgres UPDATE (which only returns query result)\n// Reference the Build Classification Update node to get the original item data\nconst postgresResults = $input.all();\nconst originalItems = $('Build Classification Update').all();\n\nreturn postgresResults.map((result, index) => {\n  // Get original data from Build Classification Update by index\n  const originalData = originalItems[index]?.json || {};\n  return { json: originalData };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6688,
        42416
      ],
      "id": "0def64e8-3704-4fb4-9686-855c47471cf2",
      "name": "Restore Classification Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "meets-threshold",
              "leftValue": "={{ $json.meetsThreshold }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5360,
        42864
      ],
      "id": "1d519418-5126-4677-b462-f47d70d4cbcd",
      "name": "Meets Threshold?"
    },
    {
      "parameters": {
        "jsCode": "// STUB: Summarizer Agent - process ALL items\n// Generates insight content from classified source items\n// Replace with real Claude API call when ready\n\nconst items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n  const classification = data.classification;\n  const thresholds = data._thresholds || {};\n  const text = data.extractedText || '';\n  const metadata = data.metadata || {};\n\n  // Extract title from metadata or generate from text\n  const title = metadata.title || text.substring(0, 100).split('.')[0] + '...';\n\n  // Generate TL;DR\n  const tldr = text.substring(0, 250).trim() + '...';\n\n  // Generate summary bullets\n  const sentences = text.split(/[.!?]+/).filter(s => s.trim().length > 20);\n  const summaryBullets = sentences.slice(0, 7).map(s => s.trim());\n\n  // Ensure minimum bullets\n  while (summaryBullets.length < 5) {\n    summaryBullets.push('Additional analysis pending.');\n  }\n\n  const summary = {\n    title: title.substring(0, 120),\n    tldr: tldr.substring(0, 280),\n    summary_bullets: summaryBullets.slice(0, 10),\n    deep_dive_markdown: classification.freedom_relevance_score >= 85 \n      ? `## Analysis\\n\\n${text.substring(0, 2000)}...\\n\\n## Implications\\n\\nFurther analysis needed.`\n      : null,\n    citations: [data.sourceItemUrl],\n    recommended_actions: [],\n    related_projects: []\n  };\n\n  // Return in Claude API response format\n  return {\n    json: {\n      content: [{\n        type: 'text',\n        text: JSON.stringify(summary)\n      }],\n      _sourceItemId: data.sourceItemId,\n      _classification: classification,\n      _sourceItemUrl: data.sourceItemUrl,\n      _thresholds: thresholds,\n      _agents: data._agents\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5712,
        42816
      ],
      "id": "5f2ad24b-d3f8-4094-b2d4-c295706a4e3f",
      "name": "Summarize Stub (Claude)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "use-stubs-summarize",
              "leftValue": "={{ $json._thresholds?.runtime?.use_stubs ?? true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5520,
        42832
      ],
      "id": "25f52c96-e34c-4312-820f-d1705a32a975",
      "name": "Use Stubs for Summarize?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2048,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": {{ JSON.stringify($json._agents?.summarize + \"\\n\\n# Input\\n\\n\" + JSON.stringify({ sourceUrl: $json.sourceItemUrl, extractedText: $json.extractedText.substring(0, 8000), classification: $json.classification, includeDeepDive: $json.classification.freedom_relevance_score >= 85 })) }}\n  }]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5712,
        42976
      ],
      "id": "1ba417a0-eb97-43ae-b0cd-3d01b003f882",
      "name": "Summarize with Claude API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2ueFHzVgKw4S5KuR",
          "name": "Claude API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process real Claude API responses and match with source data by index\nconst claudeResponses = $input.all();\nconst applyThresholdItems = $('Apply Threshold').all();\n\n// Match responses with their source data by index\nreturn claudeResponses.map((response, index) => {\n  const claudeResponse = response.json;\n  // Use index matching - items flow through in order\n  const applyThresholdData = applyThresholdItems[index]?.json || applyThresholdItems[0]?.json || {};\n  \n  return {\n    json: {\n      content: claudeResponse.content,\n      _sourceItemId: applyThresholdData.sourceItemId,\n      _classification: applyThresholdData.classification,\n      _sourceItemUrl: applyThresholdData.sourceItemUrl,\n      _thresholds: applyThresholdData._thresholds,\n      _agents: applyThresholdData._agents\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5872,
        42976
      ],
      "id": "fd40d9e6-4cb4-4c06-ae65-91ca0e223c1b",
      "name": "Wrap Claude Summarize Response"
    },
    {
      "parameters": {
        "jsCode": "// Parse summary and determine publish status using thresholds from config - process ALL items\nconst items = $input.all();\n\nreturn items.map(item => {\n  const input = item.json;\n  const thresholds = input._thresholds || {};\n  const classification = input._classification;\n  let summary;\n  let parseError = null;\n\n  try {\n    let text = input.content[0].text;\n    \n    // Strip markdown code blocks if present (Claude often wraps JSON in ```json...```)\n    text = text.trim();\n    if (text.startsWith('```')) {\n      // Remove opening fence (```json or ```)\n      text = text.replace(/^```(?:json)?\\s*\\n?/, '');\n      // Remove closing fence\n      text = text.replace(/\\n?```\\s*$/, '');\n    }\n    \n    summary = JSON.parse(text.trim());\n    \n    // Ensure citations array exists and includes source URL as fallback\n    if (!summary.citations || !Array.isArray(summary.citations)) {\n      summary.citations = [];\n    }\n    // Always include source URL if not already present\n    if (input._sourceItemUrl && !summary.citations.includes(input._sourceItemUrl)) {\n      summary.citations.push(input._sourceItemUrl);\n    }\n  } catch (e) {\n    parseError = e.message;\n    console.log('Parse Summary error:', e.message);\n    console.log('Source URL:', input._sourceItemUrl);\n    console.log('Raw text (first 500 chars):', input.content?.[0]?.text?.substring(0, 500));\n    \n    // Create fallback summary with source URL as citation so it can still be published\n    summary = {\n      title: `[Parse Error] Content from ${input._sourceItemUrl?.split('/').pop() || 'unknown'}`,\n      tldr: `Failed to parse AI summary. Original source: ${input._sourceItemUrl}. Error: ${e.message}`,\n      summary_bullets: [\n        'AI summary parsing failed',\n        'Manual review required',\n        `Source: ${input._sourceItemUrl}`,\n        `Topics: ${classification?.topics?.join(', ') || 'unknown'}`,\n        `Relevance: ${classification?.freedom_relevance_score || 'unknown'}`\n      ],\n      citations: input._sourceItemUrl ? [input._sourceItemUrl] : [],\n      deep_dive_markdown: null\n    };\n  }\n\n  // Get thresholds from config\n  const autoPublishRelevance = thresholds.publishing?.auto_publish_relevance || 70;\n  const autoPublishCredibility = thresholds.publishing?.auto_publish_credibility || 60;\n\n  // Determine publish status based on gates from config\n  // Auto-publish: relevance >= config threshold AND credibility >= config threshold AND has citations AND no parse error\n  const hasCitations = summary.citations && summary.citations.length > 0;\n  const meetsRelevance = classification.freedom_relevance_score >= autoPublishRelevance;\n  const meetsCredibility = classification.credibility_score >= autoPublishCredibility;\n  const noParseFail = !parseError;\n  \n  const canAutoPublish = meetsRelevance && meetsCredibility && hasCitations && noParseFail;\n\n  const status = canAutoPublish ? 'published' : 'queued';\n  const publishedAt = canAutoPublish ? new Date().toISOString() : null;\n\n  // Generate slug from title for URL\n  const slug = summary.title\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-|-$/g, '')\n    .substring(0, 60);\n\n  const publishedUrl = canAutoPublish \n    ? `https://libertas.fgu.tech/posts/${slug}`\n    : null;\n\n  // Detailed logging for debugging publish decisions\n  const publishDecision = {\n    relevance: `${classification.freedom_relevance_score} >= ${autoPublishRelevance} = ${meetsRelevance}`,\n    credibility: `${classification.credibility_score} >= ${autoPublishCredibility} = ${meetsCredibility}`,\n    citations: `${summary.citations?.length || 0} > 0 = ${hasCitations}`,\n    parseOk: noParseFail,\n    result: status\n  };\n  console.log(`Publish decision for ${input._sourceItemUrl}:`, JSON.stringify(publishDecision));\n\n  return {\n    json: {\n      sourceItemId: input._sourceItemId,\n      sourceItemUrl: input._sourceItemUrl,\n      title: summary.title,\n      tldr: summary.tldr,\n      summaryBullets: summary.summary_bullets,\n      deepDiveMarkdown: summary.deep_dive_markdown,\n      topics: classification.topics,\n      geo: classification.geo,\n      freedomRelevanceScore: classification.freedom_relevance_score,\n      credibilityScore: classification.credibility_score,\n      citations: summary.citations,\n      status,\n      publishedUrl,\n      publishedAt,\n      parseError,\n      _thresholds: thresholds,\n      _usedThresholds: {\n        autoPublishRelevance,\n        autoPublishCredibility\n      },\n      _publishDecision: publishDecision\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6048,
        42816
      ],
      "id": "01b4d6a6-0bc1-44c5-b834-08b7860e14ff",
      "name": "Parse Summary & Gates"
    },
    {
      "parameters": {
        "jsCode": "// Validate summary output against insight schema - process ALL items\nconst items = $input.all();\nconst validTopics = ['bitcoin', 'zk', 'censorship-resistance', 'comms', 'payments', 'identity', 'privacy', 'surveillance', 'activism', 'sovereignty'];\nconst validStatuses = ['draft', 'queued', 'published', 'rejected'];\n\nreturn items.map(item => {\n  const data = item.json;\n  const errors = [];\n\n  // Validate title\n  if (typeof data.title !== 'string') {\n    errors.push('title must be a string');\n  } else if (data.title.length > 120) {\n    errors.push('title must be at most 120 characters');\n  }\n\n  // Validate tldr\n  if (typeof data.tldr !== 'string') {\n    errors.push('tldr must be a string');\n  } else if (data.tldr.length > 280) {\n    errors.push('tldr must be at most 280 characters');\n  }\n\n  // Validate summaryBullets\n  if (!Array.isArray(data.summaryBullets)) {\n    errors.push('summaryBullets must be an array');\n  } else {\n    if (data.summaryBullets.length < 5) errors.push('summaryBullets must have at least 5 items');\n    if (data.summaryBullets.length > 10) errors.push('summaryBullets must have at most 10 items');\n  }\n\n  // Validate topics\n  if (!Array.isArray(data.topics)) {\n    errors.push('topics must be an array');\n  } else {\n    for (const topic of data.topics) {\n      if (!validTopics.includes(topic)) {\n        errors.push(`Invalid topic: ${topic}`);\n      }\n    }\n  }\n\n  // Validate scores\n  if (typeof data.freedomRelevanceScore !== 'number' || data.freedomRelevanceScore < 0 || data.freedomRelevanceScore > 100) {\n    errors.push('freedomRelevanceScore must be an integer between 0 and 100');\n  }\n  if (typeof data.credibilityScore !== 'number' || data.credibilityScore < 0 || data.credibilityScore > 100) {\n    errors.push('credibilityScore must be an integer between 0 and 100');\n  }\n\n  // Validate citations\n  if (!Array.isArray(data.citations)) {\n    errors.push('citations must be an array');\n  }\n\n  // Validate status\n  if (!validStatuses.includes(data.status)) {\n    errors.push(`status must be one of: ${validStatuses.join(', ')}`);\n  }\n\n  // Log validation result\n  if (errors.length > 0) {\n    console.log('Summary validation errors:', errors);\n  }\n\n  return {\n    json: {\n      ...data,\n      _summaryValidationErrors: errors,\n      _summaryValidationPassed: errors.length === 0\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6224,
        42816
      ],
      "id": "198df241-c8b3-42a4-bd85-5bf0dd5ea772",
      "name": "Validate Summary"
    },
    {
      "parameters": {
        "jsCode": "// Build complete INSERT query with proper escaping - process ALL items\nconst items = $input.all();\n\nfunction escapeStr(str) {\n  if (str === null || str === undefined) return 'NULL';\n  // Escape single quotes by doubling them\n  return \"'\" + String(str).replace(/'/g, \"''\") + \"'\";\n}\n\nfunction formatPgArray(arr) {\n  if (!arr || arr.length === 0) return \"'{}'\";\n  const escaped = arr.map(s => '\"' + String(s).replace(/\"/g, '\\\\\"').replace(/'/g, \"''\") + '\"');\n  return \"'{\" + escaped.join(',') + \"}'\";\n}\n\nfunction formatUuidArray(arr) {\n  if (!arr || arr.length === 0) return \"'{}'\";\n  return \"'{\" + arr.join(',') + \"}'\";\n}\n\nreturn items.map(item => {\n  const data = item.json;\n  \n  const query = `INSERT INTO insights (\n    source_item_ids, title, tldr, summary_bullets, deep_dive_markdown,\n    topics, geo, freedom_relevance_score, credibility_score, citations,\n    status, published_url, published_at\n  ) VALUES (\n    ${formatUuidArray([data.sourceItemId])},\n    ${escapeStr(data.title || 'Untitled')},\n    ${escapeStr(data.tldr || '')},\n    ${formatPgArray(data.summaryBullets || [])},\n    ${data.deepDiveMarkdown ? escapeStr(data.deepDiveMarkdown) : 'NULL'},\n    ${formatPgArray(data.topics || [])},\n    ${formatPgArray(data.geo || [])},\n    ${data.freedomRelevanceScore},\n    ${data.credibilityScore},\n    ${formatPgArray(data.citations || [])},\n    ${escapeStr(data.status)},\n    ${data.publishedUrl ? escapeStr(data.publishedUrl) : 'NULL'},\n    ${data.publishedAt ? escapeStr(data.publishedAt) : 'NULL'}\n  ) RETURNING id, title, status, published_url`;\n\n  return { json: { query, sourceData: data } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6384,
        42816
      ],
      "id": "f2c2c13e-c7bd-4e9f-b1c5-4ea1952bcfab",
      "name": "Build Insight Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6528,
        42816
      ],
      "id": "0587dc5b-2bea-4285-9c29-6a091644157a",
      "name": "Insert Insight",
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log skipped items (below threshold) - process ALL items\nconst items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n  const classification = data.classification || {};\n  const score = classification.freedom_relevance_score ?? 'unknown';\n  const threshold = data.usedThreshold ?? 50;\n  \n  console.log(`Skipped: ${data.sourceItemUrl || 'unknown'} - Relevance: ${score} (threshold: ${threshold})`);\n\n  return {\n    json: {\n      skipped: true,\n      sourceItemId: data.sourceItemId,\n      sourceItemUrl: data.sourceItemUrl,\n      reason: 'Below relevance threshold',\n      score,\n      threshold,\n      _thresholds: data._thresholds,\n      _agents: data._agents\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5520,
        43104
      ],
      "id": "e721f5e0-c783-4f9a-a42b-bfdb4b64807e",
      "name": "Log Skipped"
    },
    {
      "parameters": {
        "jsCode": "// Log duplicate and skipped items - process ALL items\n// Handles both actual duplicates and _skip items from source errors\nconst items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n  \n  // Determine the reason for skipping\n  let reason = 'Duplicate content hash';\n  if (data._skip) {\n    if (data.error) reason = `Source error: ${data.error}`;\n    else if (data.noItems) reason = `No items from source: ${data.source}`;\n    else reason = 'Skipped by flag';\n  } else if (data.skippedReason === 'source_error') {\n    reason = 'Source fetch error';\n  }\n  \n  console.log(`Skipped: ${data.itemUrl || data.source || 'unknown'} - Reason: ${reason}`);\n\n  return {\n    json: {\n      skipped: true,\n      reason,\n      source: data.sourceName || data.source,\n      _thresholds: data._thresholds,\n      _agents: data._agents\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6048,
        42208
      ],
      "id": "b2321d46-e74b-4d32-b54c-94da6b072fdb",
      "name": "Log Duplicate"
    },
    {
      "parameters": {
        "jsCode": "// Collect results from current batch and pass through for loop\n// In looping mode, this runs after each source is processed\n// Results are passed through to loop back to SplitInBatches\n\nconst allItems = $input.all();\n\n// Count results for this batch\nlet published = 0, queued = 0, skipped = 0, duplicates = 0, errors = 0, feedsPublished = 0;\n\nfor (const item of allItems) {\n  const data = item.json;\n  if (data.feedsCommitted) feedsPublished++;\n  else if (data.status === 'published') published++;\n  else if (data.status === 'queued') queued++;\n  else if (data.skipped && data.reason === 'Duplicate content hash') duplicates++;\n  else if (data.skipped) skipped++;\n  else errors++;\n}\n\nconst batchSummary = { published, queued, skipped, duplicates, errors, feedsPublished, total: allItems.length };\nconsole.log('Batch results:', JSON.stringify(batchSummary));\n\n// Pass through to continue loop (items will be sent back to SplitInBatches)\nreturn allItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6944,
        43104
      ],
      "id": "b86b985f-b296-45ac-8d14-828747dc280c",
      "name": "Aggregate Results"
    },
    {
      "parameters": {
        "jsCode": "// Workflow Complete - triggered when all sources have been processed\n// Now triggers batched publishing of all new insights from this run\n\nconsole.log('=== Workflow A Complete ===');\nconsole.log('All sources processed. Starting batched publishing...');\nconsole.log('Timestamp:', new Date().toISOString());\n\n// Get thresholds from input items (passed through from Load Sources)\nconst items = $input.all();\nlet thresholds = { runtime: { use_stubs: true }, publishing: { auto_publish_relevance: 70, auto_publish_credibility: 60 } };\n\n// Try to get thresholds from any item that has them\nfor (const item of items) {\n  if (item.json?._thresholds) {\n    thresholds = item.json._thresholds;\n    break;\n  }\n}\n\nconsole.log('Using thresholds:', JSON.stringify(thresholds.runtime));\n\nreturn [{ json: { \n  workflowComplete: true, \n  completedAt: new Date().toISOString(),\n  _thresholds: thresholds\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6912,
        41760
      ],
      "id": "cae21f49-ab88-4c19-a67f-620174821f9f",
      "name": "Workflow Complete"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  id, title, tldr, summary_bullets, deep_dive_markdown,\n  topics, geo, freedom_relevance_score, credibility_score,\n  citations, status, published_url, published_at, created_at, updated_at\nFROM insights \nWHERE status = 'published' AND published_at >= NOW() - INTERVAL '7 hours'\nORDER BY published_at DESC",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        10224,
        42176
      ],
      "id": "be16da0c-b822-4ce1-a227-4325558867c1",
      "name": "Query New Published Insights",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-new-insights",
              "leftValue": "={{ $input.all().filter(i => i.json.id).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        10400,
        42176
      ],
      "id": "8484ea18-df55-44d5-98df-cb6474eb8847",
      "name": "Has New Insights?"
    },
    {
      "parameters": {
        "jsCode": "// Log when no new insights to publish\nconsole.log('No new insights to publish in this run.');\nreturn [{ json: { noNewInsights: true, completedAt: new Date().toISOString() }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10576,
        42272
      ],
      "id": "c049f654-cbfa-4c66-845b-3e5763e38a90",
      "name": "Log No New Insights"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-published",
              "leftValue": "={{ $json.status }}",
              "rightValue": "published",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6688,
        42816
      ],
      "id": "13e577db-d9b3-4cd9-89f5-91dbc04ef6f4",
      "name": "Is Published?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT ON (id)\n  id, title, tldr, summary_bullets, deep_dive_markdown,\n  topics, geo, freedom_relevance_score, credibility_score,\n  citations, status, published_url, published_at, created_at, updated_at\nFROM insights \nWHERE status = 'published' AND published_at >= NOW() - INTERVAL '14 days'\nORDER BY id, published_at DESC",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        10576,
        42080
      ],
      "id": "49349a8c-4170-439e-92ae-ebe150071827",
      "name": "Query All Published Insights",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate RSS 2.0 feed from all published insights (BATCHED MODE)\n// Gets all published insights from input, new insights from Query New Published\n// Deduplicate by ID to prevent duplicate entries in feeds\nconst rawInsights = $input.all().map(item => item.json).filter(i => i.id);\nconst seenIds = new Set();\nconst insights = rawInsights.filter(i => {\n  if (seenIds.has(i.id)) return false;\n  seenIds.add(i.id);\n  return true;\n});\n\n// Get new insights from this workflow run (for markdown generation later)\n// Also deduplicate new insights\nconst rawNewInsights = $('Query New Published Insights').all().map(item => item.json).filter(i => i.id);\nconst seenNewIds = new Set();\nconst newInsights = rawNewInsights.filter(i => {\n  if (seenNewIds.has(i.id)) return false;\n  seenNewIds.add(i.id);\n  return true;\n});\n\n// Get thresholds directly from original config (more reliable than passing through pipeline)\nconst configData = $('Merge Config & Agents').first()?.json || {};\nconst thresholds = {\n  runtime: configData._thresholdsConfig?.runtime || { use_stubs: true },\n  publishing: configData._thresholdsConfig?.publishing || {}\n};\nconsole.log('Publishing with use_stubs:', thresholds.runtime.use_stubs);\n\n// Site metadata\nconst siteUrl = 'https://libertas.fgu.tech';\nconst feedTitle = 'Libertas - Freedom Tech Signals';\nconst feedDescription = 'Curated insights on freedom technology: Bitcoin, privacy tools, censorship resistance, and digital sovereignty.';\nconst feedLanguage = 'en-us';\nconst buildDate = new Date().toUTCString();\n\n// Helper to escape XML\nfunction escapeXml(str) {\n  if (!str) return '';\n  return String(str)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&apos;');\n}\n\n// Generate RSS items from ALL published insights\nconst items = insights.map(insight => {\n  const pubDate = insight.published_at ? new Date(insight.published_at).toUTCString() : buildDate;\n  const topics = Array.isArray(insight.topics) ? insight.topics : [];\n  const categories = topics.map(t => `    <category>${escapeXml(t)}</category>`).join('\\n');\n  \n  const slug = insight.title.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, '').substring(0, 60);\n  const link = `${siteUrl}/posts/${slug}`;\n  \n  return `  <item>\\n    <title>${escapeXml(insight.title)}</title>\\n    <link>${link}</link>\\n    <guid isPermaLink=\"true\">${link}</guid>\\n    <pubDate>${pubDate}</pubDate>\\n    <description>${escapeXml(insight.tldr)}</description>\\n${categories}\\n  </item>`;\n}).join('\\n');\n\nconst rssFeed = `<?xml version=\"1.0\" encoding=\"UTF-8\"?>\\n<rss version=\"2.0\" xmlns:atom=\"http://www.w3.org/2005/Atom\">\\n<channel>\\n  <title>${escapeXml(feedTitle)}</title>\\n  <link>${siteUrl}</link>\\n  <description>${escapeXml(feedDescription)}</description>\\n  <language>${feedLanguage}</language>\\n  <lastBuildDate>${buildDate}</lastBuildDate>\\n  <atom:link href=\"${siteUrl}/insights-rss.xml\" rel=\"self\" type=\"application/rss+xml\"/>\\n  <generator>Libertas n8n Workflow</generator>\\n${items}\\n</channel>\\n</rss>`;\n\nconsole.log(`Generated RSS feed with ${insights.length} items, ${newInsights.length} new in this run`);\n\nreturn [{\n  json: {\n    rssFeed,\n    insightCount: insights.length,\n    insights,\n    newInsights,\n    _thresholds: thresholds\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10752,
        42080
      ],
      "id": "37349b52-2b44-44fe-982a-13fdc27223a2",
      "name": "Generate RSS Feed"
    },
    {
      "parameters": {
        "jsCode": "// Generate JSON Feed 1.1 from all published insights (BATCHED MODE)\nconst data = $input.first().json;\nconst insights = data.insights || [];\nconst rssFeed = data.rssFeed;\nconst newInsights = data.newInsights || [];\nconst thresholds = data._thresholds;\n\n// Site metadata\nconst siteUrl = 'https://libertas.fgu.tech';\n\n// Build JSON Feed 1.1 structure\nconst jsonFeed = {\n  version: 'https://jsonfeed.org/version/1.1',\n  title: 'Libertas - Freedom Tech Signals',\n  home_page_url: siteUrl,\n  feed_url: `${siteUrl}/insights-feed.json`,\n  description: 'Curated insights on freedom technology: Bitcoin, privacy tools, censorship resistance, and digital sovereignty.',\n  language: 'en-US',\n  items: insights.map(insight => {\n    const slug = insight.title.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, '').substring(0, 60);\n    const topics = Array.isArray(insight.topics) ? insight.topics : [];\n    \n    return {\n      id: insight.id,\n      url: `${siteUrl}/posts/${slug}`,\n      title: insight.title,\n      summary: insight.tldr,\n      content_text: Array.isArray(insight.summary_bullets) ? insight.summary_bullets.join('\\n• ') : insight.tldr,\n      date_published: insight.published_at || insight.created_at,\n      date_modified: insight.updated_at || insight.published_at,\n      tags: topics,\n      _libertas: {\n        freedom_relevance_score: insight.freedom_relevance_score,\n        credibility_score: insight.credibility_score,\n        citations: insight.citations || []\n      }\n    };\n  })\n};\n\nconst jsonFeedString = JSON.stringify(jsonFeed, null, 2);\n\nconsole.log(`Generated JSON feed with ${insights.length} items`);\n\nreturn [{\n  json: {\n    rssFeed,\n    jsonFeed: jsonFeedString,\n    insightCount: insights.length,\n    newInsights,\n    _thresholds: thresholds\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10928,
        42080
      ],
      "id": "720f24d7-c3bb-4479-8cc2-006fc8b071ec",
      "name": "Generate JSON Feed"
    },
    {
      "parameters": {
        "jsCode": "// Generate frontmatter markdown for ALL newly published insights (BATCHED MODE)\nconst data = $input.first().json;\nconst rssFeed = data.rssFeed;\nconst jsonFeed = data.jsonFeed;\nconst newInsights = data.newInsights || [];\nconst thresholds = data._thresholds;\n\n// Helper to generate markdown for a single insight\nfunction generateMarkdown(insight) {\n  const slug = insight.title.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, '').substring(0, 60);\n  const publishedAt = new Date(insight.published_at || new Date());\n  const year = publishedAt.getFullYear();\n  const month = String(publishedAt.getMonth() + 1).padStart(2, '0');\n  \n  const topics = Array.isArray(insight.topics) ? insight.topics : [];\n  const geo = Array.isArray(insight.geo) ? insight.geo : [];\n  const citations = Array.isArray(insight.citations) ? insight.citations : [];\n  const summaryBullets = Array.isArray(insight.summary_bullets) ? insight.summary_bullets : [];\n  \n  let md = `---\\ntitle: \"${insight.title.replace(/\"/g, '\\\\\"')}\"\\nslug: \"${slug}\"\\npublished_at: \"${insight.published_at}\"\\nstatus: \"published\"\\ntopics:\\n${topics.map(t => `  - \"${t}\"`).join('\\n')}\\nfreedom_relevance_score: ${insight.freedom_relevance_score}\\ncredibility_score: ${insight.credibility_score}\\n`;\n  \n  if (geo.length > 0) md += `geo:\\n${geo.map(g => `  - \"${g}\"`).join('\\n')}\\n`;\n  md += `citations:\\n${citations.map(c => `  - \"${c}\"`).join('\\n')}\\n---\\n\\n# ${insight.title}\\n\\n**TL;DR:** ${insight.tldr}\\n\\n## Key Points\\n\\n${summaryBullets.map(b => `- ${b}`).join('\\n')}\\n`;\n  if (insight.deep_dive_markdown) md += `\\n## Deep Dive\\n\\n${insight.deep_dive_markdown}\\n`;\n  md += `\\n## Sources\\n\\n${citations.map(c => `- ${c}`).join('\\n')}\\n`;\n  \n  return {\n    path: `website/public/content/insights/${year}/${month}/${slug}.md`,\n    content: md,\n    slug,\n    title: insight.title\n  };\n}\n\n// Generate markdown for ALL new insights\nconst markdownFiles = newInsights.map(generateMarkdown);\n\nconsole.log(`Generated ${markdownFiles.length} markdown files for new insights`);\nmarkdownFiles.forEach(f => console.log(`  - ${f.path}`));\n\nreturn [{\n  json: {\n    rssFeed,\n    jsonFeed,\n    markdownFiles,\n    newInsightCount: newInsights.length,\n    _thresholds: thresholds\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11088,
        42080
      ],
      "id": "5f6b35e3-704b-475a-9e11-97e7a91bc74c",
      "name": "Generate Insight Markdown"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "use-stubs-publish",
              "leftValue": "={{ $json._thresholds?.runtime?.use_stubs ?? true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        11488,
        42080
      ],
      "id": "546a2437-5407-4059-a788-b7eb612ade68",
      "name": "Use Stubs for Publishing?"
    },
    {
      "parameters": {
        "jsCode": "// STUB: GitHub commit for BATCHED feed publishing\n// Simulates committing RSS, JSON feeds, and ALL insight markdowns in ONE commit\n\nconst data = $input.first().json;\nconst markdownFiles = data.markdownFiles || [];\n\n// Build commit message with all insight slugs\nconst slugList = markdownFiles.map(f => f.slug).join(', ');\nconst commitMessage = markdownFiles.length > 0\n  ? `Publish ${markdownFiles.length} insight(s): ${slugList} and update feeds\\n\\nCo-authored-by: Claude <noreply@anthropic.com>`\n  : `Update feeds (no new insights)\\n\\nCo-authored-by: Claude <noreply@anthropic.com>`;\n\nconst commitSha = 'stub-sha-' + Date.now();\n\nconsole.log(`[STUB] Would commit to GitHub (single atomic commit):`);\nconsole.log(`  - website/public/insights-rss.xml (${data.rssFeed.length} bytes)`);\nconsole.log(`  - website/public/insights-feed.json (${data.jsonFeed.length} bytes)`);\nmarkdownFiles.forEach(f => console.log(`  - ${f.path} (${f.content.length} bytes)`));\nconsole.log(`  - Total files: ${2 + markdownFiles.length}`);\n\nreturn [{\n  json: {\n    success: true,\n    feedsCommitted: true,\n    stub: true,\n    commit: { sha: commitSha, message: commitMessage },\n    files: [\n      { path: 'website/public/insights-rss.xml', action: 'upsert' },\n      { path: 'website/public/insights-feed.json', action: 'upsert' },\n      ...markdownFiles.map(f => ({ path: f.path, action: 'upsert' }))\n    ],\n    insightsPublished: markdownFiles.map(f => ({ title: f.title, slug: f.slug, path: f.path }))\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11664,
        42000
      ],
      "id": "9bd74d7f-642b-4d93-8612-fbc75dc29376",
      "name": "GitHub Commit Stub (Feeds)"
    },
    {
      "parameters": {
        "jsCode": "// Prepare files for BATCHED atomic GitHub commit via Git Data API\n// Includes RSS, JSON feeds, and ALL new insight markdowns in ONE commit\nconst data = $input.first().json;\nconst markdownFiles = data.markdownFiles || [];\n\n// Build commit message with all insight slugs\nconst slugList = markdownFiles.map(f => f.slug).join(', ');\nconst commitMessage = markdownFiles.length > 0\n  ? `Publish ${markdownFiles.length} insight(s): ${slugList} and update feeds\\n\\nCo-authored-by: Claude <noreply@anthropic.com>`\n  : `Update feeds (no new insights)\\n\\nCo-authored-by: Claude <noreply@anthropic.com>`;\n\n// Build files array with feeds + all markdowns\nconst files = [\n  { path: 'website/public/insights-rss.xml', content: data.rssFeed },\n  { path: 'website/public/insights-feed.json', content: data.jsonFeed },\n  ...markdownFiles.map(f => ({ path: f.path, content: f.content }))\n];\n\nconsole.log(`Preparing GitHub commit with ${files.length} files`);\n\nreturn [{\n  json: {\n    ...data,\n    _github: {\n      owner: 'FGUTech',\n      repo: 'libertas',\n      branch: 'main',\n      commitMessage,\n      files\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11664,
        42192
      ],
      "id": "23028bd5-cf17-44a8-8285-89a95e5df1c6",
      "name": "Prepare GitHub Commit"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json._github.owner }}/{{ $json._github.repo }}/git/ref/heads/{{ $json._github.branch }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        11840,
        42192
      ],
      "id": "055598af-b890-4cbd-8dac-91bd41fd5346",
      "name": "Get Branch Ref",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DwAcCvPHNHvQfrGT",
          "name": "Github API Token"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Prepare GitHub Commit').first().json._github.owner }}/{{ $('Prepare GitHub Commit').first().json._github.repo }}/git/commits/{{ $json.object.sha }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        12000,
        42192
      ],
      "id": "c41266fb-0f26-4f0b-8f22-952c8522ac64",
      "name": "Get Base Tree",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DwAcCvPHNHvQfrGT",
          "name": "Github API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build tree entries for all files\nconst commitData = $('Prepare GitHub Commit').first().json;\nconst baseTreeSha = $input.first().json.tree.sha;\nconst parentCommitSha = $('Get Branch Ref').first().json.object.sha;\n\nconst treeEntries = commitData._github.files.map(file => ({\n  path: file.path,\n  mode: '100644',\n  type: 'blob',\n  content: file.content\n}));\n\nreturn [{\n  json: {\n    _github: commitData._github,\n    _baseTreeSha: baseTreeSha,\n    _parentCommitSha: parentCommitSha,\n    _treeEntries: treeEntries,\n    insightFilePath: commitData.insightFilePath,\n    slug: commitData.slug,\n    insight: commitData.insight\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12160,
        42192
      ],
      "id": "91cdf081-2766-4889-b898-3283a6141cd5",
      "name": "Build Tree Entries"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $json._github.owner }}/{{ $json._github.repo }}/git/trees",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ base_tree: $json._baseTreeSha, tree: $json._treeEntries }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        12320,
        42192
      ],
      "id": "f1fec42a-12e2-4458-b6a6-70dcd7a10fdb",
      "name": "Create Tree",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DwAcCvPHNHvQfrGT",
          "name": "Github API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Build Tree Entries').first().json._github.owner }}/{{ $('Build Tree Entries').first().json._github.repo }}/git/commits",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $('Build Tree Entries').first().json._github.commitMessage, tree: $json.sha, parents: [$('Build Tree Entries').first().json._parentCommitSha] }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        12480,
        42192
      ],
      "id": "476ecf86-84de-4d1a-b5a0-c7baf85ae62b",
      "name": "Create Commit",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DwAcCvPHNHvQfrGT",
          "name": "Github API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.github.com/repos/{{ $('Build Tree Entries').first().json._github.owner }}/{{ $('Build Tree Entries').first().json._github.repo }}/git/refs/heads/{{ $('Build Tree Entries').first().json._github.branch }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sha: $json.sha, force: false }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        12640,
        42192
      ],
      "id": "f823c544-7d2c-4217-964c-50624b3fb35f",
      "name": "Update Branch Ref",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DwAcCvPHNHvQfrGT",
          "name": "Github API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Summarize atomic commit result\nconst updateResult = $input.first().json;\nconst commitResult = $('Create Commit').first().json;\nconst buildData = $('Build Tree Entries').first().json;\n\nconst success = updateResult.object && updateResult.object.sha;\n\nconsole.log(`GitHub atomic commit: ${success ? 'SUCCESS' : 'FAILED'}`);\nconsole.log(`Commit SHA: ${commitResult.sha}`);\nconsole.log(`Files committed: ${buildData._github.files.length}`);\n\nreturn [{\n  json: {\n    success,\n    feedsCommitted: true,\n    stub: false,\n    commit: {\n      sha: commitResult.sha,\n      message: buildData._github.commitMessage,\n      url: commitResult.html_url\n    },\n    files: buildData._github.files.map(f => ({ path: f.path, action: 'upsert' })),\n    insight: {\n      title: buildData.insight?.title,\n      slug: buildData.slug,\n      path: buildData.insightFilePath\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12816,
        42192
      ],
      "id": "dbbf4dc8-8d02-4785-b12f-64ccd854172c",
      "name": "Wrap GitHub Response"
    },
    {
      "parameters": {
        "jsCode": "// Get max_stories_per_run from config for user story processing limit\nlet maxStoriesPerRun = 5; // default\n\ntry {\n  const configData = $('Merge Config & Agents').first().json;\n  const intakeConfig = configData._thresholdsConfig?.intake || configData.intake || {};\n  maxStoriesPerRun = intakeConfig.max_stories_per_run || 5;\n} catch (e) {\n  console.log('Could not get max_stories_per_run from config, using default:', maxStoriesPerRun);\n}\n\nconsole.log(`Will process up to ${maxStoriesPerRun} user stories, prioritized by weighted score`);\n\n// Build query with dynamic limit and weighted score ordering\n// Weight: relevance * 2 + credibility (gives 2x weight to relevance)\nconst query = `SELECT \n  id, submission_id, url, extracted_text, content_hash, title, region, urgency,\n  source_content, metadata, topics, freedom_relevance_score, credibility_score,\n  geo, safety_concern, reasoning, risk_level, priority, summary_text, key_entities, tier,\n  (freedom_relevance_score * 2 + credibility_score) AS weighted_score\nFROM user_story_items \nWHERE insight_generated = FALSE\nORDER BY weighted_score DESC, created_at ASC\nLIMIT ${maxStoriesPerRun}`;\n\nreturn [{ json: { query, maxStoriesPerRun } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7296,
        41760
      ],
      "id": "6d1dedcb-3fcc-455b-9bc4-a66876fc31b1",
      "name": "Prepare User Story Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7472,
        41760
      ],
      "id": "1b0b9c8d-a79e-4eeb-8d1b-019a828c3b44",
      "name": "Query Pending User Stories",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-pending-stories",
              "leftValue": "={{ $input.all().filter(i => i.json.id).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7648,
        41760
      ],
      "id": "98f83512-c660-4d3d-88cd-ef9a650e67b7",
      "name": "Has Pending User Stories?"
    },
    {
      "parameters": {
        "jsCode": "// Transform user_story_items to match the format expected by summarization\n// User stories are already classified, so we skip classification and go straight to summarization\n\nconst items = $input.all().filter(i => i.json.id);\n\n// Get config from earlier in workflow\nlet thresholds = { runtime: { use_stubs: true }, publishing: { auto_publish_relevance: 70, auto_publish_credibility: 60 } };\nlet agents = {};\ntry {\n  const configData = $('Merge Config & Agents').first().json;\n  thresholds = {\n    runtime: configData._thresholdsConfig?.runtime || thresholds.runtime,\n    ingestion: configData._thresholdsConfig?.ingestion || { relevance_threshold: 50 },\n    publishing: configData._thresholdsConfig?.publishing || thresholds.publishing\n  };\n  agents = configData._agents || {};\n} catch (e) {\n  console.log('Could not get config, using defaults');\n}\n\nconsole.log(`Processing ${items.length} user stories for summarization`);\n\n// Transform each user story to match the format expected after Apply Threshold\nreturn items.map(item => {\n  const story = item.json;\n  \n  // Parse arrays that come as strings from Postgres\n  const topics = Array.isArray(story.topics) ? story.topics : [];\n  const geo = Array.isArray(story.geo) ? story.geo : [];\n  const keyEntities = Array.isArray(story.key_entities) ? story.key_entities : [];\n  const metadata = typeof story.metadata === 'string' ? JSON.parse(story.metadata) : (story.metadata || {});\n  \n  // Build classification object to match RSS item format\n  const classification = {\n    topics,\n    freedom_relevance_score: story.freedom_relevance_score,\n    credibility_score: story.credibility_score,\n    geo,\n    reasoning: story.reasoning || '',\n    key_entities: keyEntities\n  };\n  \n  return {\n    json: {\n      // Fields expected by summarization\n      sourceItemId: story.id,  // Use user_story_items.id as sourceItemId\n      sourceItemUrl: story.url,\n      extractedText: story.extracted_text,\n      metadata: {\n        ...metadata,\n        sourceName: 'Community Submission',\n        sourceTier: story.tier || 2,\n        sourceTags: topics,\n        title: story.title,\n        isUserStory: true,\n        submissionId: story.submission_id\n      },\n      classification,\n      meetsThreshold: true,  // Already passed threshold in Workflow C\n      usedThreshold: 80,     // Story queue threshold\n      _thresholds: thresholds,\n      _agents: agents,\n      _isUserStory: true,\n      _userStoryId: story.id\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7856,
        41712
      ],
      "id": "ece98f3d-862d-4b30-9468-a4eab33e8d3d",
      "name": "Transform User Stories for Summarization"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        8080,
        41712
      ],
      "id": "5ea09792-2f98-42a1-a2b1-2728b7dd55a4",
      "name": "Loop Over User Stories"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "use-stubs-user-story-summarize",
              "leftValue": "={{ $json._thresholds?.runtime?.use_stubs ?? true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8288,
        41888
      ],
      "id": "8c5c5e20-50bc-4631-b321-d2ead27917a1",
      "name": "Use Stubs for User Story Summarize?"
    },
    {
      "parameters": {
        "jsCode": "// STUB: Summarizer for user stories\nconst data = $input.first().json;\nconst classification = data.classification;\nconst text = data.extractedText || '';\nconst metadata = data.metadata || {};\nconst title = metadata.title || text.substring(0, 100).split('.')[0] + '...';\nconst tldr = text.substring(0, 250).trim() + '...';\n\nconst sentences = text.split(/[.!?]+/).filter(s => s.trim().length > 20);\nconst summaryBullets = sentences.slice(0, 7).map(s => s.trim());\nwhile (summaryBullets.length < 5) summaryBullets.push('Additional analysis pending.');\n\nconst summary = {\n  title: title.substring(0, 120),\n  tldr: tldr.substring(0, 280),\n  summary_bullets: summaryBullets.slice(0, 10),\n  deep_dive_markdown: classification.freedom_relevance_score >= 85\n    ? `## Analysis\\n\\n${text.substring(0, 2000)}...\\n\\n## Implications\\n\\nThis community-submitted story highlights important developments in freedom technology.`\n    : null,\n  citations: [data.sourceItemUrl],\n  recommended_actions: [],\n  related_projects: []\n};\n\nreturn [{\n  json: {\n    content: [{ type: 'text', text: JSON.stringify(summary) }],\n    _sourceItemId: data.sourceItemId,\n    _classification: classification,\n    _sourceItemUrl: data.sourceItemUrl,\n    _thresholds: data._thresholds,\n    _agents: data._agents,\n    _isUserStory: true,\n    _userStoryId: data._userStoryId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8480,
        41840
      ],
      "id": "3800dae5-7531-4634-a0ec-1f168b2aaa2b",
      "name": "User Story Summarize Stub"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2048,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": {{ JSON.stringify($json._agents?.summarize + \"\\n\\n# Input\\n\\n\" + JSON.stringify({ sourceUrl: $json.sourceItemUrl, extractedText: $json.extractedText.substring(0, 8000), classification: $json.classification, includeDeepDive: $json.classification.freedom_relevance_score >= 85, isUserStory: true })) }}\n  }]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        8480,
        42016
      ],
      "id": "b2ace37f-4df5-4d80-b9fc-686fe212215f",
      "name": "User Story Summarize with Claude",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2ueFHzVgKw4S5KuR",
          "name": "Claude API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Wrap Claude response for user story summarization\nconst claudeResponse = $input.first().json;\nconst originalData = $('Loop Over User Stories').first().json;\n\nreturn [{\n  json: {\n    content: claudeResponse.content,\n    _sourceItemId: originalData.sourceItemId,\n    _classification: originalData.classification,\n    _sourceItemUrl: originalData.sourceItemUrl,\n    _thresholds: originalData._thresholds,\n    _agents: originalData._agents,\n    _isUserStory: true,\n    _userStoryId: originalData._userStoryId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8656,
        42016
      ],
      "id": "a3995aba-0583-4a01-ad54-17a6f2b123da",
      "name": "Wrap User Story Summarize Response"
    },
    {
      "parameters": {
        "jsCode": "// Parse user story summary and determine publish status\nconst input = $input.first().json;\nconst thresholds = input._thresholds || {};\nconst classification = input._classification;\nlet summary;\n\ntry {\n  let text = input.content[0].text;\n  text = text.trim();\n  if (text.startsWith('```')) {\n    text = text.replace(/^```(?:json)?\\s*\\n?/, '');\n    text = text.replace(/\\n?```\\s*$/, '');\n  }\n  summary = JSON.parse(text.trim());\n  if (!summary.citations || !Array.isArray(summary.citations)) summary.citations = [];\n  if (input._sourceItemUrl && !summary.citations.includes(input._sourceItemUrl)) {\n    summary.citations.push(input._sourceItemUrl);\n  }\n} catch (e) {\n  summary = {\n    title: `[Parse Error] Community Story`,\n    tldr: `Failed to parse AI summary. Error: ${e.message}`,\n    summary_bullets: ['AI summary parsing failed', 'Manual review required'],\n    citations: input._sourceItemUrl ? [input._sourceItemUrl] : [],\n    deep_dive_markdown: null\n  };\n}\n\nconst autoPublishRelevance = thresholds.publishing?.auto_publish_relevance || 70;\nconst autoPublishCredibility = thresholds.publishing?.auto_publish_credibility || 60;\nconst hasCitations = summary.citations && summary.citations.length > 0;\nconst meetsRelevance = classification.freedom_relevance_score >= autoPublishRelevance;\nconst meetsCredibility = classification.credibility_score >= autoPublishCredibility;\nconst canAutoPublish = meetsRelevance && meetsCredibility && hasCitations;\nconst status = canAutoPublish ? 'published' : 'queued';\nconst publishedAt = canAutoPublish ? new Date().toISOString() : null;\n\nconst slug = summary.title.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, '').substring(0, 60);\nconst publishedUrl = canAutoPublish ? `https://libertas.fgu.tech/posts/${slug}` : null;\n\nreturn [{\n  json: {\n    sourceItemId: input._sourceItemId,\n    sourceItemUrl: input._sourceItemUrl,\n    title: summary.title,\n    tldr: summary.tldr,\n    summaryBullets: summary.summary_bullets,\n    deepDiveMarkdown: summary.deep_dive_markdown,\n    topics: classification.topics,\n    geo: classification.geo,\n    freedomRelevanceScore: classification.freedom_relevance_score,\n    credibilityScore: classification.credibility_score,\n    citations: summary.citations,\n    status,\n    publishedUrl,\n    publishedAt,\n    _thresholds: thresholds,\n    _isUserStory: true,\n    _userStoryId: input._userStoryId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8816,
        41840
      ],
      "id": "1090e7cb-7bff-4a42-bae0-763cda0e2ecc",
      "name": "Parse User Story Summary"
    },
    {
      "parameters": {
        "jsCode": "// Build INSERT query for user story insight\nconst data = $input.first().json;\n\nfunction escapeStr(str) {\n  if (str === null || str === undefined) return 'NULL';\n  return \"'\" + String(str).replace(/'/g, \"''\") + \"'\";\n}\n\nfunction formatPgArray(arr) {\n  if (!arr || arr.length === 0) return \"'{}'\";\n  const escaped = arr.map(s => '\"' + String(s).replace(/\"/g, '\\\\\\\"').replace(/'/g, \"''\") + '\"');\n  return \"'{\" + escaped.join(',') + \"}'\";\n}\n\n// Use sourceItemId (which is user_story_items.id) but note it's not a source_items reference\n// We store it for traceability but the FK constraint only applies to source_items\n// For user stories, we'll store the user_story_items.id in metadata instead\nconst query = `INSERT INTO insights (\n  source_item_ids, title, tldr, summary_bullets, deep_dive_markdown,\n  topics, geo, freedom_relevance_score, credibility_score, citations,\n  status, published_url, published_at\n) VALUES (\n  '{}',\n  ${escapeStr(data.title || 'Untitled')},\n  ${escapeStr(data.tldr || '')},\n  ${formatPgArray(data.summaryBullets || [])},\n  ${data.deepDiveMarkdown ? escapeStr(data.deepDiveMarkdown) : 'NULL'},\n  ${formatPgArray(data.topics || [])},\n  ${formatPgArray(data.geo || [])},\n  ${data.freedomRelevanceScore},\n  ${data.credibilityScore},\n  ${formatPgArray(data.citations || [])},\n  ${escapeStr(data.status)},\n  ${data.publishedUrl ? escapeStr(data.publishedUrl) : 'NULL'},\n  ${data.publishedAt ? escapeStr(data.publishedAt) : 'NULL'}\n) RETURNING id, title, status`;\n\nreturn [{ json: { query, sourceData: data } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9008,
        41840
      ],
      "id": "91049077-710d-47da-813a-e27b0c9d866b",
      "name": "Build User Story Insight Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        9200,
        41840
      ],
      "id": "74e7e890-ff24-4d52-b396-961283e8ca31",
      "name": "Insert User Story Insight",
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the insight ID from the insert result and prepare to update user_story_items\nconst insertResult = $input.first().json;\nconst sourceData = $('Build User Story Insight Query').first().json.sourceData;\n\nreturn [{\n  json: {\n    insightId: insertResult.id,\n    userStoryId: sourceData._userStoryId,\n    title: insertResult.title,\n    status: insertResult.status,\n    _thresholds: sourceData._thresholds\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9376,
        41840
      ],
      "id": "f5f75beb-0da0-429e-b528-0756172115bb",
      "name": "Prepare User Story Update"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_story_items\n  SET insight_generated = TRUE,\n      insight_id = $1::uuid,\n      processed_at = NOW()\n  WHERE id = $2::uuid",
        "options": {
          "queryReplacement": "={{ $json.insightId }}, {{ $json.userStoryId }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        9552,
        41840
      ],
      "id": "e038efd3-77f4-4608-90e6-37bb8faccdb7",
      "name": "Mark User Story Processed",
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Collect user story processing results and continue to loop\nconst result = $('Prepare User Story Update').first().json;\nconsole.log(`User story ${result.userStoryId} generated insight ${result.insightId} with status ${result.status}`);\nreturn [{ json: { processed: true, ...result } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9744,
        42016
      ],
      "id": "4c7aa8e8-64e2-403c-b3d6-c75da821d89d",
      "name": "User Story Loop Result"
    },
    {
      "parameters": {
        "jsCode": "// User story processing complete, continue to feed publishing\nconsole.log('=== User Story Processing Complete ===');\nconst items = $input.all();\nconsole.log(`Processed ${items.length} user stories`);\nreturn [{ json: { userStoriesProcessed: items.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9744,
        41696
      ],
      "id": "e4dc13cb-003c-4160-885b-e95cd8285f9f",
      "name": "User Story Processing Complete"
    },
    {
      "parameters": {
        "jsCode": "// No pending user stories to process\nconsole.log('No pending user stories to process');\nreturn [{ json: { userStoriesProcessed: 0 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7856,
        42176
      ],
      "id": "564b6e6a-c92c-4b68-b66f-caa20abf1997",
      "name": "No Pending User Stories"
    },
    {
      "parameters": {
        "content": "# Fetch Configs & Prompts from Libertas API",
        "height": 848,
        "width": 864,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3824,
        41456
      ],
      "typeVersion": 1,
      "id": "bbab6012-9c64-4e1c-9b7c-f6ab56e74cf2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Fetch Source Data",
        "height": 208,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5312,
        41824
      ],
      "typeVersion": 1,
      "id": "21e7bfa4-fe93-4e50-8e66-c1dae1f7776a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# De-Duplication",
        "height": 288,
        "width": 960,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5312,
        42048
      ],
      "typeVersion": 1,
      "id": "c4078e88-14ef-4af5-aaf9-6be878e2be45",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM source_items WHERE content_hash = $1 LIMIT 1",
        "options": {
          "queryReplacement": "={{ $json.contentHash }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5536,
        42128
      ],
      "id": "a2f8ac0b-1687-4711-8096-95579c4c1fa5",
      "name": "Check Duplicate",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Evaluate duplicate check result and merge with original data\n// Must match each Postgres result with its corresponding original item by index\n// Route _skip items to the duplicate path (isNew=false) to bypass processing\nconst duplicateResults = $input.all();\nconst originalItems = $('Compute Hash').all();\n\n// Process each item, matching by index\nreturn duplicateResults.map((result, index) => {\n  const originalData = originalItems[index]?.json || {};\n  \n  // Route _skip items to duplicate path (bypasses classification/summarization)\n  if (originalData._skip) {\n    return {\n      json: {\n        ...originalData,\n        isNew: false,\n        skippedReason: originalData.error || originalData.noItems ? 'source_error' : 'skip_flag'\n      }\n    };\n  }\n  \n  // Postgres returns object with id if duplicate found, empty/undefined otherwise\n  const isDuplicate = result.json && result.json.id;\n  \n  return {\n    json: {\n      ...originalData,\n      isNew: !isDuplicate,\n      duplicateId: isDuplicate ? result.json.id : null\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5712,
        42128
      ],
      "id": "ebe5f82e-03c7-48f2-8457-742cbfa9d2c3",
      "name": "Evaluate Duplicate"
    },
    {
      "parameters": {
        "content": "# Classify Source Content",
        "height": 368,
        "width": 1568,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5312,
        42352
      ],
      "typeVersion": 1,
      "id": "ebb31368-ae13-4388-bf1f-6d7b9ea085f0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Summarize Source Content",
        "height": 480,
        "width": 1568,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5312,
        42752
      ],
      "typeVersion": 1,
      "id": "31a8185b-f07d-44a4-b261-43b0a2a3087d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Loop through all sources & Use Claude API to Classify + Summarize Insights",
        "height": 1616,
        "width": 2208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4896,
        41696
      ],
      "typeVersion": 1,
      "id": "5d8f5d15-e740-4ce6-93d3-08b27a45037a",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Loop through all relevant User Stories & Use Claude API to Summarize Insights",
        "height": 720,
        "width": 2720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7264,
        41632
      ],
      "typeVersion": 1,
      "id": "76b1bff8-8f79-4ea6-8d9a-09a7b8cd9e17",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Generate new static files, if any ( Feeds & Insight Markdowns )",
        "height": 448,
        "width": 1104,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        10192,
        41984
      ],
      "typeVersion": 1,
      "id": "d72596bc-cb4f-4e27-9320-637e7ebb616a",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# Commit files to the Github Repo",
        "height": 448,
        "width": 1616,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        11424,
        41936
      ],
      "typeVersion": 1,
      "id": "fee79870-32fd-44a7-90c1-1ab771f7809a",
      "name": "Sticky Note8"
    }
  ],
  "pinData": {},
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Fetch Sources Config",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Thresholds Config",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Classify Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Summarize Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sources Config": {
      "main": [
        [
          {
            "node": "Merge Configs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Thresholds Config": {
      "main": [
        [
          {
            "node": "Merge Configs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Classify Prompt": {
      "main": [
        [
          {
            "node": "Merge Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Summarize Prompt": {
      "main": [
        [
          {
            "node": "Merge Prompts",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Configs": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Prompts": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All": {
      "main": [
        [
          {
            "node": "Merge Config & Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Config & Agents": {
      "main": [
        [
          {
            "node": "Load Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Sources": {
      "main": [
        [
          {
            "node": "Loop Over Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Sources": {
      "main": [
        [
          {
            "node": "Workflow Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch RSS & Extract Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS & Extract Items": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "Compute Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Hash": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Item?": {
      "main": [
        [
          {
            "node": "Insert Source Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Source Item": {
      "main": [
        [
          {
            "node": "Use Stubs for Classify?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Stubs for Classify?": {
      "main": [
        [
          {
            "node": "Classify Stub (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Classify with Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify with Claude API": {
      "main": [
        [
          {
            "node": "Wrap Claude Classify Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap Claude Classify Response": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Stub (Claude)": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "Validate Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Classification": {
      "main": [
        [
          {
            "node": "Apply Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Threshold": {
      "main": [
        [
          {
            "node": "Build Classification Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Classification Update": {
      "main": [
        [
          {
            "node": "Update Source Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Source Classification": {
      "main": [
        [
          {
            "node": "Restore Classification Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Classification Data": {
      "main": [
        [
          {
            "node": "Meets Threshold?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meets Threshold?": {
      "main": [
        [
          {
            "node": "Use Stubs for Summarize?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Stubs for Summarize?": {
      "main": [
        [
          {
            "node": "Summarize Stub (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summarize with Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize with Claude API": {
      "main": [
        [
          {
            "node": "Wrap Claude Summarize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap Claude Summarize Response": {
      "main": [
        [
          {
            "node": "Parse Summary & Gates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Stub (Claude)": {
      "main": [
        [
          {
            "node": "Parse Summary & Gates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Summary & Gates": {
      "main": [
        [
          {
            "node": "Validate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Summary": {
      "main": [
        [
          {
            "node": "Build Insight Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Insight Query": {
      "main": [
        [
          {
            "node": "Insert Insight",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Insight": {
      "main": [
        [
          {
            "node": "Is Published?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Published?": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query All Published Insights": {
      "main": [
        [
          {
            "node": "Generate RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate RSS Feed": {
      "main": [
        [
          {
            "node": "Generate JSON Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate JSON Feed": {
      "main": [
        [
          {
            "node": "Generate Insight Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Insight Markdown": {
      "main": [
        [
          {
            "node": "Use Stubs for Publishing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Stubs for Publishing?": {
      "main": [
        [
          {
            "node": "GitHub Commit Stub (Feeds)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare GitHub Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare GitHub Commit": {
      "main": [
        [
          {
            "node": "Get Branch Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Branch Ref": {
      "main": [
        [
          {
            "node": "Get Base Tree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Base Tree": {
      "main": [
        [
          {
            "node": "Build Tree Entries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Tree Entries": {
      "main": [
        [
          {
            "node": "Create Tree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tree": {
      "main": [
        [
          {
            "node": "Create Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Commit": {
      "main": [
        [
          {
            "node": "Update Branch Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Branch Ref": {
      "main": [
        [
          {
            "node": "Wrap GitHub Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Skipped": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Duplicate": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Loop Over Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Complete": {
      "main": [
        [
          {
            "node": "Prepare User Story Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare User Story Query": {
      "main": [
        [
          {
            "node": "Query Pending User Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Pending User Stories": {
      "main": [
        [
          {
            "node": "Has Pending User Stories?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pending User Stories?": {
      "main": [
        [
          {
            "node": "Transform User Stories for Summarization",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Pending User Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform User Stories for Summarization": {
      "main": [
        [
          {
            "node": "Loop Over User Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over User Stories": {
      "main": [
        [
          {
            "node": "User Story Processing Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Use Stubs for User Story Summarize?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Stubs for User Story Summarize?": {
      "main": [
        [
          {
            "node": "User Story Summarize Stub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "User Story Summarize with Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Story Summarize Stub": {
      "main": [
        [
          {
            "node": "Parse User Story Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Story Summarize with Claude": {
      "main": [
        [
          {
            "node": "Wrap User Story Summarize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap User Story Summarize Response": {
      "main": [
        [
          {
            "node": "Parse User Story Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse User Story Summary": {
      "main": [
        [
          {
            "node": "Build User Story Insight Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build User Story Insight Query": {
      "main": [
        [
          {
            "node": "Insert User Story Insight",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert User Story Insight": {
      "main": [
        [
          {
            "node": "Prepare User Story Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare User Story Update": {
      "main": [
        [
          {
            "node": "Mark User Story Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark User Story Processed": {
      "main": [
        [
          {
            "node": "User Story Loop Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Story Loop Result": {
      "main": [
        [
          {
            "node": "Loop Over User Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Story Processing Complete": {
      "main": [
        [
          {
            "node": "Query New Published Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Pending User Stories": {
      "main": [
        [
          {
            "node": "Query New Published Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query New Published Insights": {
      "main": [
        [
          {
            "node": "Has New Insights?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Insights?": {
      "main": [
        [
          {
            "node": "Query All Published Insights",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log No New Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "Evaluate Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Duplicate": {
      "main": [
        [
          {
            "node": "Is New Item?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c8e3a4f1-c297-44a8-bf52-2e72daee6770",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c52e1b61141902bda826728d3cf15d2a867de8395f358b7459edf58ff4157ae"
  },
  "id": "BM8nmz7OgdZsvrdAqq1jK",
  "tags": []
}