n8n/workflows/workflow-b-digest.json
{
  "name": "Libertas - Weekly Digest - Workflow B",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        304,
        7568
      ],
      "id": "49cc7c01-7e50-4239-a521-298c29c56793",
      "name": "Weekly Sunday 9am UTC"
    },
    {
      "parameters": {
        "url": "=https://libertas.fgu.tech/api/config/thresholds",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        624,
        7472
      ],
      "id": "bf1cd6e3-9e8a-45af-b13c-e3c2b18e6580",
      "name": "Fetch Thresholds Config"
    },
    {
      "parameters": {
        "url": "=https://libertas.fgu.tech/api/agents/digest",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        624,
        7664
      ],
      "id": "27d75f7d-81ef-4b7b-8725-16f99524dc4b",
      "name": "Fetch Digest Prompt"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        864,
        7568
      ],
      "id": "2be99138-3d24-45c8-a4a2-f67e218bcb54",
      "name": "Wait for Fetches"
    },
    {
      "parameters": {
        "jsCode": "// Merge thresholds config and digest agent prompt from fetched data\nconst allItems = $input.all();\n\nlet thresholdsConfig = {};\nlet digestPrompt = null;\n\nfor (const item of allItems) {\n  const data = item.json;\n  // Thresholds config has runtime/ingestion/publishing sections\n  if (data.runtime || data.ingestion || data.publishing) {\n    thresholdsConfig = data;\n  }\n  // Digest prompt has content and name fields\n  else if (data.content && (data.name === 'digest' || data.content.includes('digest'))) {\n    digestPrompt = data;\n  }\n}\n\nconsole.log(`Loaded thresholds config: runtime.use_stubs=${thresholdsConfig.runtime?.use_stubs}`);\nconsole.log(`Loaded digest prompt: ${digestPrompt?.content?.length || 0} chars`);\n\nreturn [{\n  json: {\n    ...thresholdsConfig,\n    _agents: {\n      digest: digestPrompt?.content || ''\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        7568
      ],
      "id": "246f3833-9454-4476-9d80-dff04d24d937",
      "name": "Merge Config & Agents"
    },
    {
      "parameters": {
        "jsCode": "// Calculate date range for digest\n// Uses config values from merged config + agents\n\nconst merged = $input.first().json;\nconst digestConfig = merged.digest || {};\nconst runtimeConfig = merged.runtime || { use_stubs: true };\nconst agents = merged._agents;\n\n// Get thresholds from config\nconst minInsights = digestConfig.min_insights || 3;\nconst maxPerSection = digestConfig.max_per_section || 10;\n\nconst now = new Date();\nconst periodEnd = new Date(now);\nperiodEnd.setUTCDate(periodEnd.getUTCDate() - 1); // Yesterday\nperiodEnd.setUTCHours(23, 59, 59, 999);\n\nconst periodStart = new Date(periodEnd);\nperiodStart.setUTCDate(periodStart.getUTCDate() - 6); // 7 days ago\nperiodStart.setUTCHours(0, 0, 0, 0);\n\n// Format dates for SQL query and display\nconst formatDateSQL = (d) => d.toISOString();\nconst formatDateDisplay = (d) => d.toISOString().split('T')[0];\n\nconsole.log(`Using thresholds from config: minInsights=${minInsights}, maxPerSection=${maxPerSection}`);\nconsole.log(`Runtime config: use_stubs=${runtimeConfig.use_stubs}`);\nconsole.log(`Loaded digest agent prompt: ${agents?.digest?.length || 0} chars`);\n\nreturn [{\n  json: {\n    periodStartSQL: formatDateSQL(periodStart),\n    periodEndSQL: formatDateSQL(periodEnd),\n    periodStartDisplay: formatDateDisplay(periodStart),\n    periodEndDisplay: formatDateDisplay(periodEnd),\n    digestId: `digest-${formatDateDisplay(periodEnd)}`,\n    generatedAt: now.toISOString(),\n    _thresholds: {\n      runtime: runtimeConfig,\n      minInsights,\n      maxPerSection\n    },\n    _agents: agents\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        7568
      ],
      "id": "857ba4fd-186f-4fde-9a36-044c809e8ee4",
      "name": "Calculate Period"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  id, title, tldr, summary_bullets, deep_dive_markdown,\n  topics, geo, freedom_relevance_score, credibility_score,\n  citations, status, published_url, published_at, created_at\nFROM insights \nWHERE status = 'published' \n  AND published_at >= $1::timestamptz \n  AND published_at <= $2::timestamptz\nORDER BY freedom_relevance_score DESC, published_at DESC",
        "options": {
          "queryReplacement": "={{ $json.periodStartSQL }}, {{ $json.periodEndSQL }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1584,
        7472
      ],
      "id": "124fdb3c-1377-4a20-b582-0cc009e1022e",
      "name": "Query Published Insights",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  id, derived_from_insight_ids, problem_statement, threat_model,\n  affected_groups, proposed_solution, mvp_scope, misuse_risks,\n  feasibility_score, impact_score, status, github_issue_url,\n  technical_dependencies, suggested_stack, prior_art, open_questions,\n  created_at, updated_at\nFROM project_ideas \nWHERE created_at >= $1::timestamptz \n  AND created_at <= $2::timestamptz\n  AND status IN ('new', 'triaged', 'build_candidate')\nORDER BY impact_score DESC, feasibility_score DESC",
        "options": {
          "queryReplacement": "={{ $('Calculate Period').first().json.periodStartSQL }}, {{ $('Calculate Period').first().json.periodEndSQL }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1584,
        7664
      ],
      "id": "16083b14-64a3-44b2-b2b5-c21d2ee8d86a",
      "name": "Query Recent Project Ideas",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1776,
        7568
      ],
      "id": "d719dbed-f798-4a50-bead-16f0d5511703",
      "name": "Wait for Queries"
    },
    {
      "parameters": {
        "jsCode": "// Merge insights and project ideas with period data\nconst allItems = $input.all().map(item => item.json);\nconst periodData = $('Calculate Period').first().json;\nconst thresholds = periodData._thresholds || {};\nconst agents = periodData._agents;\nconst minInsights = thresholds.minInsights || 3;\n\n// Separate insights from project ideas based on structure\n// Insights have 'title' and 'topics', project ideas have 'problem_statement'\nconst insights = [];\nconst projectIdeas = [];\n\nfor (const item of allItems) {\n  if (!item.id) continue;\n  if (item.problem_statement) {\n    // This is a project idea\n    projectIdeas.push(item);\n  } else if (item.title || item.tldr) {\n    // This is an insight\n    insights.push(item);\n  }\n}\n\nconsole.log(`Found ${insights.length} insights and ${projectIdeas.length} project ideas for period`);\n\n// Check if we have minimum required insights from config\nif (!insights || insights.length < minInsights) {\n  console.log(`Only ${insights.length} insights found, minimum required: ${minInsights}`);\n  return [{\n    json: {\n      ...periodData,\n      insights: insights,\n      projectIdeas: projectIdeas,\n      insightCount: insights.length,\n      projectIdeaCount: projectIdeas.length,\n      hasInsights: false,\n      skipReason: `Insufficient insights (${insights.length}/${minInsights} required)`,\n      _agents: agents\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...periodData,\n    insights: insights,\n    projectIdeas: projectIdeas,\n    insightCount: insights.length,\n    projectIdeaCount: projectIdeas.length,\n    hasInsights: true,\n    _agents: agents\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        7568
      ],
      "id": "9995f0be-47bd-4256-8cb6-601238f5a7f5",
      "name": "Merge Insights with Period"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-insights",
              "leftValue": "={{ $json.hasInsights }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2144,
        7568
      ],
      "id": "a091fa68-4eb4-44ba-837d-d2cfc3bde8b0",
      "name": "Has Insights?"
    },
    {
      "parameters": {
        "jsCode": "// Group insights by topic and prepare aggregated data\n// Uses maxPerSection threshold from config\nconst data = $input.first().json;\nconst insights = data.insights || [];\nconst projectIdeas = data.projectIdeas || [];\nconst thresholds = data._thresholds || {};\nconst agents = data._agents;\nconst maxPerSection = thresholds.maxPerSection || 10;\n\n// Group insights by primary topic (first topic in array)\nconst byTopic = {};\nconst topicCounts = {};\n\nfor (const insight of insights) {\n  const topics = insight.topics || [];\n  const primaryTopic = topics[0] || 'other';\n  \n  if (!byTopic[primaryTopic]) {\n    byTopic[primaryTopic] = [];\n    topicCounts[primaryTopic] = 0;\n  }\n  byTopic[primaryTopic].push(insight);\n  topicCounts[primaryTopic]++;\n  \n  // Also count all topics for ranking\n  for (const topic of topics) {\n    if (topic !== primaryTopic) {\n      topicCounts[topic] = (topicCounts[topic] || 0) + 1;\n    }\n  }\n}\n\n// Sort topics by count for top_topics\nconst topTopics = Object.entries(topicCounts)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 5)\n  .map(([topic]) => topic);\n\n// Collect all citations\nconst allCitations = [];\nfor (const insight of insights) {\n  if (insight.citations) {\n    allCitations.push(...insight.citations);\n  }\n}\nconst uniqueCitations = [...new Set(allCitations)];\n\n// Build sections data for LLM - limit per section using maxPerSection from config\nconst sections = Object.entries(byTopic).map(([topic, topicInsights]) => ({\n  topic,\n  insightCount: topicInsights.length,\n  insights: topicInsights.slice(0, maxPerSection).map(i => ({\n    id: i.id,\n    title: i.title,\n    tldr: i.tldr,\n    score: i.freedom_relevance_score,\n    published_url: i.published_url,\n    citations: i.citations\n  }))\n}));\n\n// Format project ideas for LLM\nconst formattedProjectIdeas = projectIdeas.map(idea => ({\n  id: idea.id,\n  problem_statement: idea.problem_statement,\n  proposed_solution: idea.proposed_solution,\n  mvp_scope: idea.mvp_scope,\n  feasibility_score: idea.feasibility_score,\n  impact_score: idea.impact_score,\n  status: idea.status,\n  github_issue_url: idea.github_issue_url,\n  affected_groups: idea.affected_groups\n}));\n\nconsole.log(`Aggregated insights into ${sections.length} sections (max ${maxPerSection} per section)`);\nconsole.log(`Including ${formattedProjectIdeas.length} project ideas for digest`);\n\n// Pass through runtime config for stub/real toggle\nconst runtime = data._thresholds?.runtime || { use_stubs: true };\n\nreturn [{\n  json: {\n    ...data,\n    byTopic,\n    sections,\n    topTopics,\n    uniqueCitations,\n    formattedProjectIdeas,\n    topicSummary: Object.entries(topicCounts).map(([t, c]) => `${t}: ${c}`).join(', '),\n    _usedThresholds: {\n      maxPerSection\n    },\n    _runtime: runtime\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        7504
      ],
      "id": "3d5c49ae-38b9-471d-9dec-9e1f93552ee6",
      "name": "Aggregate by Topic"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "use-stubs-digest",
              "leftValue": "={{ $json._runtime?.use_stubs ?? true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2736,
        7504
      ],
      "id": "0e64cadd-fb1f-434c-8e14-328f92b0d694",
      "name": "Use Stubs for DigestComposer?"
    },
    {
      "parameters": {
        "jsCode": "// STUB: DigestComposer Agent\n// Simulates Claude API response for digest generation\n// Replace with real HTTP Request to Claude API when ready\n\nconst data = $input.first().json;\nconst insights = data.insights || [];\nconst sections = data.sections || [];\nconst topTopics = data.topTopics || [];\nconst projectIdeas = data.formattedProjectIdeas || [];\n\n// Topic display names\nconst topicNames = {\n  'bitcoin': 'Bitcoin & Payments',\n  'zk': 'Zero Knowledge',\n  'censorship-resistance': 'Censorship Resistance',\n  'comms': 'Secure Communications',\n  'payments': 'Payments & Finance',\n  'identity': 'Identity & Privacy',\n  'privacy': 'Privacy',\n  'surveillance': 'Surveillance',\n  'activism': 'Activism',\n  'sovereignty': 'Sovereignty'\n};\n\n// Generate TL;DR\nconst topInsights = insights.slice(0, 3);\nlet tldr = `This week brought ${data.insightCount} signals across ${topTopics.length} key areas of freedom technology. `;\n\nif (topInsights.length > 0) {\n  tldr += `Top stories include: ${topInsights.map(i => i.title).join('; ')}. `;\n}\n\nif (projectIdeas.length > 0) {\n  tldr += `${projectIdeas.length} new project idea${projectIdeas.length > 1 ? 's were' : ' was'} generated. `;\n}\n\nif (topTopics.length > 0) {\n  tldr += `Most active topics: ${topTopics.slice(0, 3).map(t => topicNames[t] || t).join(', ')}.`;\n}\n\n// Generate sections markdown\nconst sectionMarkdowns = [];\n\nfor (const section of sections) {\n  const topicTitle = topicNames[section.topic] || section.topic;\n  let md = `### ${topicTitle}\\n\\n`;\n  \n  for (const insight of section.insights) {\n    const url = insight.published_url || '#';\n    md += `- [${insight.title}](${url}) \\u2014 ${insight.tldr}\\n`;\n  }\n  \n  sectionMarkdowns.push({\n    title: topicTitle,\n    content_markdown: md,\n    insight_ids: section.insights.map(i => i.id)\n  });\n}\n\n// Identify emerging patterns (stub - simple keyword analysis)\nconst emergingPatterns = [];\nif (data.insightCount >= 3) {\n  emergingPatterns.push({\n    pattern: `Increased activity in ${topTopics[0] || 'freedom tech'} space`,\n    supporting_signals: insights.slice(0, 2).map(i => i.id)\n  });\n}\nif (insights.some(i => (i.geo || []).length > 0)) {\n  const geos = [...new Set(insights.flatMap(i => i.geo || []))];\n  if (geos.length > 0) {\n    emergingPatterns.push({\n      pattern: `Geographic focus on ${geos.slice(0, 3).join(', ')}`,\n      supporting_signals: insights.filter(i => (i.geo || []).length > 0).slice(0, 2).map(i => i.id)\n    });\n  }\n}\n\n// Format project ideas for output\nconst formattedIdeasOutput = projectIdeas.map(idea => ({\n  id: idea.id,\n  problem_statement: idea.problem_statement,\n  proposed_solution: idea.proposed_solution,\n  impact_score: idea.impact_score,\n  feasibility_score: idea.feasibility_score,\n  github_issue_url: idea.github_issue_url,\n  status: idea.status\n}));\n\n// Looking ahead suggestions\nconst lookingAhead = [\n  'Continue monitoring developments in ' + (topTopics[0] ? (topicNames[topTopics[0]] || topTopics[0]) : 'key freedom tech areas'),\n  'Watch for regulatory responses to emerging tools',\n  'Track adoption metrics for highlighted projects'\n];\n\nif (projectIdeas.length > 0) {\n  lookingAhead.push(`Review and triage ${projectIdeas.length} new project idea${projectIdeas.length > 1 ? 's' : ''} for potential implementation`);\n}\n\n// Build full digest content\nconst digestOutput = {\n  tldr: tldr,\n  sections: sectionMarkdowns,\n  emerging_patterns: emergingPatterns,\n  project_ideas: formattedIdeasOutput,\n  looking_ahead: lookingAhead,\n  insight_count: data.insightCount,\n  project_idea_count: projectIdeas.length,\n  top_topics: topTopics\n};\n\n// Format as Claude API response structure\nreturn [{\n  json: {\n    content: [{\n      type: 'text',\n      text: JSON.stringify(digestOutput)\n    }],\n    _periodData: {\n      periodStartDisplay: data.periodStartDisplay,\n      periodEndDisplay: data.periodEndDisplay,\n      digestId: data.digestId\n    },\n    _uniqueCitations: data.uniqueCitations,\n    _projectIdeas: projectIdeas,\n    _agents: data._agents\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        7440
      ],
      "id": "2228b305-290d-42ac-8f10-c9b02c1b5e95",
      "name": "DigestComposer Stub (Claude)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": {{ JSON.stringify($('Aggregate by Topic').first().json._agents?.digest + \"\\n\\n# Input\\n\\nPeriod: \" + $('Aggregate by Topic').first().json.periodStartDisplay + \" to \" + $('Aggregate by Topic').first().json.periodEndDisplay + \"\\n\\nInsights by topic:\\n\" + JSON.stringify($('Aggregate by Topic').first().json.sections, null, 2) + \"\\n\\nProject Ideas from this week:\\n\" + JSON.stringify($('Aggregate by Topic').first().json.formattedProjectIdeas || [], null, 2) + \"\\n\\nTotal insight count: \" + $('Aggregate by Topic').first().json.insightCount + \"\\nTotal project idea count: \" + ($('Aggregate by Topic').first().json.formattedProjectIdeas?.length || 0)) }}\n  }]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2928,
        7600
      ],
      "id": "21522db3-a28c-4be7-bbbf-51fa2e723a89",
      "name": "DigestComposer with Claude API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2ueFHzVgKw4S5KuR",
          "name": "Claude API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process real Claude API response and add pass-through data for digest\nconst claudeResponse = $input.first().json;\nconst aggregateData = $('Aggregate by Topic').first().json;\n\n// Return in same format as stub for Parse Digest Output compatibility\nreturn [{\n  json: {\n    content: claudeResponse.content,\n    _periodData: {\n      periodStartDisplay: aggregateData.periodStartDisplay,\n      periodEndDisplay: aggregateData.periodEndDisplay,\n      digestId: aggregateData.digestId\n    },\n    _uniqueCitations: aggregateData.uniqueCitations,\n    _projectIdeas: aggregateData.formattedProjectIdeas || [],\n    _agents: aggregateData._agents\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        7600
      ],
      "id": "4f44dff8-2a95-460c-a33a-4485ce1cf401",
      "name": "Wrap Claude Digest Response"
    },
    {
      "parameters": {
        "jsCode": "// Parse digest output from Claude API format\nconst input = $input.first().json;\nlet digest;\n\ntry {\n  let text = input.content[0].text;\n  \n  // Strip markdown code blocks if present (Claude often wraps JSON in ```json...```)\n  text = text.trim();\n  if (text.startsWith('```')) {\n    // Remove opening fence (```json or ```)\n    text = text.replace(/^```(?:json)?\\s*\\n?/, '');\n    // Remove closing fence\n    text = text.replace(/\\n?```\\s*$/, '');\n  }\n  \n  digest = JSON.parse(text.trim());\n} catch (e) {\n  // Fallback if parsing fails\n  console.log('Parse Digest error:', e.message);\n  console.log('Raw text:', input.content?.[0]?.text?.substring(0, 200));\n  digest = {\n    tldr: 'Failed to generate digest summary: ' + e.message,\n    sections: [],\n    emerging_patterns: [],\n    project_ideas: [],\n    looking_ahead: ['Review source insights manually'],\n    insight_count: 0,\n    project_idea_count: 0,\n    top_topics: []\n  };\n}\n\nconst periodData = input._periodData;\nconst uniqueCitations = input._uniqueCitations || [];\nconst projectIdeas = input._projectIdeas || digest.project_ideas || [];\nconst projectIdeaCount = projectIdeas.length || digest.project_idea_count || 0;\nconst topTopics = digest.top_topics || [];\n\n// Format date for display in title (e.g., \"January 13-19, 2026\")\nconst startDate = new Date(periodData.periodStartDisplay + 'T00:00:00Z');\nconst endDate = new Date(periodData.periodEndDisplay + 'T00:00:00Z');\nconst startMonth = startDate.toLocaleDateString('en-US', { month: 'long', timeZone: 'UTC' });\nconst endMonth = endDate.toLocaleDateString('en-US', { month: 'long', timeZone: 'UTC' });\nconst startDay = startDate.getUTCDate();\nconst endDay = endDate.getUTCDate();\nconst year = endDate.getUTCFullYear();\nconst dateRange = startMonth === endMonth ? `${startMonth} ${startDay}-${endDay}, ${year}` : `${startMonth} ${startDay} - ${endMonth} ${endDay}, ${year}`;\n\n// Generate title and slug\nconst digestTitle = `Freedom Tech Weekly: ${dateRange}`;\nconst digestSlug = `weekly-${periodData.periodEndDisplay}`;\n\n// Format top_topics as YAML array\nconst topTopicsYaml = topTopics.length > 0 ? topTopics.map(t => `  - ${t}`).join('\\n') : '  - sovereignty';\n\n// Build full markdown content for digest with proper frontmatter\nlet contentMarkdown = `---\\ntype: digest\\ntitle: \"${digestTitle}\"\\nslug: ${digestSlug}\\nperiod_start: ${periodData.periodStartDisplay}\\nperiod_end: ${periodData.periodEndDisplay}\\ninsight_count: ${digest.insight_count}\\ntop_topics:\\n${topTopicsYaml}\\npublished_at: ${new Date().toISOString()}\\nstatus: published\\n---\\n\\n`;\n\ncontentMarkdown += `## TL;DR\\n\\n${digest.tldr}\\n\\n`;\n\ncontentMarkdown += `## Top Signals\\n\\n`;\nfor (const section of (digest.sections || [])) {\n  contentMarkdown += section.content_markdown + '\\n';\n}\n\nif (digest.emerging_patterns && digest.emerging_patterns.length > 0) {\n  contentMarkdown += `## Emerging Patterns\\n\\n`;\n  for (const pattern of digest.emerging_patterns) {\n    contentMarkdown += `- **${pattern.pattern}**\\n`;\n  }\n  contentMarkdown += '\\n';\n}\n\n// Add Project Ideas Generated This Week section\nif (projectIdeas && projectIdeas.length > 0) {\n  contentMarkdown += `## Project Ideas Generated This Week\\n\\n`;\n  contentMarkdown += `This week's high-signal insights inspired ${projectIdeas.length} new project idea${projectIdeas.length > 1 ? 's' : ''}:\\n\\n`;\n  \n  for (const idea of projectIdeas) {\n    const statusBadge = idea.status === 'build_candidate' ? ' \\u2b50' : '';\n    const issueLink = idea.github_issue_url ? ` ([GitHub Issue](${idea.github_issue_url}))` : '';\n    \n    // Use full problem_statement and proposed_solution without truncation\n    contentMarkdown += `### ${idea.problem_statement || 'Untitled Project Idea'}${statusBadge}\\n\\n`;\n    contentMarkdown += `**Proposed Solution**: ${idea.proposed_solution || 'No solution provided'}\\n\\n`;\n    contentMarkdown += `**Impact Score**: ${idea.impact_score}/100 | **Feasibility Score**: ${idea.feasibility_score}/100${issueLink}\\n\\n`;\n    \n    if (idea.affected_groups && idea.affected_groups.length > 0) {\n      contentMarkdown += `**Affected Groups**: ${idea.affected_groups.join(', ')}\\n\\n`;\n    }\n  }\n}\n\nif (digest.looking_ahead && digest.looking_ahead.length > 0) {\n  contentMarkdown += `## Looking Ahead\\n\\n`;\n  for (const item of digest.looking_ahead) {\n    contentMarkdown += `- ${item}\\n`;\n  }\n  contentMarkdown += '\\n';\n}\n\nif (uniqueCitations && uniqueCitations.length > 0) {\n  contentMarkdown += `## Sources This Week\\n\\n`;\n  for (const citation of uniqueCitations.slice(0, 20)) {\n    contentMarkdown += `- ${citation}\\n`;\n  }\n}\n\n// Prepare data for database insert\nreturn [{\n  json: {\n    periodStart: periodData.periodStartDisplay,\n    periodEnd: periodData.periodEndDisplay,\n    insightCount: digest.insight_count,\n    projectIdeaCount: projectIdeaCount,\n    tldr: digest.tldr,\n    contentMarkdown: contentMarkdown,\n    topTopics: digest.top_topics || [],\n    digestId: periodData.digestId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        7440
      ],
      "id": "711f1f6b-c3bc-4995-a487-67dab420c182",
      "name": "Parse Digest Output"
    },
    {
      "parameters": {
        "jsCode": "// Build INSERT query for digests table with proper escaping\nconst data = $input.first().json;\n\nfunction escapeStr(str) {\n  if (str === null || str === undefined) return 'NULL';\n  return \"'\" + String(str).replace(/'/g, \"''\") + \"'\";\n}\n\nfunction formatPgArray(arr) {\n  if (!arr || arr.length === 0) return \"'{}'\";\n  const escaped = arr.map(s => '\"' + String(s).replace(/\"/g, '\\\\\"').replace(/'/g, \"''\") + '\"');\n  return \"'{\" + escaped.join(',') + \"}'\";\n}\n\nconst publishedAt = new Date().toISOString();\n// Use slug format (weekly-YYYY-MM-DD) for the URL, not digestId\nconst digestSlug = `weekly-${data.periodEnd}`;\nconst publishedUrl = `https://libertas.fgu.tech/digests/${digestSlug}`;\n\nconst query = `INSERT INTO digests (\n  period_start, period_end, insight_count, tldr,\n  content_markdown, top_topics, published_url, published_at\n) VALUES (\n  ${escapeStr(data.periodStart)}::date,\n  ${escapeStr(data.periodEnd)}::date,\n  ${data.insightCount},\n  ${escapeStr(data.tldr)},\n  ${escapeStr(data.contentMarkdown)},\n  ${formatPgArray(data.topTopics)},\n  ${escapeStr(publishedUrl)},\n  ${escapeStr(publishedAt)}::timestamptz\n) ON CONFLICT (period_start, period_end) \nDO UPDATE SET\n  insight_count = EXCLUDED.insight_count,\n  tldr = EXCLUDED.tldr,\n  content_markdown = EXCLUDED.content_markdown,\n  top_topics = EXCLUDED.top_topics,\n  published_url = EXCLUDED.published_url,\n  published_at = EXCLUDED.published_at,\n  updated_at = NOW()\nRETURNING id, period_start, period_end, published_url`;\n\nreturn [{ \n  json: { \n    query, \n    digestData: {\n      ...data,\n      publishedUrl,\n      publishedAt\n    }\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3456,
        7440
      ],
      "id": "4885c5d3-a4f4-4dc2-b1fa-6edbafedc6aa",
      "name": "Build Digest Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3616,
        7440
      ],
      "id": "eb853895-da2e-4864-88f6-0486dbdea745",
      "name": "Insert/Update Digest",
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT ON (id)\n  id, period_start, period_end, insight_count, tldr,\n  top_topics, published_url, published_at, created_at\nFROM digests \nWHERE published_at >= NOW() - INTERVAL '2 months'\nORDER BY id, published_at DESC",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3936,
        7440
      ],
      "id": "5fab27c0-681c-4e83-9b2b-08bfa2cb09ff",
      "name": "Query Recent Digests",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge insert result with digest data, generate feeds using ALL recent digests (past 2 months)\n// Input comes from Query Recent Digests (all historical digests)\nconst allDigests = $input.all().map(item => item.json).filter(d => d.id);\nconst digestData = $('Build Digest Query').first().json.digestData;\nconst periodData = $('Calculate Period').first().json;\nconst runtime = periodData._thresholds?.runtime || { use_stubs: true };\n\n// Deduplicate by ID\nconst seenIds = new Set();\nconst uniqueDigests = allDigests.filter(d => {\n  if (seenIds.has(d.id)) return false;\n  seenIds.add(d.id);\n  return true;\n});\n\n// Extract just the date portion (YYYY-MM-DD) from ISO timestamps or date strings\nfunction formatDate(dateVal) {\n  if (!dateVal) return '';\n  const str = String(dateVal);\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(str)) return str;\n  return str.split('T')[0];\n}\n\n// Current digest data for file commit\nconst currentDigest = uniqueDigests.find(d => formatDate(d.period_end) === digestData.periodEnd) || uniqueDigests[0];\nconst digestId = currentDigest?.id || digestData.digestId;\nconst periodStart = digestData.periodStart;\nconst periodEnd = digestData.periodEnd;\nconst publishedUrl = digestData.publishedUrl;\n\n// Site metadata\nconst siteUrl = 'https://libertas.fgu.tech';\nconst buildDate = new Date().toUTCString();\n\n// Helper to escape XML\nfunction escapeXml(str) {\n  if (!str) return '';\n  return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\\"/g, '&quot;').replace(/'/g, '&apos;');\n}\n\n// Generate RSS items for ALL recent digests (past 2 months)\nconst rssItems = uniqueDigests.map(digest => {\n  const dStart = formatDate(digest.period_start);\n  const dEnd = formatDate(digest.period_end);\n  const digestSlug = `weekly-${dEnd}`;\n  const digestLink = `${siteUrl}/digests/${digestSlug}`;\n  const pubDate = digest.published_at ? new Date(digest.published_at).toUTCString() : buildDate;\n  \n  return `  <item>\\n    <title>Weekly Digest: ${escapeXml(dStart)} to ${escapeXml(dEnd)}</title>\\n    <link>${digestLink}</link>\\n    <guid isPermaLink=\\\"true\\\">${digestLink}</guid>\\n    <pubDate>${pubDate}</pubDate>\\n    <description>${escapeXml(digest.tldr || '')}</description>\\n    <category>weekly-digest</category>\\n  </item>`;\n}).join('\\n');\n\nconst digestsRssFeed = `<?xml version=\\\"1.0\\\" encoding=\\\"UTF-8\\\"?>\\n<rss version=\\\"2.0\\\" xmlns:atom=\\\"http://www.w3.org/2005/Atom\\\">\\n<channel>\\n  <title>Libertas - Weekly Digests</title>\\n  <link>${siteUrl}</link>\\n  <description>Weekly summaries of freedom technology developments</description>\\n  <language>en-us</language>\\n  <lastBuildDate>${buildDate}</lastBuildDate>\\n  <atom:link href=\\\"${siteUrl}/digests-rss.xml\\\" rel=\\\"self\\\" type=\\\"application/rss+xml\\\"/>\\n  <generator>Libertas n8n Workflow</generator>\\n${rssItems}\\n</channel>\\n</rss>`;\n\n// Generate JSON Feed items for ALL recent digests\nconst jsonItems = uniqueDigests.map(digest => {\n  const dStart = formatDate(digest.period_start);\n  const dEnd = formatDate(digest.period_end);\n  const digestSlug = `weekly-${dEnd}`;\n  const digestLink = `${siteUrl}/digests/${digestSlug}`;\n  \n  return {\n    id: digest.id,\n    url: digestLink,\n    title: `Weekly Digest: ${dStart} to ${dEnd}`,\n    summary: digest.tldr || '',\n    content_text: digest.tldr || '',\n    date_published: digest.published_at || new Date().toISOString(),\n    tags: ['weekly-digest'],\n    _libertas: {\n      insight_count: digest.insight_count || 0,\n      period_start: dStart,\n      period_end: dEnd\n    }\n  };\n});\n\nconst digestsJsonFeed = JSON.stringify({\n  version: 'https://jsonfeed.org/version/1.1',\n  title: 'Libertas - Weekly Digests',\n  home_page_url: siteUrl,\n  feed_url: `${siteUrl}/digests-feed.json`,\n  description: 'Weekly summaries of freedom technology developments',\n  language: 'en-US',\n  items: jsonItems\n}, null, 2);\n\nconsole.log(`Generated digest feeds with ${uniqueDigests.length} digests (past 2 months)`);\n\nreturn [{\n  json: {\n    digestId,\n    periodStart,\n    periodEnd,\n    publishedUrl,\n    contentMarkdown: digestData.contentMarkdown,\n    insightCount: digestData.insightCount,\n    tldr: digestData.tldr,\n    digestsRssFeed,\n    digestsJsonFeed,\n    _runtime: runtime\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4112,
        7440
      ],
      "id": "d7f612a8-5185-45d5-933c-9f315d142942",
      "name": "Merge Insert Result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "use-stubs-github",
              "leftValue": "={{ $json._runtime?.use_stubs ?? true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4384,
        7440
      ],
      "id": "9a9cefbd-6252-422c-8695-f659b84e342e",
      "name": "Use Stubs for GitHub?"
    },
    {
      "parameters": {
        "jsCode": "// STUB: GitHub commit for digest markdown and feeds\n// Creates the markdown file content and simulates GitHub API response\n// Updated to use website/public/content/digests/YYYY/MM/ path\n\nconst data = $input.first().json;\n\n// Extract year and month from periodEnd (format: YYYY-MM-DD)\nconst [year, month] = data.periodEnd.split('-');\n\n// Prepare file paths and content for GitHub\n// Using website/public/content/digests/YYYY/MM/ for Next.js static serving\nconst digestPath = `website/public/content/digests/${year}/${month}/weekly-${data.periodEnd}.md`;\nconst commitMessage = `Add weekly digest for ${data.periodStart} to ${data.periodEnd} and update feeds\\n\\nCo-authored-by: Claude <noreply@anthropic.com>`;\n\nconsole.log(`[STUB] Would commit to GitHub (single atomic commit):`);\nconsole.log(`  - ${digestPath} (${data.contentMarkdown.length} bytes)`);\nconsole.log(`  - website/public/digests-rss.xml (${data.digestsRssFeed.length} bytes)`);\nconsole.log(`  - website/public/digests-feed.json (${data.digestsJsonFeed.length} bytes)`);\nconsole.log(`  - Co-authored by Claude`);\n\n// Simulate successful GitHub commit response\nreturn [{\n  json: {\n    success: true,\n    stub: true,\n    commit: {\n      sha: 'stub-sha-' + Date.now(),\n      message: commitMessage\n    },\n    files: [\n      { path: digestPath, action: 'upsert' },\n      { path: 'website/public/digests-rss.xml', action: 'upsert' },\n      { path: 'website/public/digests-feed.json', action: 'upsert' }\n    ],\n    _digestData: data,\n    _digestPath: digestPath\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4592,
        7376
      ],
      "id": "3fd810a8-73d9-4cd2-95d3-1b0235e4cd54",
      "name": "GitHub Commit Stub"
    },
    {
      "parameters": {
        "jsCode": "// Prepare files for atomic GitHub commit via Git Data API\n// Updated paths: digest goes to website/public/content/digests/YYYY/MM/, feeds to website/public/\nconst data = $input.first().json;\n\n// Extract year and month from periodEnd (format: YYYY-MM-DD)\nconst [year, month] = data.periodEnd.split('-');\n\n// Digest file path with year/month nesting\nconst digestPath = `website/public/content/digests/${year}/${month}/weekly-${data.periodEnd}.md`;\n\nreturn [{\n  json: {\n    ...data,\n    _github: {\n      owner: 'FGUTech',\n      repo: 'libertas',\n      branch: 'main',\n      commitMessage: `Add weekly digest for ${data.periodStart} to ${data.periodEnd} and update feeds\\n\\nCo-authored-by: Claude <noreply@anthropic.com>`,\n      files: [\n        {\n          path: digestPath,\n          content: data.contentMarkdown\n        },\n        {\n          path: 'website/public/digests-rss.xml',\n          content: data.digestsRssFeed\n        },\n        {\n          path: 'website/public/digests-feed.json',\n          content: data.digestsJsonFeed\n        }\n      ]\n    },\n    _digestPath: digestPath\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4592,
        7504
      ],
      "id": "3f07670e-891d-4965-b359-8d7adc03ec8d",
      "name": "Prepare GitHub Commit"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json._github.owner }}/{{ $json._github.repo }}/git/ref/heads/{{ $json._github.branch }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4752,
        7504
      ],
      "id": "eeb5fd46-c736-4548-8796-280bd1e95f7b",
      "name": "Get Branch Ref",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DwAcCvPHNHvQfrGT",
          "name": "Github API Token"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Prepare GitHub Commit').first().json._github.owner }}/{{ $('Prepare GitHub Commit').first().json._github.repo }}/git/commits/{{ $json.object.sha }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4896,
        7504
      ],
      "id": "dea83ff4-b679-4c2f-a6cb-a1490fdd6a41",
      "name": "Get Base Tree",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DwAcCvPHNHvQfrGT",
          "name": "Github API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build tree entries for all files\nconst commitData = $('Prepare GitHub Commit').first().json;\nconst baseTreeSha = $input.first().json.tree.sha;\nconst parentCommitSha = $('Get Branch Ref').first().json.object.sha;\n\nconst treeEntries = commitData._github.files.map(file => ({\n  path: file.path,\n  mode: '100644',\n  type: 'blob',\n  content: file.content\n}));\n\nreturn [{\n  json: {\n    _github: commitData._github,\n    _baseTreeSha: baseTreeSha,\n    _parentCommitSha: parentCommitSha,\n    _treeEntries: treeEntries,\n    _digestPath: commitData._digestPath,\n    _digestData: {\n      digestId: commitData.digestId,\n      periodStart: commitData.periodStart,\n      periodEnd: commitData.periodEnd,\n      publishedUrl: commitData.publishedUrl,\n      insightCount: commitData.insightCount,\n      tldr: commitData.tldr\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5056,
        7504
      ],
      "id": "5c90c33b-6e1e-48ba-a948-b6d151faf3af",
      "name": "Build Tree Entries"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $json._github.owner }}/{{ $json._github.repo }}/git/trees",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ base_tree: $json._baseTreeSha, tree: $json._treeEntries }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5216,
        7504
      ],
      "id": "15eeee5d-f9e2-4f92-9366-dd577a87ddfb",
      "name": "Create Tree",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DwAcCvPHNHvQfrGT",
          "name": "Github API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Build Tree Entries').first().json._github.owner }}/{{ $('Build Tree Entries').first().json._github.repo }}/git/commits",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $('Build Tree Entries').first().json._github.commitMessage, tree: $json.sha, parents: [$('Build Tree Entries').first().json._parentCommitSha] }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5376,
        7504
      ],
      "id": "007284b7-e7f4-4b09-9953-8eb9b418a3f0",
      "name": "Create Commit",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DwAcCvPHNHvQfrGT",
          "name": "Github API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.github.com/repos/{{ $('Build Tree Entries').first().json._github.owner }}/{{ $('Build Tree Entries').first().json._github.repo }}/git/refs/heads/{{ $('Build Tree Entries').first().json._github.branch }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sha: $json.sha, force: false }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5536,
        7504
      ],
      "id": "cb36c969-ed12-4c14-aab4-7d63da99cde9",
      "name": "Update Branch Ref",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DwAcCvPHNHvQfrGT",
          "name": "Github API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Summarize atomic commit result\nconst updateResult = $input.first().json;\nconst commitResult = $('Create Commit').first().json;\nconst buildData = $('Build Tree Entries').first().json;\n\nconst success = updateResult.object && updateResult.object.sha;\n\nconsole.log(`GitHub atomic commit: ${success ? 'SUCCESS' : 'FAILED'}`);\nconsole.log(`Commit SHA: ${commitResult.sha}`);\nconsole.log(`Files committed: ${buildData._github.files.length}`);\n\nreturn [{\n  json: {\n    success,\n    stub: false,\n    commit: {\n      sha: commitResult.sha,\n      message: buildData._github.commitMessage,\n      url: commitResult.html_url\n    },\n    files: buildData._github.files.map(f => ({ path: f.path, action: 'upsert' })),\n    _digestData: buildData._digestData,\n    _digestPath: buildData._digestPath\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5712,
        7504
      ],
      "id": "4e233d81-4bf1-4852-b414-6892cc23dcb4",
      "name": "Wrap GitHub Response"
    },
    {
      "parameters": {
        "jsCode": "// STUB: Send email via Resend\n// Generates email content and simulates Resend API response\n// Replace with real HTTP Request to Resend API when ready\n\nconst prevData = $input.first().json;\nconst digestData = prevData._digestData;\n\n// Generate email HTML content\nconst emailHtml = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px; }\n    h1 { color: #1a1a1a; border-bottom: 2px solid #f0f0f0; padding-bottom: 10px; }\n    h2 { color: #444; margin-top: 30px; }\n    .tldr { background: #f8f9fa; padding: 15px; border-left: 4px solid #007acc; margin: 20px 0; }\n    .footer { margin-top: 40px; padding-top: 20px; border-top: 1px solid #eee; font-size: 12px; color: #666; }\n    a { color: #007acc; }\n  </style>\n</head>\n<body>\n  <h1>Weekly Freedom Tech Digest</h1>\n  <p><em>${digestData.periodStart} to ${digestData.periodEnd}</em></p>\n  \n  <div class=\"tldr\">\n    <strong>TL;DR:</strong> ${digestData.tldr}\n  </div>\n  \n  <p><strong>${digestData.insightCount}</strong> signals published this week.</p>\n  \n  <p><a href=\"${digestData.publishedUrl}\">Read the full digest on the web &rarr;</a></p>\n  \n  <div class=\"footer\">\n    <p>You're receiving this because you subscribed to Libertas Freedom Tech updates.</p>\n    <p><a href=\"https://libertas.fgu.tech\">libertas.fgu.tech</a> | <a href=\"{{{unsubscribe}}}\">Unsubscribe</a></p>\n  </div>\n</body>\n</html>\n`;\n\nconst emailSubject = `Freedom Tech Digest: ${digestData.periodStart} - ${digestData.periodEnd}`;\n\n// Simulate Resend API response\nreturn [{\n  json: {\n    success: true,\n    id: 'stub-email-' + Date.now(),\n    from: 'Libertas <digest@libertas.fgu.tech>',\n    to: ['subscribers@libertas.fgu.tech'],\n    subject: emailSubject,\n    _emailHtml: emailHtml,\n    _digestData: digestData,\n    _resendPayload: {\n      from: 'Libertas <digest@libertas.fgu.tech>',\n      to: ['subscribers@libertas.fgu.tech'],\n      subject: emailSubject,\n      html: emailHtml\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6048,
        7376
      ],
      "id": "e6e0b482-220a-449a-b8ca-088ec11bb682",
      "name": "Resend Email Stub"
    },
    {
      "parameters": {
        "jsCode": "// Final summary of workflow execution\nconst emailResult = $input.first().json;\nconst digestData = emailResult._digestData;\n\n// Get GitHub result to determine if stub or real was used\nlet githubMode = 'unknown';\ntry {\n  const stubResult = $('GitHub Commit Stub')?.first()?.json;\n  const realResult = $('Wrap GitHub Response')?.first()?.json;\n  if (stubResult && stubResult.stub === true) {\n    githubMode = 'stub';\n  } else if (realResult && realResult.stub === false) {\n    githubMode = 'real (Git Data API)';\n  }\n} catch (e) {\n  // One of the branches wasn't executed\n  githubMode = 'completed';\n}\n\nconst summary = {\n  executedAt: new Date().toISOString(),\n  success: true,\n  digest: {\n    periodStart: digestData.periodStart,\n    periodEnd: digestData.periodEnd,\n    insightCount: digestData.insightCount,\n    publishedUrl: digestData.publishedUrl\n  },\n  actions: {\n    databaseInsert: 'completed',\n    githubCommit: githubMode,\n    emailSent: 'stub (enable for production)'\n  }\n};\n\nconsole.log('Workflow B Summary:', JSON.stringify(summary, null, 2));\n\nreturn [{ json: summary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6240,
        7376
      ],
      "id": "bafc18ed-001c-4b05-9306-8c2ce73ae5ae",
      "name": "Final Summary"
    },
    {
      "parameters": {
        "jsCode": "// Handle case when no insights were published in the period\nconst data = $input.first().json;\n\nconsole.log(`No insights published for period ${data.periodStartDisplay} to ${data.periodEndDisplay}. Skipping digest generation.`);\n\nreturn [{\n  json: {\n    executedAt: new Date().toISOString(),\n    success: true,\n    skipped: true,\n    reason: 'No published insights in period',\n    period: {\n      start: data.periodStartDisplay,\n      end: data.periodEndDisplay\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        7648
      ],
      "id": "86f6955b-cda1-4f26-b4f0-a1dfc6ed904f",
      "name": "Skip - No Insights"
    },
    {
      "parameters": {
        "content": "# Fetch Configs & Prompts from Libertas API",
        "height": 448,
        "width": 768,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        7392
      ],
      "typeVersion": 1,
      "id": "179623f2-6130-4261-a960-ca78b7e4a064",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Fetch Recent Insights ( Past 7 days )",
        "height": 448,
        "width": 1168,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        7392
      ],
      "typeVersion": 1,
      "id": "945caeb7-c146-4f37-8d9a-f14de439c1e6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Commit files to the Github Repo",
        "height": 368,
        "width": 1536,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4352,
        7312
      ],
      "typeVersion": 1,
      "id": "83676d2a-7bb5-4005-bb79-00fa4e35c3c3",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "# Generate Static Files",
        "height": 272,
        "width": 384,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3888,
        7360
      ],
      "typeVersion": 1,
      "id": "2ba5c53e-acfe-4f32-b884-29a2f642f813",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# Use Claude API to generate Weekly Digest",
        "height": 448,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2656,
        7360
      ],
      "typeVersion": 1,
      "id": "0974921f-aefc-442b-8ee6-b61b50ab848b",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Weekly Sunday 9am UTC": {
      "main": [
        [
          {
            "node": "Fetch Thresholds Config",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Digest Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Thresholds Config": {
      "main": [
        [
          {
            "node": "Wait for Fetches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Digest Prompt": {
      "main": [
        [
          {
            "node": "Wait for Fetches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for Fetches": {
      "main": [
        [
          {
            "node": "Merge Config & Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Config & Agents": {
      "main": [
        [
          {
            "node": "Calculate Period",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Period": {
      "main": [
        [
          {
            "node": "Query Published Insights",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query Recent Project Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Published Insights": {
      "main": [
        [
          {
            "node": "Wait for Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Recent Project Ideas": {
      "main": [
        [
          {
            "node": "Wait for Queries",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for Queries": {
      "main": [
        [
          {
            "node": "Merge Insights with Period",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Insights with Period": {
      "main": [
        [
          {
            "node": "Has Insights?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Insights?": {
      "main": [
        [
          {
            "node": "Aggregate by Topic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip - No Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate by Topic": {
      "main": [
        [
          {
            "node": "Use Stubs for DigestComposer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Stubs for DigestComposer?": {
      "main": [
        [
          {
            "node": "DigestComposer Stub (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DigestComposer with Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DigestComposer with Claude API": {
      "main": [
        [
          {
            "node": "Wrap Claude Digest Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap Claude Digest Response": {
      "main": [
        [
          {
            "node": "Parse Digest Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DigestComposer Stub (Claude)": {
      "main": [
        [
          {
            "node": "Parse Digest Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Digest Output": {
      "main": [
        [
          {
            "node": "Build Digest Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Digest Query": {
      "main": [
        [
          {
            "node": "Insert/Update Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert/Update Digest": {
      "main": [
        [
          {
            "node": "Query Recent Digests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Recent Digests": {
      "main": [
        [
          {
            "node": "Merge Insert Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Insert Result": {
      "main": [
        [
          {
            "node": "Use Stubs for GitHub?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Stubs for GitHub?": {
      "main": [
        [
          {
            "node": "GitHub Commit Stub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare GitHub Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Commit Stub": {
      "main": [
        [
          {
            "node": "Resend Email Stub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare GitHub Commit": {
      "main": [
        [
          {
            "node": "Get Branch Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Branch Ref": {
      "main": [
        [
          {
            "node": "Get Base Tree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Base Tree": {
      "main": [
        [
          {
            "node": "Build Tree Entries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Tree Entries": {
      "main": [
        [
          {
            "node": "Create Tree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tree": {
      "main": [
        [
          {
            "node": "Create Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Commit": {
      "main": [
        [
          {
            "node": "Update Branch Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Branch Ref": {
      "main": [
        [
          {
            "node": "Wrap GitHub Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap GitHub Response": {
      "main": [
        [
          {
            "node": "Resend Email Stub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resend Email Stub": {
      "main": [
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "07f9d7e0-0f45-4bdd-82a9-cfe9561db6de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c52e1b61141902bda826728d3cf15d2a867de8395f358b7459edf58ff4157ae"
  },
  "id": "amBNidAZZgmHCB0IbUfKo",
  "tags": []
}