n8n/workflows/workflow-a-ingestion.json
{
  "name": "Libertas - Daily Ingestion - Workflow A",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "cron-trigger",
      "name": "Every 6 Hours"
    },
    {
      "parameters": {
        "url": "https://libertas.fgu.tech/api/config/sources",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [220, -100],
      "id": "fetch-sources-config",
      "name": "Fetch Sources Config"
    },
    {
      "parameters": {
        "url": "https://libertas.fgu.tech/api/config/thresholds",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [220, 100],
      "id": "fetch-thresholds-config",
      "name": "Fetch Thresholds Config"
    },
    {
      "parameters": {
        "url": "https://libertas.fgu.tech/api/agents/classify",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [220, 300],
      "id": "fetch-classify-prompt",
      "name": "Fetch Classify Prompt"
    },
    {
      "parameters": {
        "url": "https://libertas.fgu.tech/api/agents/summarize",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [220, 500],
      "id": "fetch-summarize-prompt",
      "name": "Fetch Summarize Prompt"
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [440, 0],
      "id": "merge-configs",
      "name": "Merge Configs"
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [440, 300],
      "id": "merge-prompts",
      "name": "Merge Prompts"
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [660, 150],
      "id": "merge-all",
      "name": "Merge All"
    },
    {
      "parameters": {
        "jsCode": "// Merge all config and agent prompts into a single object\n// All 4 fetch results are now available via the chained Merge nodes\nconst allItems = $input.all();\n\n// Find each config by checking the response structure\nlet sourcesConfig, thresholdsConfig, classifyPrompt, summarizePrompt;\n\nfor (const item of allItems) {\n  const data = item.json;\n  if (data.sources) sourcesConfig = data;\n  else if (data.ingestion || data.publishing || data.runtime) thresholdsConfig = data;\n  else if (data.content && data.name === 'classify') classifyPrompt = data;\n  else if (data.content && data.name === 'summarize') summarizePrompt = data;\n  else if (data.content) {\n    // Fallback: check content for agent type hints\n    if (data.content.includes('freedom_relevance_score')) classifyPrompt = data;\n    else summarizePrompt = data;\n  }\n}\n\nreturn [{\n  json: {\n    _sources: sourcesConfig || {},\n    _thresholdsConfig: thresholdsConfig || {},\n    _agents: {\n      classify: classifyPrompt?.content || '',\n      summarize: summarizePrompt?.content || ''\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 150],
      "id": "merge-config",
      "name": "Merge Config & Agents"
    },
    {
      "parameters": {
        "jsCode": "// Load sources from API config and agent prompts\n// Reads from merged config node output\n\nconst merged = $('Merge Config & Agents').first().json;\nconst sourcesConfig = merged._sources;\nconst thresholdsConfig = merged._thresholdsConfig;\nconst agents = merged._agents;\n\n// Store thresholds in first item for reference by downstream nodes\n// Include runtime section for stub/real mode toggle\nconst thresholds = {\n  runtime: thresholdsConfig.runtime || { use_stubs: true },\n  ingestion: thresholdsConfig.ingestion || { relevance_threshold: 50 },\n  publishing: thresholdsConfig.publishing || { auto_publish_relevance: 70, auto_publish_credibility: 60 },\n  ideas: thresholdsConfig.ideas || { min_relevance_for_idea: 80 }\n};\n\n// Get sources from config\nconst sources = sourcesConfig.sources || [];\n\n// Filter to enabled sources only\nconst enabledSources = sources.filter(s => s.enabled);\n\nif (enabledSources.length === 0) {\n  console.log('Warning: No enabled sources found in config');\n  return [];\n}\n\nconsole.log(`Loaded ${enabledSources.length} sources from config`);\nconsole.log(`Loaded agent prompts: classify (${agents.classify?.length || 0} chars), summarize (${agents.summarize?.length || 0} chars)`);\n\n// Return each source as a separate item for parallel processing\n// Include thresholds and agent prompts in each item so downstream nodes can access them\nreturn enabledSources.map(source => ({ \n  json: {\n    ...source,\n    _thresholds: thresholds,\n    _agents: agents\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 150],
      "id": "load-sources",
      "name": "Load Sources"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [1320, 150],
      "id": "fetch-rss",
      "name": "Fetch RSS Feed",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Process RSS items from feed\nconst items = $input.all();\nconst sourceInfo = $('Load Sources').first().json;\n\n// Handle fetch errors\nif (!items || items.length === 0) {\n  console.log(`No items from ${sourceInfo.name}`);\n  return [];\n}\n\n// Limit items per source (rate limiting)\nconst maxItems = 20;\nconst processItems = items.slice(0, maxItems);\n\nreturn processItems.map(item => {\n  const data = item.json;\n  return {\n    json: {\n      // Source metadata\n      sourceName: sourceInfo.name,\n      sourceUrl: sourceInfo.url,\n      sourceTier: sourceInfo.tier,\n      sourceTags: sourceInfo.tags,\n      platform: 'rss',\n      \n      // Thresholds and agents from config\n      _thresholds: sourceInfo._thresholds,\n      _agents: sourceInfo._agents,\n      \n      // Item data\n      itemUrl: data.link || data.guid || '',\n      title: data.title || '',\n      content: data.content || data.description || data['content:encoded'] || '',\n      author: data.creator || data.author || sourceInfo.name,\n      publishedAt: data.pubDate || data.isoDate || new Date().toISOString(),\n      \n      // Will be computed\n      contentHash: null,\n      extractedText: null\n    }\n  };\n}).filter(item => item.json.itemUrl && item.json.content);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0],
      "id": "extract-items",
      "name": "Extract Feed Items"
    },
    {
      "parameters": {
        "jsCode": "// Extract clean text from HTML content\nconst item = $input.first().json;\n\n// Strip HTML tags for clean text extraction\nfunction stripHtml(html) {\n  if (!html) return '';\n  return html\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst extractedText = stripHtml(item.content);\n\n// Pass through _agents for downstream use\nreturn [{\n  json: {\n    ...item,\n    extractedText: extractedText.substring(0, 50000)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0],
      "id": "extract-text",
      "name": "Extract Text"
    },
    {
      "parameters": {
        "action": "hash",
        "type": "SHA256",
        "value": "={{ $json.extractedText }}",
        "dataPropertyName": "contentHash",
        "encoding": "hex"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [1430, 0],
      "id": "compute-hash",
      "name": "Compute Hash"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM source_items WHERE content_hash = $1 LIMIT 1",
        "options": {
          "queryReplacement": "={{ $json.contentHash }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1540, 0],
      "id": "check-duplicate",
      "name": "Check Duplicate",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Evaluate duplicate check result and merge with original data\nconst duplicateResult = $input.all();\nconst originalData = $('Compute Hash').first().json;\n\n// Postgres returns empty array if no rows found\n// If we got any rows back, it's a duplicate\nconst isDuplicate = duplicateResult.length > 0 && duplicateResult[0].json && duplicateResult[0].json.id;\n\nreturn [{\n  json: {\n    ...originalData,\n    isNew: !isDuplicate,\n    duplicateId: isDuplicate ? duplicateResult[0].json.id : null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 0],
      "id": "evaluate-duplicate",
      "name": "Evaluate Duplicate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-new",
              "leftValue": "={{ $json.isNew }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1760, 0],
      "id": "is-new-item",
      "name": "Is New Item?"
    },
    {
      "parameters": {
        "operation": "insert",
        "table": {
          "__rl": true,
          "value": "source_items",
          "mode": "list",
          "cachedResultName": "source_items"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $('Evaluate Duplicate').first().json.itemUrl }}",
            "platform": "={{ $('Evaluate Duplicate').first().json.platform }}",
            "extracted_text": "={{ $('Evaluate Duplicate').first().json.extractedText }}",
            "content_hash": "={{ $('Evaluate Duplicate').first().json.contentHash }}",
            "author": "={{ $('Evaluate Duplicate').first().json.author }}",
            "published_at": "={{ $('Evaluate Duplicate').first().json.publishedAt }}",
            "metadata": "={{ JSON.stringify({ sourceName: $('Evaluate Duplicate').first().json.sourceName, sourceTier: $('Evaluate Duplicate').first().json.sourceTier, sourceTags: $('Evaluate Duplicate').first().json.sourceTags, title: $('Evaluate Duplicate').first().json.title }) }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1980, -100],
      "id": "insert-source-item",
      "name": "Insert Source Item",
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// STUB: Classifier Agent\n// Simulates Claude API response format for classification\n// Replace with real HTTP Request to Claude API when ready\n\nconst sourceItem = $('Insert Source Item').first().json;\nconst metadata = $('Evaluate Duplicate').first().json;\nconst thresholds = metadata._thresholds || {};\nconst text = sourceItem.extracted_text || '';\nconst textLower = text.toLowerCase();\n\n// Get relevance threshold from config\nconst relevanceThreshold = thresholds.ingestion?.relevance_threshold || 50;\n\n// Simple keyword-based classification for testing\nconst topics = [];\n\nif (textLower.includes('bitcoin') || textLower.includes('btc') || textLower.includes('satoshi')) {\n  topics.push('bitcoin');\n}\nif (textLower.includes('privacy') || textLower.includes('encryption') || textLower.includes('encrypted')) {\n  topics.push('privacy');\n}\nif (textLower.includes('censorship') || textLower.includes('blocked') || textLower.includes('banned')) {\n  topics.push('censorship-resistance');\n}\nif (textLower.includes('surveillance') || textLower.includes('tracking') || textLower.includes('monitoring')) {\n  topics.push('surveillance');\n}\nif (textLower.includes('activist') || textLower.includes('protest') || textLower.includes('dissent')) {\n  topics.push('activism');\n}\nif (textLower.includes('identity') || textLower.includes('kyc') || textLower.includes('anonymous')) {\n  topics.push('identity');\n}\nif (textLower.includes('payment') || textLower.includes('transaction') || textLower.includes('transfer')) {\n  topics.push('payments');\n}\nif (textLower.includes('messaging') || textLower.includes('signal') || textLower.includes('communication')) {\n  topics.push('comms');\n}\nif (textLower.includes('zero knowledge') || textLower.includes('zk-') || textLower.includes('zkp')) {\n  topics.push('zk');\n}\nif (textLower.includes('sovereign') || textLower.includes('self-custody') || textLower.includes('freedom')) {\n  topics.push('sovereignty');\n}\n\n// Default topic if none found\nif (topics.length === 0) {\n  topics.push('sovereignty');\n}\n\n// Score based on keyword density and source tier\nconst tier = metadata.sourceTier || 2;\nconst keywordCount = topics.length;\nconst baseRelevance = Math.min(40 + (keywordCount * 15), 95);\nconst tierBonus = tier === 1 ? 10 : 0;\nconst freedomRelevanceScore = Math.min(baseRelevance + tierBonus, 100);\n\n// Credibility based on source tier\nconst credibilityScore = tier === 1 ? 75 : tier === 2 ? 60 : 45;\n\n// Check for safety concerns\nconst safetyConcern = textLower.includes('location') && \n  (textLower.includes('activist') || textLower.includes('dissident'));\n\n// Use threshold from config\nconst shouldSummarize = freedomRelevanceScore >= relevanceThreshold;\n\nconst classification = {\n  topics: topics.slice(0, 5),\n  freedom_relevance_score: freedomRelevanceScore,\n  credibility_score: credibilityScore,\n  geo: [],\n  safety_concern: safetyConcern,\n  reasoning: `Stub classification based on ${keywordCount} topic keywords. Tier ${tier} source.`,\n  key_entities: [],\n  should_summarize: shouldSummarize\n};\n\n// Return in Claude API response format for easy swap later\nreturn [{\n  json: {\n    content: [{\n      type: 'text',\n      text: JSON.stringify(classification)\n    }],\n    // Pass through source item data\n    _sourceItemId: sourceItem.id,\n    _sourceItemUrl: sourceItem.url,\n    _extractedText: sourceItem.extracted_text,\n    _metadata: metadata,\n    _thresholds: thresholds,\n    _agents: metadata._agents\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2310, -200],
      "id": "classify-stub",
      "name": "Classify Stub (Claude)"
    },
    {
      "parameters": {
        "jsCode": "// Process real Claude API response and add pass-through data\nconst claudeResponse = $input.first().json;\nconst sourceItem = $('Insert Source Item').first().json;\nconst metadata = $('Evaluate Duplicate').first().json;\nconst thresholds = metadata._thresholds || {};\n\n// Return in same format as stub for Parse Classification compatibility\nreturn [{\n  json: {\n    content: claudeResponse.content,\n    _sourceItemId: sourceItem.id,\n    _sourceItemUrl: sourceItem.url,\n    _extractedText: sourceItem.extracted_text,\n    _metadata: metadata,\n    _thresholds: thresholds,\n    _agents: metadata._agents\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2600, 100],
      "id": "wrap-classify-response",
      "name": "Wrap Claude Classify Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "use-stubs-classify",
              "leftValue": "={{ $('Evaluate Duplicate').first().json._thresholds?.runtime?.use_stubs ?? true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2090, -100],
      "id": "use-stubs-classify",
      "name": "Use Stubs for Classify?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": {{ JSON.stringify($('Evaluate Duplicate').first().json._agents?.classify + \"\\n\\n# Input\\n\\n\" + JSON.stringify({ sourceUrl: $('Insert Source Item').first().json.url, extractedText: $('Insert Source Item').first().json.extracted_text.substring(0, 8000), platform: $('Evaluate Duplicate').first().json.platform, author: $('Evaluate Duplicate').first().json.author, publishedAt: $('Evaluate Duplicate').first().json.publishedAt })) }}\n  }]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2310, 100],
      "id": "classify-real",
      "name": "Classify with Claude API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse classification result from Claude API format\nconst input = $input.first().json;\nlet classification;\n\ntry {\n  let text = input.content[0].text;\n  \n  // Strip markdown code blocks if present (Claude often wraps JSON in ```json...```)\n  text = text.trim();\n  if (text.startsWith('```')) {\n    // Remove opening fence (```json or ```)\n    text = text.replace(/^```(?:json)?\\s*\\n?/, '');\n    // Remove closing fence\n    text = text.replace(/\\n?```\\s*$/, '');\n  }\n  \n  classification = JSON.parse(text.trim());\n} catch (e) {\n  // Fallback if parsing fails\n  console.log('Parse Classification error:', e.message);\n  console.log('Raw text:', input.content?.[0]?.text?.substring(0, 200));\n  classification = {\n    topics: ['sovereignty'],\n    freedom_relevance_score: 30,\n    credibility_score: 50,\n    geo: [],\n    safety_concern: false,\n    reasoning: 'Failed to parse LLM response: ' + e.message,\n    key_entities: [],\n    should_summarize: false\n  };\n}\n\n// Merge with source item data\nreturn [{\n  json: {\n    sourceItemId: input._sourceItemId,\n    sourceItemUrl: input._sourceItemUrl,\n    extractedText: input._extractedText,\n    metadata: input._metadata,\n    classification,\n    _thresholds: input._thresholds,\n    _agents: input._agents\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, -200],
      "id": "parse-classification",
      "name": "Parse Classification"
    },
    {
      "parameters": {
        "jsCode": "// Validate classification output against schema\nconst data = $input.first().json;\nconst classification = data.classification;\nconst errors = [];\n\n// Valid topics enum\nconst validTopics = ['bitcoin', 'zk', 'censorship-resistance', 'comms', 'payments', 'identity', 'privacy', 'surveillance', 'activism', 'sovereignty'];\n\n// Validate topics\nif (!Array.isArray(classification.topics)) {\n  errors.push('topics must be an array');\n} else {\n  if (classification.topics.length < 1) errors.push('topics must have at least 1 item');\n  if (classification.topics.length > 5) errors.push('topics must have at most 5 items');\n  for (const topic of classification.topics) {\n    if (!validTopics.includes(topic)) {\n      errors.push(`Invalid topic: ${topic}. Must be one of: ${validTopics.join(', ')}`);\n    }\n  }\n}\n\n// Validate scores\nif (typeof classification.freedom_relevance_score !== 'number' || classification.freedom_relevance_score < 0 || classification.freedom_relevance_score > 100) {\n  errors.push('freedom_relevance_score must be an integer between 0 and 100');\n}\nif (typeof classification.credibility_score !== 'number' || classification.credibility_score < 0 || classification.credibility_score > 100) {\n  errors.push('credibility_score must be an integer between 0 and 100');\n}\n\n// Validate geo\nif (!Array.isArray(classification.geo)) {\n  errors.push('geo must be an array');\n}\n\n// Validate safety_concern\nif (typeof classification.safety_concern !== 'boolean') {\n  errors.push('safety_concern must be a boolean');\n}\n\n// Validate should_summarize\nif (typeof classification.should_summarize !== 'boolean') {\n  errors.push('should_summarize must be a boolean');\n}\n\n// Log validation result\nif (errors.length > 0) {\n  console.log('Classification validation errors:', errors);\n}\n\nreturn [{\n  json: {\n    ...data,\n    _validationErrors: errors,\n    _validationPassed: errors.length === 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2650, -200],
      "id": "validate-classification",
      "name": "Validate Classification"
    },
    {
      "parameters": {
        "jsCode": "// Check if content meets relevance threshold from config\nconst data = $input.first().json;\nconst thresholds = data._thresholds || {};\nconst relevanceThreshold = thresholds.ingestion?.relevance_threshold || 50;\n\nconst score = data.classification.freedom_relevance_score;\nconst shouldSummarize = data.classification.should_summarize;\n\n// Content meets threshold if score >= config threshold AND should_summarize is true\nconst meetsThreshold = score >= relevanceThreshold && shouldSummarize;\n\n// Pass through all data including _agents\nreturn [{\n  json: {\n    ...data,\n    meetsThreshold,\n    usedThreshold: relevanceThreshold\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, -200],
      "id": "apply-threshold",
      "name": "Apply Threshold"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "meets-threshold",
              "leftValue": "={{ $json.meetsThreshold }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3110, -200],
      "id": "check-threshold",
      "name": "Meets Threshold?"
    },
    {
      "parameters": {
        "jsCode": "// STUB: Summarizer Agent\n// Generates insight content from classified source item\n// Replace with real Claude API call when ready\n\nconst data = $input.first().json;\nconst classification = data.classification;\nconst thresholds = data._thresholds || {};\nconst text = data.extractedText || '';\nconst metadata = data.metadata || {};\n\n// Get idea generation threshold from config\nconst ideaThreshold = thresholds.ideas?.min_relevance_for_idea || 80;\n\n// Extract title from metadata or generate from text\nconst title = metadata.title || text.substring(0, 100).split('.')[0] + '...';\n\n// Generate TL;DR\nconst tldr = text.substring(0, 250).trim() + '...';\n\n// Generate summary bullets\nconst sentences = text.split(/[.!?]+/).filter(s => s.trim().length > 20);\nconst summaryBullets = sentences.slice(0, 7).map(s => s.trim());\n\n// Ensure minimum bullets\nwhile (summaryBullets.length < 5) {\n  summaryBullets.push('Additional analysis pending.');\n}\n\nconst summary = {\n  title: title.substring(0, 120),\n  tldr: tldr.substring(0, 280),\n  summary_bullets: summaryBullets.slice(0, 10),\n  deep_dive_markdown: classification.freedom_relevance_score >= 85 \n    ? `## Analysis\\n\\n${text.substring(0, 2000)}...\\n\\n## Implications\\n\\nFurther analysis needed.`\n    : null,\n  citations: [data.sourceItemUrl],\n  recommended_actions: [],\n  related_projects: [],\n  project_idea_trigger: {\n    should_generate: classification.freedom_relevance_score >= ideaThreshold,\n    reason: classification.freedom_relevance_score >= ideaThreshold \n      ? 'High relevance score suggests potential project opportunity'\n      : null\n  }\n};\n\n// Return in Claude API response format\nreturn [{\n  json: {\n    content: [{\n      type: 'text',\n      text: JSON.stringify(summary)\n    }],\n    _sourceItemId: data.sourceItemId,\n    _classification: classification,\n    _sourceItemUrl: data.sourceItemUrl,\n    _thresholds: thresholds,\n    _agents: data._agents\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3590, -350],
      "id": "summarize-stub",
      "name": "Summarize Stub (Claude)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "use-stubs-summarize",
              "leftValue": "={{ $json._thresholds?.runtime?.use_stubs ?? true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3340, -200],
      "id": "use-stubs-summarize",
      "name": "Use Stubs for Summarize?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2048,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": {{ JSON.stringify($json._agents?.summarize + \"\\n\\n# Input\\n\\n\" + JSON.stringify({ sourceUrl: $json.sourceItemUrl, extractedText: $json.extractedText.substring(0, 8000), classification: $json.classification, includeDeepDive: $json.classification.freedom_relevance_score >= 85 })) }}\n  }]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [3590, -50],
      "id": "summarize-real",
      "name": "Summarize with Claude API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process real Claude API response and add pass-through data for summarization\nconst claudeResponse = $input.first().json;\nconst applyThresholdData = $('Apply Threshold').first().json;\n\n// Return in same format as stub for Parse Summary compatibility\nreturn [{\n  json: {\n    content: claudeResponse.content,\n    _sourceItemId: applyThresholdData.sourceItemId,\n    _classification: applyThresholdData.classification,\n    _sourceItemUrl: applyThresholdData.sourceItemUrl,\n    _thresholds: applyThresholdData._thresholds,\n    _agents: applyThresholdData._agents\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3840, -50],
      "id": "wrap-summarize-response",
      "name": "Wrap Claude Summarize Response"
    },
    {
      "parameters": {
        "jsCode": "// Parse summary and determine publish status using thresholds from config\nconst input = $input.first().json;\nconst thresholds = input._thresholds || {};\nlet summary;\n\ntry {\n  let text = input.content[0].text;\n  \n  // Strip markdown code blocks if present (Claude often wraps JSON in ```json...```)\n  text = text.trim();\n  if (text.startsWith('```')) {\n    // Remove opening fence (```json or ```)\n    text = text.replace(/^```(?:json)?\\s*\\n?/, '');\n    // Remove closing fence\n    text = text.replace(/\\n?```\\s*$/, '');\n  }\n  \n  summary = JSON.parse(text.trim());\n} catch (e) {\n  console.log('Parse Summary error:', e.message);\n  console.log('Raw text:', input.content?.[0]?.text?.substring(0, 200));\n  summary = {\n    title: 'Parse Error',\n    tldr: 'Failed to parse summary: ' + e.message,\n    summary_bullets: ['Error processing content'],\n    citations: [],\n    deep_dive_markdown: null\n  };\n}\n\nconst classification = input._classification;\n\n// Get thresholds from config\nconst autoPublishRelevance = thresholds.publishing?.auto_publish_relevance || 70;\nconst autoPublishCredibility = thresholds.publishing?.auto_publish_credibility || 60;\n\n// Determine publish status based on gates from config\n// Auto-publish: relevance >= config threshold AND credibility >= config threshold AND has citations\nconst canAutoPublish = \n  classification.freedom_relevance_score >= autoPublishRelevance &&\n  classification.credibility_score >= autoPublishCredibility &&\n  summary.citations.length > 0 &&\n  !classification.safety_concern;\n\nconst status = canAutoPublish ? 'published' : 'queued';\nconst publishedAt = canAutoPublish ? new Date().toISOString() : null;\n\n// Generate slug from title for URL\nconst slug = summary.title\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-|-$/g, '')\n  .substring(0, 60);\n\nconst publishedUrl = canAutoPublish \n  ? `https://libertas.fgu.tech/posts/${slug}`\n  : null;\n\nconsole.log(`Publishing gate: relevance ${classification.freedom_relevance_score} >= ${autoPublishRelevance}, credibility ${classification.credibility_score} >= ${autoPublishCredibility} => ${status}`);\n\nreturn [{\n  json: {\n    sourceItemId: input._sourceItemId,\n    sourceItemUrl: input._sourceItemUrl,\n    title: summary.title,\n    tldr: summary.tldr,\n    summaryBullets: summary.summary_bullets,\n    deepDiveMarkdown: summary.deep_dive_markdown,\n    topics: classification.topics,\n    geo: classification.geo,\n    freedomRelevanceScore: classification.freedom_relevance_score,\n    credibilityScore: classification.credibility_score,\n    citations: summary.citations,\n    status,\n    publishedUrl,\n    publishedAt,\n    safetyConcern: classification.safety_concern,\n    _usedThresholds: {\n      autoPublishRelevance,\n      autoPublishCredibility\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4090, -200],
      "id": "parse-summary",
      "name": "Parse Summary & Gates"
    },
    {
      "parameters": {
        "jsCode": "// Validate summary output against insight schema\nconst data = $input.first().json;\nconst errors = [];\n\n// Validate title\nif (typeof data.title !== 'string') {\n  errors.push('title must be a string');\n} else if (data.title.length > 120) {\n  errors.push('title must be at most 120 characters');\n}\n\n// Validate tldr\nif (typeof data.tldr !== 'string') {\n  errors.push('tldr must be a string');\n} else if (data.tldr.length > 280) {\n  errors.push('tldr must be at most 280 characters');\n}\n\n// Validate summaryBullets\nif (!Array.isArray(data.summaryBullets)) {\n  errors.push('summaryBullets must be an array');\n} else {\n  if (data.summaryBullets.length < 5) errors.push('summaryBullets must have at least 5 items');\n  if (data.summaryBullets.length > 10) errors.push('summaryBullets must have at most 10 items');\n}\n\n// Validate topics\nconst validTopics = ['bitcoin', 'zk', 'censorship-resistance', 'comms', 'payments', 'identity', 'privacy', 'surveillance', 'activism', 'sovereignty'];\nif (!Array.isArray(data.topics)) {\n  errors.push('topics must be an array');\n} else {\n  for (const topic of data.topics) {\n    if (!validTopics.includes(topic)) {\n      errors.push(`Invalid topic: ${topic}`);\n    }\n  }\n}\n\n// Validate scores\nif (typeof data.freedomRelevanceScore !== 'number' || data.freedomRelevanceScore < 0 || data.freedomRelevanceScore > 100) {\n  errors.push('freedomRelevanceScore must be an integer between 0 and 100');\n}\nif (typeof data.credibilityScore !== 'number' || data.credibilityScore < 0 || data.credibilityScore > 100) {\n  errors.push('credibilityScore must be an integer between 0 and 100');\n}\n\n// Validate citations\nif (!Array.isArray(data.citations)) {\n  errors.push('citations must be an array');\n}\n\n// Validate status\nconst validStatuses = ['draft', 'queued', 'published', 'rejected'];\nif (!validStatuses.includes(data.status)) {\n  errors.push(`status must be one of: ${validStatuses.join(', ')}`);\n}\n\n// Log validation result\nif (errors.length > 0) {\n  console.log('Summary validation errors:', errors);\n}\n\nreturn [{\n  json: {\n    ...data,\n    _summaryValidationErrors: errors,\n    _summaryValidationPassed: errors.length === 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4340, -200],
      "id": "validate-summary",
      "name": "Validate Summary"
    },
    {
      "parameters": {
        "jsCode": "// Build complete INSERT query with proper escaping\nconst data = $input.first().json;\n\nfunction escapeStr(str) {\n  if (str === null || str === undefined) return 'NULL';\n  // Escape single quotes by doubling them\n  return \"'\" + String(str).replace(/'/g, \"''\") + \"'\";\n}\n\nfunction formatPgArray(arr) {\n  if (!arr || arr.length === 0) return \"'{}'\";\n  const escaped = arr.map(s => '\"' + String(s).replace(/\"/g, '\\\\\"').replace(/'/g, \"''\") + '\"');\n  return \"'{\" + escaped.join(',') + \"}'\";\n}\n\nfunction formatUuidArray(arr) {\n  if (!arr || arr.length === 0) return \"'{}'\";\n  return \"'{\" + arr.join(',') + \"}'\";\n}\n\nconst query = `INSERT INTO insights (\n  source_item_ids, title, tldr, summary_bullets, deep_dive_markdown,\n  topics, geo, freedom_relevance_score, credibility_score, citations,\n  status, published_url, published_at\n) VALUES (\n  ${formatUuidArray([data.sourceItemId])},\n  ${escapeStr(data.title || 'Untitled')},\n  ${escapeStr(data.tldr || '')},\n  ${formatPgArray(data.summaryBullets || [])},\n  ${data.deepDiveMarkdown ? escapeStr(data.deepDiveMarkdown) : 'NULL'},\n  ${formatPgArray(data.topics || [])},\n  ${formatPgArray(data.geo || [])},\n  ${data.freedomRelevanceScore},\n  ${data.credibilityScore},\n  ${formatPgArray(data.citations || [])},\n  ${escapeStr(data.status)},\n  ${data.publishedUrl ? escapeStr(data.publishedUrl) : 'NULL'},\n  ${data.publishedAt ? escapeStr(data.publishedAt) : 'NULL'}\n) RETURNING id, title, status, published_url`;\n\nreturn [{ json: { query, sourceData: data } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4590, -200],
      "id": "prepare-insight",
      "name": "Build Insight Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [4840, -200],
      "id": "insert-insight",
      "name": "Insert Insight",
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log skipped items (below threshold)\nconst data = $input.first().json;\nconsole.log(`Skipped: ${data.sourceItemUrl} - Relevance: ${data.classification.freedom_relevance_score} (threshold: ${data.usedThreshold})`);\n\nreturn [{\n  json: {\n    skipped: true,\n    sourceItemId: data.sourceItemId,\n    reason: 'Below relevance threshold',\n    score: data.classification.freedom_relevance_score,\n    threshold: data.usedThreshold\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3340, 100],
      "id": "log-skipped",
      "name": "Log Skipped"
    },
    {
      "parameters": {
        "jsCode": "// Log duplicate items\nconsole.log('Duplicate item detected, skipping');\n\nreturn [{\n  json: {\n    skipped: true,\n    reason: 'Duplicate content hash'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 100],
      "id": "log-duplicate",
      "name": "Log Duplicate"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate results from all branches\n// This runs at the end to summarize the workflow execution\n\nconst allItems = $input.all();\n\nlet published = 0;\nlet queued = 0;\nlet skipped = 0;\nlet duplicates = 0;\nlet errors = 0;\nlet feedsPublished = 0;\n\nfor (const item of allItems) {\n  const data = item.json;\n  if (data.feedsCommitted) feedsPublished++;\n  else if (data.status === 'published') published++;\n  else if (data.status === 'queued') queued++;\n  else if (data.skipped && data.reason === 'Duplicate content hash') duplicates++;\n  else if (data.skipped) skipped++;\n  else errors++;\n}\n\nconst summary = {\n  executedAt: new Date().toISOString(),\n  results: {\n    published,\n    queued,\n    skipped,\n    duplicates,\n    errors,\n    feedsPublished,\n    total: allItems.length\n  }\n};\n\nconsole.log('Workflow A Summary:', JSON.stringify(summary, null, 2));\n\nreturn [{ json: summary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6200, -200],
      "id": "aggregate-results",
      "name": "Aggregate Results"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-published",
              "leftValue": "={{ $('Build Insight Query').first().json.sourceData.status }}",
              "rightValue": "published",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [5060, -200],
      "id": "is-published",
      "name": "Is Published?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  id, title, tldr, summary_bullets, deep_dive_markdown,\n  topics, geo, freedom_relevance_score, credibility_score,\n  citations, status, published_url, published_at, created_at, updated_at\nFROM insights \nWHERE status = 'published'\nORDER BY published_at DESC\nLIMIT 100",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [5280, -300],
      "id": "query-all-published",
      "name": "Query All Published Insights",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate RSS 2.0 feed from all published insights\nconst insights = $input.all().map(item => item.json).filter(i => i.id);\nconst newInsightData = $('Build Insight Query').first().json.sourceData;\n\n// Site metadata\nconst siteUrl = 'https://libertas.fgu.tech';\nconst feedTitle = 'Libertas - Freedom Tech Signals';\nconst feedDescription = 'Curated insights on freedom technology: Bitcoin, privacy tools, censorship resistance, and digital sovereignty.';\nconst feedLanguage = 'en-us';\nconst buildDate = new Date().toUTCString();\n\n// Helper to escape XML\nfunction escapeXml(str) {\n  if (!str) return '';\n  return String(str)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&apos;');\n}\n\n// Generate RSS items\nconst items = insights.map(insight => {\n  const pubDate = insight.published_at ? new Date(insight.published_at).toUTCString() : buildDate;\n  const topics = Array.isArray(insight.topics) ? insight.topics : [];\n  const categories = topics.map(t => `    <category>${escapeXml(t)}</category>`).join('\\n');\n  \n  // Generate slug from title\n  const slug = insight.title\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-|-$/g, '')\n    .substring(0, 60);\n  \n  const link = `${siteUrl}/posts/${slug}`;\n  \n  return `  <item>\n    <title>${escapeXml(insight.title)}</title>\n    <link>${link}</link>\n    <guid isPermaLink=\"true\">${link}</guid>\n    <pubDate>${pubDate}</pubDate>\n    <description>${escapeXml(insight.tldr)}</description>\n${categories}\n  </item>`;\n}).join('\\n');\n\n// Build complete RSS feed\nconst rssFeed = `<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rss version=\"2.0\" xmlns:atom=\"http://www.w3.org/2005/Atom\">\n<channel>\n  <title>${escapeXml(feedTitle)}</title>\n  <link>${siteUrl}</link>\n  <description>${escapeXml(feedDescription)}</description>\n  <language>${feedLanguage}</language>\n  <lastBuildDate>${buildDate}</lastBuildDate>\n  <atom:link href=\"${siteUrl}/insights-rss.xml\" rel=\"self\" type=\"application/rss+xml\"/>\n  <generator>Libertas n8n Workflow</generator>\n${items}\n</channel>\n</rss>`;\n\nconsole.log(`Generated RSS feed with ${insights.length} items`);\n\nreturn [{\n  json: {\n    rssFeed,\n    insightCount: insights.length,\n    insights,\n    newInsightData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5500, -300],
      "id": "generate-rss-feed",
      "name": "Generate RSS Feed"
    },
    {
      "parameters": {
        "jsCode": "// Generate JSON Feed 1.1 from all published insights\nconst data = $input.first().json;\nconst insights = data.insights || [];\nconst rssFeed = data.rssFeed;\nconst newInsightData = data.newInsightData;\n\n// Site metadata\nconst siteUrl = 'https://libertas.fgu.tech';\n\n// Build JSON Feed 1.1 structure\nconst jsonFeed = {\n  version: 'https://jsonfeed.org/version/1.1',\n  title: 'Libertas - Freedom Tech Signals',\n  home_page_url: siteUrl,\n  feed_url: `${siteUrl}/insights-feed.json`,\n  description: 'Curated insights on freedom technology: Bitcoin, privacy tools, censorship resistance, and digital sovereignty.',\n  language: 'en-US',\n  items: insights.map(insight => {\n    // Generate slug from title\n    const slug = insight.title\n      .toLowerCase()\n      .replace(/[^a-z0-9]+/g, '-')\n      .replace(/^-|-$/g, '')\n      .substring(0, 60);\n    \n    const topics = Array.isArray(insight.topics) ? insight.topics : [];\n    \n    return {\n      id: insight.id,\n      url: `${siteUrl}/posts/${slug}`,\n      title: insight.title,\n      summary: insight.tldr,\n      content_text: Array.isArray(insight.summary_bullets) \n        ? insight.summary_bullets.join('\\n• ') \n        : insight.tldr,\n      date_published: insight.published_at || insight.created_at,\n      date_modified: insight.updated_at || insight.published_at,\n      tags: topics,\n      _libertas: {\n        freedom_relevance_score: insight.freedom_relevance_score,\n        credibility_score: insight.credibility_score,\n        citations: insight.citations || []\n      }\n    };\n  })\n};\n\nconst jsonFeedString = JSON.stringify(jsonFeed, null, 2);\n\nconsole.log(`Generated JSON feed with ${insights.length} items`);\n\nreturn [{\n  json: {\n    rssFeed,\n    jsonFeed: jsonFeedString,\n    insightCount: insights.length,\n    newInsightData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5720, -300],
      "id": "generate-json-feed",
      "name": "Generate JSON Feed"
    },
    {
      "parameters": {
        "jsCode": "// Generate frontmatter markdown for the newly published insight\nconst data = $input.first().json;\nconst insight = data.newInsightData;\nconst rssFeed = data.rssFeed;\nconst jsonFeed = data.jsonFeed;\n\n// Generate slug from title\nconst slug = insight.title\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-|-$/g, '')\n  .substring(0, 60);\n\n// Get year and month from published date\nconst publishedAt = new Date(insight.publishedAt || new Date());\nconst year = publishedAt.getFullYear();\nconst month = String(publishedAt.getMonth() + 1).padStart(2, '0');\n\n// Build frontmatter\nconst topics = Array.isArray(insight.topics) ? insight.topics : [];\nconst geo = Array.isArray(insight.geo) ? insight.geo : [];\nconst citations = Array.isArray(insight.citations) ? insight.citations : [];\nconst summaryBullets = Array.isArray(insight.summaryBullets) ? insight.summaryBullets : [];\n\nlet markdown = `---\ntitle: \"${insight.title.replace(/\"/g, '\\\\\"')}\"\nslug: \"${slug}\"\npublished_at: \"${insight.publishedAt}\"\nstatus: \"published\"\ntopics:\n${topics.map(t => `  - \"${t}\"`).join('\\n')}\nfreedom_relevance_score: ${insight.freedomRelevanceScore}\ncredibility_score: ${insight.credibilityScore}\n`;\n\nif (geo.length > 0) {\n  markdown += `geo:\n${geo.map(g => `  - \"${g}\"`).join('\\n')}\n`;\n}\n\nmarkdown += `citations:\n${citations.map(c => `  - \"${c}\"`).join('\\n')}\n---\n\n# ${insight.title}\n\n**TL;DR:** ${insight.tldr}\n\n## Key Points\n\n${summaryBullets.map(b => `- ${b}`).join('\\n')}\n`;\n\nif (insight.deepDiveMarkdown) {\n  markdown += `\\n## Deep Dive\\n\\n${insight.deepDiveMarkdown}\\n`;\n}\n\nmarkdown += `\\n## Sources\\n\\n${citations.map(c => `- ${c}`).join('\\n')}\\n`;\n\n// File path for GitHub (in website/public for static serving)\nconst filePath = `website/public/content/insights/${year}/${month}/${slug}.md`;\n\nconsole.log(`Generated markdown for insight: ${filePath}`);\n\nreturn [{\n  json: {\n    rssFeed,\n    jsonFeed,\n    insightMarkdown: markdown,\n    insightFilePath: filePath,\n    slug,\n    year,\n    month,\n    insight\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5940, -300],
      "id": "generate-insight-markdown",
      "name": "Generate Insight Markdown"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "use-stubs-publish",
              "leftValue": "={{ $('Load Sources').first().json._thresholds?.runtime?.use_stubs ?? true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [5940, -100],
      "id": "use-stubs-publish",
      "name": "Use Stubs for Publishing?"
    },
    {
      "parameters": {
        "jsCode": "// STUB: GitHub commit for feed publishing\n// Simulates committing RSS, JSON feeds, and insight markdown to GitHub\n// Uses updated paths: website/public/ for feeds, website/public/content/ for insights\n\nconst data = $input.first().json;\n\n// Updated paths matching real commit flow\nconst insightPath = `website/public/content/insights/${data.year}/${data.month}/${data.slug}.md`;\n\n// Simulate successful GitHub commit response\nconst commitSha = 'stub-sha-' + Date.now();\nconst commitMessage = `Publish insight: ${data.slug} and update feeds\\n\\nCo-authored-by: Claude <noreply@anthropic.com>`;\n\nconsole.log(`[STUB] Would commit to GitHub (single atomic commit):`);\nconsole.log(`  - website/public/insights-rss.xml (${data.rssFeed.length} bytes)`);\nconsole.log(`  - website/public/insights-feed.json (${data.jsonFeed.length} bytes)`);\nconsole.log(`  - ${insightPath} (${data.insightMarkdown.length} bytes)`);\nconsole.log(`  - Co-authored by Claude`);\n\nreturn [{\n  json: {\n    success: true,\n    feedsCommitted: true,\n    stub: true,\n    commit: {\n      sha: commitSha,\n      message: commitMessage\n    },\n    files: [\n      { path: 'website/public/insights-rss.xml', action: 'upsert' },\n      { path: 'website/public/insights-feed.json', action: 'upsert' },\n      { path: insightPath, action: 'upsert' }\n    ],\n    insight: {\n      title: data.insight.title,\n      slug: data.slug,\n      path: insightPath\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6200, -400],
      "id": "github-commit-stub-publish",
      "name": "GitHub Commit Stub (Feeds)"
    },
    {
      "parameters": {
        "jsCode": "// Prepare files for atomic GitHub commit via Git Data API\n// Updated paths: feeds go to website/public/, insights to website/public/content/\nconst data = $input.first().json;\n\n// Update insight path to website/public/content/\nconst insightPath = `website/public/content/insights/${data.year}/${data.month}/${data.slug}.md`;\n\nreturn [{\n  json: {\n    ...data,\n    _github: {\n      owner: 'FGUTech',\n      repo: 'libertas',\n      branch: 'main',\n      commitMessage: `Publish insight: ${data.slug} and update feeds\\n\\nCo-authored-by: Claude <noreply@anthropic.com>`,\n      files: [\n        {\n          path: 'website/public/insights-rss.xml',\n          content: data.rssFeed\n        },\n        {\n          path: 'website/public/insights-feed.json',\n          content: data.jsonFeed\n        },\n        {\n          path: insightPath,\n          content: data.insightMarkdown\n        }\n      ]\n    },\n    insightFilePath: insightPath\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6200, 0],
      "id": "prepare-github-commit",
      "name": "Prepare GitHub Commit"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $json._github.owner }}/{{ $json._github.repo }}/git/ref/heads/{{ $json._github.branch }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [6420, 0],
      "id": "get-branch-ref",
      "name": "Get Branch Ref",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GITHUB_CREDENTIAL_ID",
          "name": "GitHub API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $('Prepare GitHub Commit').first().json._github.owner }}/{{ $('Prepare GitHub Commit').first().json._github.repo }}/git/commits/{{ $json.object.sha }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [6640, 0],
      "id": "get-base-tree",
      "name": "Get Base Tree",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GITHUB_CREDENTIAL_ID",
          "name": "GitHub API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build tree entries for all files\nconst commitData = $('Prepare GitHub Commit').first().json;\nconst baseTreeSha = $input.first().json.tree.sha;\nconst parentCommitSha = $('Get Branch Ref').first().json.object.sha;\n\nconst treeEntries = commitData._github.files.map(file => ({\n  path: file.path,\n  mode: '100644',\n  type: 'blob',\n  content: file.content\n}));\n\nreturn [{\n  json: {\n    _github: commitData._github,\n    _baseTreeSha: baseTreeSha,\n    _parentCommitSha: parentCommitSha,\n    _treeEntries: treeEntries,\n    insightFilePath: commitData.insightFilePath,\n    slug: commitData.slug,\n    insight: commitData.insight\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6860, 0],
      "id": "build-tree-entries",
      "name": "Build Tree Entries"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $json._github.owner }}/{{ $json._github.repo }}/git/trees",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ base_tree: $json._baseTreeSha, tree: $json._treeEntries }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [7080, 0],
      "id": "create-tree",
      "name": "Create Tree",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GITHUB_CREDENTIAL_ID",
          "name": "GitHub API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Build Tree Entries').first().json._github.owner }}/{{ $('Build Tree Entries').first().json._github.repo }}/git/commits",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $('Build Tree Entries').first().json._github.commitMessage, tree: $json.sha, parents: [$('Build Tree Entries').first().json._parentCommitSha] }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [7300, 0],
      "id": "create-commit",
      "name": "Create Commit",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GITHUB_CREDENTIAL_ID",
          "name": "GitHub API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.github.com/repos/{{ $('Build Tree Entries').first().json._github.owner }}/{{ $('Build Tree Entries').first().json._github.repo }}/git/refs/heads/{{ $('Build Tree Entries').first().json._github.branch }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sha: $json.sha, force: false }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [7520, 0],
      "id": "update-branch-ref",
      "name": "Update Branch Ref",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GITHUB_CREDENTIAL_ID",
          "name": "GitHub API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Summarize atomic commit result\nconst updateResult = $input.first().json;\nconst commitResult = $('Create Commit').first().json;\nconst buildData = $('Build Tree Entries').first().json;\n\nconst success = updateResult.object && updateResult.object.sha;\n\nconsole.log(`GitHub atomic commit: ${success ? 'SUCCESS' : 'FAILED'}`);\nconsole.log(`Commit SHA: ${commitResult.sha}`);\nconsole.log(`Files committed: ${buildData._github.files.length}`);\n\nreturn [{\n  json: {\n    success,\n    feedsCommitted: true,\n    stub: false,\n    commit: {\n      sha: commitResult.sha,\n      message: buildData._github.commitMessage,\n      url: commitResult.html_url\n    },\n    files: buildData._github.files.map(f => ({ path: f.path, action: 'upsert' })),\n    insight: {\n      title: buildData.insight?.title,\n      slug: buildData.slug,\n      path: buildData.insightFilePath\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [7740, 0],
      "id": "wrap-github-response",
      "name": "Wrap GitHub Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE source_health\nSET \n  last_success_at = NOW(),\n  consecutive_failures = 0,\n  status = 'healthy',\n  updated_at = NOW()\nWHERE source_url = $1",
        "options": {
          "queryReplacement": "={{ $('Load Sources').first().json.url }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1320, 350],
      "id": "update-source-health-success",
      "name": "Update Source Health (Success)",
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Fetch Sources Config",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Thresholds Config",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Classify Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Summarize Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sources Config": {
      "main": [
        [
          {
            "node": "Merge Configs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Thresholds Config": {
      "main": [
        [
          {
            "node": "Merge Configs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Classify Prompt": {
      "main": [
        [
          {
            "node": "Merge Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Summarize Prompt": {
      "main": [
        [
          {
            "node": "Merge Prompts",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Configs": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Prompts": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All": {
      "main": [
        [
          {
            "node": "Merge Config & Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Config & Agents": {
      "main": [
        [
          {
            "node": "Load Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Sources": {
      "main": [
        [
          {
            "node": "Fetch RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS Feed": {
      "main": [
        [
          {
            "node": "Extract Feed Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Feed Items": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "Compute Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Hash": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "Evaluate Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Duplicate": {
      "main": [
        [
          {
            "node": "Is New Item?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Item?": {
      "main": [
        [
          {
            "node": "Insert Source Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Source Item": {
      "main": [
        [
          {
            "node": "Use Stubs for Classify?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Stubs for Classify?": {
      "main": [
        [
          {
            "node": "Classify Stub (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Classify with Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify with Claude API": {
      "main": [
        [
          {
            "node": "Wrap Claude Classify Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap Claude Classify Response": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Stub (Claude)": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "Validate Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Classification": {
      "main": [
        [
          {
            "node": "Apply Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Threshold": {
      "main": [
        [
          {
            "node": "Meets Threshold?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meets Threshold?": {
      "main": [
        [
          {
            "node": "Use Stubs for Summarize?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Stubs for Summarize?": {
      "main": [
        [
          {
            "node": "Summarize Stub (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summarize with Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize with Claude API": {
      "main": [
        [
          {
            "node": "Wrap Claude Summarize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap Claude Summarize Response": {
      "main": [
        [
          {
            "node": "Parse Summary & Gates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Stub (Claude)": {
      "main": [
        [
          {
            "node": "Parse Summary & Gates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Summary & Gates": {
      "main": [
        [
          {
            "node": "Validate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Summary": {
      "main": [
        [
          {
            "node": "Build Insight Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Insight Query": {
      "main": [
        [
          {
            "node": "Insert Insight",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Insight": {
      "main": [
        [
          {
            "node": "Is Published?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Published?": {
      "main": [
        [
          {
            "node": "Query All Published Insights",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query All Published Insights": {
      "main": [
        [
          {
            "node": "Generate RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate RSS Feed": {
      "main": [
        [
          {
            "node": "Generate JSON Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate JSON Feed": {
      "main": [
        [
          {
            "node": "Generate Insight Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Insight Markdown": {
      "main": [
        [
          {
            "node": "Use Stubs for Publishing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Stubs for Publishing?": {
      "main": [
        [
          {
            "node": "GitHub Commit Stub (Feeds)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare GitHub Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Commit Stub (Feeds)": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare GitHub Commit": {
      "main": [
        [
          {
            "node": "Get Branch Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Branch Ref": {
      "main": [
        [
          {
            "node": "Get Base Tree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Base Tree": {
      "main": [
        [
          {
            "node": "Build Tree Entries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Tree Entries": {
      "main": [
        [
          {
            "node": "Create Tree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tree": {
      "main": [
        [
          {
            "node": "Create Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Commit": {
      "main": [
        [
          {
            "node": "Update Branch Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Branch Ref": {
      "main": [
        [
          {
            "node": "Wrap GitHub Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap GitHub Response": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Skipped": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Duplicate": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "id": "",
  "tags": []
}
