n8n/workflows/workflow-c-intake.json
{
  "name": "Libertas - Intake - Workflow C",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16304,
        18400
      ],
      "id": "f2cce112-d2c5-4e7c-b41c-093dafd4fdb6",
      "name": "Webhook",
      "webhookId": "0a2430f5-cb3e-42ff-b05f-5d502240cc04"
    },
    {
      "parameters": {
        "jsCode": "// Rate limiting check using in-memory window\n// Note: For production, use external rate limiter (Redis, etc.)\n// This stub provides structure for rate limiting logic\n\n// n8n webhook puts POST body directly in $json (not $json.body)\nconst webhookData = $('Webhook').first().json;\nconst webhookBody = webhookData.body || webhookData; // Handle both formats\nconst clientIp = webhookData.headers?.['x-forwarded-for'] || \n                 webhookData.headers?.['x-real-ip'] || \n                 'unknown';\n\n// Log rate limit check (actual enforcement at infrastructure level)\nconsole.log(`Rate limit check for IP: ${clientIp}`);\nconsole.log(`Webhook body keys: ${Object.keys(webhookBody).join(', ')}`);\n\n// Pass through with rate limit metadata\nreturn [{\n  json: {\n    ...webhookBody,\n    _rateLimitMeta: {\n      clientIp,\n      timestamp: new Date().toISOString(),\n      // In production, check against Redis/memory store\n      allowed: true\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16464,
        18400
      ],
      "id": "72323a33-faff-4aa5-9ea4-150ecdb7c8a2",
      "name": "Rate Limit Check"
    },
    {
      "parameters": {
        "url": "https://libertas.fgu.tech/api/config/thresholds",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16704,
        18400
      ],
      "id": "27f3884d-c091-4807-a976-f9d4bdb1c859",
      "name": "Fetch Thresholds Config"
    },
    {
      "parameters": {
        "jsCode": "// Process thresholds config from fetched data\nconst thresholdsConfig = $input.first().json;\nconst webhookData = $('Rate Limit Check').first().json;\n\n// Get rate limiting config\nconst rateLimiting = thresholdsConfig.rate_limiting || {};\nconst configInfo = {\n  requestsPerMinute: rateLimiting.requests_per_minute || 10,\n  requestsPerHour: rateLimiting.requests_per_hour || 100,\n  globalPerMinute: rateLimiting.global_per_minute || 100\n};\n\n// Get intake thresholds for story queue decision\nconst intakeConfig = thresholdsConfig.intake || {};\n\nconsole.log(`Loaded thresholds config: runtime.use_stubs=${thresholdsConfig.runtime?.use_stubs}`);\nconsole.log(`Loaded intake thresholds: relevance=${intakeConfig.story_queue_relevance_threshold}, credibility=${intakeConfig.story_queue_credibility_threshold}`);\nconsole.log(`Rate limiting config loaded: ${JSON.stringify(configInfo)}`);\n\nreturn [{\n  json: {\n    ...thresholdsConfig,\n    _webhookData: webhookData,\n    _rateLimitConfig: configInfo\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16896,
        18400
      ],
      "id": "902116e0-9cd3-4c35-833a-e1cf26ebfabe",
      "name": "Process Config"
    },
    {
      "parameters": {
        "jsCode": "// Validate input with thresholds from config\n// Now also captures story-specific and project-specific fields\nconst merged = $input.first().json;\nconst rateLimiting = merged._rateLimitConfig || {};\nconst webhookData = merged._webhookData;\nconst runtimeConfig = merged.runtime || { use_stubs: true };\n\n// For stories/projects, description is the main content; for feedback, it's message\nconst messageContent = webhookData.description || webhookData.message || '';\n\nif (!messageContent || messageContent.trim().length < 10) {\n  throw new Error('Message/description required (min 10 chars)');\n}\n\n// Map submission type to valid database category\n// DB constraint: 'tool-request', 'idea', 'report', 'question', 'collaboration', 'other'\nconst submissionType = webhookData.type || 'feedback';\nlet dbCategory = 'other';\nif (submissionType === 'story') {\n  dbCategory = 'report';  // Stories are reports of events/news\n} else if (submissionType === 'project') {\n  dbCategory = 'idea';    // Project proposals are ideas\n} else if (webhookData.category) {\n  // For feedback, map form categories to valid DB values\n  const validCategories = ['tool-request', 'idea', 'report', 'question', 'collaboration', 'other'];\n  dbCategory = validCategories.includes(webhookData.category) ? webhookData.category : 'other';\n}\n\nreturn [{\n  json: {\n    // Database columns (snake_case to match postgres)\n    message: messageContent.trim(),\n    contact: webhookData.contact || null,\n    category: dbCategory,\n    channel: 'web',\n    submission_type: submissionType,\n    title: webhookData.title || null,\n    source_url: webhookData.sourceUrl || null,\n    region: webhookData.region || null,\n    urgency: webhookData.urgency || 'normal',\n    \n    // Project-specific fields (from form)\n    problemStatement: webhookData.problemStatement || null,\n    \n    // Additional fields for workflow logic (not inserted to DB)\n    safetyMode: webhookData.safetyMode || false,\n    type: submissionType,\n    sourceUrl: webhookData.sourceUrl || null,\n    \n    // Pass-through metadata\n    _rateLimitConfig: rateLimiting,\n    _runtime: runtimeConfig\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17168,
        18400
      ],
      "id": "b0867779-b92c-480f-a68e-1ed2ef2303b7",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "jsCode": "// Prepare submission data for safe SQL insertion\n// Escapes single quotes and prepares values\nconst input = $input.first().json;\n\nfunction sqlEscape(val) {\n  if (val === null || val === undefined) return 'NULL';\n  if (typeof val === 'boolean') return val ? 'TRUE' : 'FALSE';\n  if (typeof val === 'number') return String(val);\n  // Escape single quotes by doubling them\n  return \"'\" + String(val).replace(/'/g, \"''\") + \"'\";\n}\n\nconst message = sqlEscape(input.message);\nconst contact = sqlEscape(input.contact);\nconst category = sqlEscape(input.category);\nconst channel = sqlEscape(input.channel || 'web');\nconst submission_type = sqlEscape(input.submission_type);\nconst title = sqlEscape(input.title);\nconst source_url = sqlEscape(input.source_url);\nconst region = sqlEscape(input.region);\nconst urgency = sqlEscape(input.urgency);\n\nconst query = `INSERT INTO submissions (message, contact, category, channel, submission_type, title, source_url, region, urgency)\nVALUES (${message}, ${contact}, ${category}, ${channel}, ${submission_type}, ${title}, ${source_url}, ${region}, ${urgency})\nRETURNING id, message`;\n\nreturn [{\n  json: {\n    ...input,\n    _insertQuery: query\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17328,
        18400
      ],
      "id": "5ecbce1d-1fb3-41df-979d-1f2203b87efc",
      "name": "Prepare Submission Insert"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json._insertQuery }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        17488,
        18400
      ],
      "id": "f6818ed2-bee2-4a80-98cd-1198b165c353",
      "name": "Insert Submission",
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare routing data for type-specific classification\n// Removed redundant initial classification - type-specific classifiers handle this\nconst validateInput = $('Validate Input').first().json;\nconst submissionData = $('Insert Submission').first().json;\n\nreturn [{\n  json: {\n    submissionId: submissionData.id,\n    message: submissionData.message,\n    category: validateInput.category,\n    contact: validateInput.contact,\n    _runtime: validateInput._runtime,\n    _storyData: {\n      type: validateInput.type,\n      title: validateInput.title,\n      sourceUrl: validateInput.sourceUrl,\n      region: validateInput.region,\n      urgency: validateInput.urgency,\n      problemStatement: validateInput.problemStatement\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17664,
        18400
      ],
      "id": "f636fd38-f1c5-45e0-a85c-d12536f55b52",
      "name": "Prepare Routing Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-story-check",
              "leftValue": "={{ $('Prepare Routing Data').first().json._storyData?.type }}",
              "rightValue": "story",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        18080,
        18400
      ],
      "id": "7d4ac0cc-d3af-4bce-a21f-929aebe3d5b8",
      "name": "Is Story?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-project-check",
              "leftValue": "={{ $('Prepare Routing Data').first().json._storyData?.type }}",
              "rightValue": "project",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        18080,
        19072
      ],
      "id": "252398c0-e732-439c-b9ec-7908cae847c5",
      "name": "Is Project?"
    },
    {
      "parameters": {
        "url": "https://libertas.fgu.tech/api/agents/intake-project-evaluate",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        18368,
        19056
      ],
      "id": "fd839321-3d3d-4083-a798-620a65dd6792",
      "name": "Fetch Project Evaluate Prompt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "use-stubs-project-evaluate",
              "leftValue": "={{ $('Prepare Routing Data').first().json._runtime?.use_stubs ?? true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        18544,
        19056
      ],
      "id": "00407634-082c-4b3a-9d8f-7559780ecca6",
      "name": "Use Stubs for Project Evaluate?"
    },
    {
      "parameters": {
        "jsCode": "// Project Evaluate Stub for testing (1.13b)\n// Provides keyword-based project assessment without calling Claude API\n\nconst parsedLLM = $('Prepare Routing Data').first().json;\nconst storyData = parsedLLM._storyData;\nconst message = parsedLLM.message;\nconst title = storyData?.title || '';\nconst problemStatement = storyData?.problemStatement || message;\nconst region = storyData?.region;\nconst urgency = storyData?.urgency || 'normal';\n\nconst fullText = (title + ' ' + problemStatement + ' ' + message).toLowerCase();\n\n// Topic detection for tech stack suggestions\nconst topics = [];\nif (fullText.includes('bitcoin') || fullText.includes('btc') || fullText.includes('lightning')) topics.push('bitcoin');\nif (fullText.includes('zk') || fullText.includes('zero knowledge') || fullText.includes('proof')) topics.push('zk');\nif (fullText.includes('mesh') || fullText.includes('p2p') || fullText.includes('peer')) topics.push('comms');\nif (fullText.includes('privacy') || fullText.includes('encrypt') || fullText.includes('anonymous')) topics.push('privacy');\nif (fullText.includes('identity') || fullText.includes('kyc') || fullText.includes('credential')) topics.push('identity');\nif (fullText.includes('censor') || fullText.includes('blocked') || fullText.includes('firewall')) topics.push('censorship-resistance');\nif (topics.length === 0) topics.push('sovereignty');\n\n// Generate threat model based on content\nlet threat_model = 'Generic adversaries including network observers and platform operators.';\nif (fullText.includes('government') || fullText.includes('state')) {\n  threat_model = 'State-level adversaries with network monitoring capabilities, ability to compel platforms, and potential for targeted surveillance.';\n} else if (fullText.includes('activist') || fullText.includes('journalist')) {\n  threat_model = 'Adversaries targeting individuals including state actors, corporate surveillance, and social engineering attacks.';\n}\n\n// Identify affected groups\nconst affected_groups = ['Privacy-conscious users'];\nif (fullText.includes('activist')) affected_groups.push('Activists in authoritarian regimes');\nif (fullText.includes('journalist')) affected_groups.push('Journalists protecting sources');\nif (fullText.includes('human rights')) affected_groups.push('Human rights organizations');\nif (fullText.includes('developer')) affected_groups.push('Freedom tech developers');\nif (affected_groups.length === 1) affected_groups.push('General users seeking privacy');\n\n// Calculate feasibility score\nlet feasibility_score = 60;\nif (fullText.includes('existing') || fullText.includes('integrate')) feasibility_score += 15;\nif (fullText.includes('complex') || fullText.includes('research')) feasibility_score -= 15;\nif (fullText.includes('simple') || fullText.includes('basic')) feasibility_score += 10;\nfeasibility_score = Math.max(30, Math.min(90, feasibility_score));\n\n// Calculate impact score\nlet impact_score = 55;\nif (fullText.includes('life') || fullText.includes('safety') || fullText.includes('threat')) impact_score += 25;\nif (fullText.includes('many') || fullText.includes('widespread') || fullText.includes('global')) impact_score += 15;\nif (fullText.includes('niche') || fullText.includes('specific')) impact_score -= 10;\nimpact_score = Math.max(30, Math.min(95, impact_score));\n\n// Generate misuse risks\nlet misuse_risks = 'Could be used to coordinate harmful activities under cover of privacy. May enable evasion of legitimate law enforcement in non-authoritarian contexts.';\nif (fullText.includes('anonymous')) {\n  misuse_risks = 'Strong anonymity features could enable abuse, harassment, or illegal activities. Consider transparency options and abuse reporting mechanisms.';\n}\n\n// Suggest technical dependencies\nconst technical_dependencies = ['Cryptographic libraries (libsodium or equivalent)'];\nif (topics.includes('bitcoin')) technical_dependencies.push('Bitcoin libraries (rust-bitcoin, bitcoinjs)');\nif (topics.includes('comms')) technical_dependencies.push('Networking stack with P2P support');\nif (topics.includes('zk')) technical_dependencies.push('ZK proving system (STARK, SNARK)');\n\n// Suggest stack\nconst suggested_stack = ['Rust for core components', 'TypeScript for web interfaces'];\nif (topics.includes('bitcoin')) suggested_stack.push('Bitcoin Core RPC or Electrum');\nif (topics.includes('comms')) suggested_stack.push('libp2p for networking');\n\n// Prior art\nconst prior_art = [];\nif (topics.includes('bitcoin')) prior_art.push('Sparrow Wallet', 'Wasabi Wallet');\nif (topics.includes('comms')) prior_art.push('Briar', 'Signal');\nif (topics.includes('privacy')) prior_art.push('Tor Project', 'Tails');\nif (prior_art.length === 0) prior_art.push('Review existing freedom tech projects');\n\n// Open questions\nconst open_questions = [\n  'What is the minimum viable UX for non-technical users?',\n  'How to handle key management without trusted third parties?'\n];\nif (region) open_questions.push(`What are the specific requirements for ${region}?`);\n\n// Check for spam\nconst is_spam = fullText.includes('guaranteed returns') || \n                fullText.includes('airdrop') || \n                fullText.includes('100x');\n\n// Generate detected pattern\nlet detected_pattern = `Addresses ${topics.join('/')} needs for ${affected_groups[0].toLowerCase()}.`;\nif (is_spam) detected_pattern = 'N/A - This is spam';\n\n// Generate MVP scope\nlet mvp_scope = `CLI tool with core ${topics[0] || 'privacy'} functionality. Single-page documentation. Target: technical early adopters.`;\nif (is_spam) mvp_scope = 'N/A - This is spam';\n\nconst result = {\n  detected_pattern,\n  threat_model: is_spam ? 'N/A - This is spam' : threat_model,\n  affected_groups: is_spam ? [] : affected_groups,\n  mvp_scope,\n  misuse_risks: is_spam ? 'Submission flagged as spam.' : misuse_risks,\n  feasibility_score: is_spam ? 0 : feasibility_score,\n  impact_score: is_spam ? 0 : impact_score,\n  technical_dependencies: is_spam ? [] : technical_dependencies,\n  suggested_stack: is_spam ? [] : suggested_stack,\n  prior_art: is_spam ? [] : prior_art,\n  open_questions: is_spam ? [] : open_questions,\n  reasoning: is_spam ? 'Spam patterns detected.' : `Stub evaluation: feasibility=${feasibility_score}, impact=${impact_score}, topics=${topics.join(', ')}`,\n  priority: urgency,\n  is_spam\n};\n\nreturn [{\n  json: {\n    content: [{ type: 'text', text: JSON.stringify(result) }],\n    _submissionId: parsedLLM.submissionId,\n    _message: message,\n    _projectData: {\n      title,\n      problemStatement,\n      description: message,\n      region,\n      urgency,\n      topics\n    },\n    _runtime: parsedLLM._runtime\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18720,
        18992
      ],
      "id": "783d6bea-6314-4ec2-aad8-aedd82bc718f",
      "name": "Project Evaluate Stub"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2048,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": {{ JSON.stringify($('Fetch Project Evaluate Prompt').first().json.content + \"\\n\\n# Input\\n\\n\" + JSON.stringify({ title: $('Prepare Routing Data').first().json._storyData?.title || '', problemStatement: $('Prepare Routing Data').first().json._storyData?.problemStatement || $('Prepare Routing Data').first().json.message, description: $('Prepare Routing Data').first().json.message, urgency: $('Prepare Routing Data').first().json._storyData?.urgency || 'normal', region: $('Prepare Routing Data').first().json._storyData?.region || null })) }}\n  }]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        18720,
        19136
      ],
      "id": "6dfddb59-955b-4044-bd08-7d766ce25ca3",
      "name": "Project Evaluate with Claude API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2ueFHzVgKw4S5KuR",
          "name": "Claude API Token"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Wrap Claude API response for project evaluation\nconst claudeResponse = $input.first().json;\nconst parsedLLM = $('Prepare Routing Data').first().json;\nconst storyData = parsedLLM._storyData;\n\nreturn [{\n  json: {\n    content: claudeResponse.content,\n    _submissionId: parsedLLM.submissionId,\n    _message: parsedLLM.message,\n    _projectData: {\n      title: storyData?.title || '',\n      problemStatement: storyData?.problemStatement || parsedLLM.message,\n      description: parsedLLM.message,\n      region: storyData?.region,\n      urgency: storyData?.urgency || 'normal'\n    },\n    _runtime: parsedLLM._runtime\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18896,
        19072
      ],
      "id": "0748ba56-8083-4f45-8a85-cf559aaadc7f",
      "name": "Wrap Project Evaluate Response"
    },
    {
      "parameters": {
        "jsCode": "// Handle errors from Project Evaluate Claude API call\nconst error = $input.first().json;\nconst parsedLLM = $('Prepare Routing Data').first().json;\nconst storyData = parsedLLM._storyData;\n\nconsole.log('Project Evaluate Claude API error:', JSON.stringify(error));\n\nconst fallbackResult = {\n  threat_model: 'Unable to assess - API error',\n  affected_groups: ['Unknown - manual review required'],\n  feasibility_score: 50,\n  impact_score: 50,\n  misuse_risks: 'Unable to assess - API error',\n  technical_dependencies: [],\n  suggested_stack: [],\n  prior_art: [],\n  open_questions: ['All aspects require manual review due to API error'],\n  reasoning: 'Fallback evaluation due to API error - requires manual review',\n  priority: 'normal',\n  is_spam: false\n};\n\nreturn [{\n  json: {\n    content: [{ type: 'text', text: JSON.stringify(fallbackResult) }],\n    _submissionId: parsedLLM.submissionId,\n    _message: parsedLLM.message,\n    _projectData: {\n      title: storyData?.title || '',\n      problemStatement: storyData?.problemStatement || parsedLLM.message,\n      description: parsedLLM.message,\n      region: storyData?.region,\n      urgency: storyData?.urgency || 'normal'\n    },\n    _runtime: parsedLLM._runtime,\n    _apiError: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18896,
        19216
      ],
      "id": "4d099f9d-11f6-46b9-be04-0e15b8e691c7",
      "name": "Handle Project Evaluate Error"
    },
    {
      "parameters": {
        "jsCode": "// Parse project evaluation LLM response\nconst input = $input.first().json;\nlet parsed;\n\ntry {\n  let text = input.content[0].text;\n  \n  // Strip markdown code blocks if present\n  text = text.trim();\n  if (text.startsWith('```')) {\n    text = text.replace(/^```(?:json)?\\s*\\n?/, '');\n    text = text.replace(/\\n?```\\s*$/, '');\n  }\n  \n  parsed = JSON.parse(text.trim());\n} catch (e) {\n  console.log('Parse Project LLM Response error:', e.message);\n  parsed = {\n    detected_pattern: 'Parse error - manual review required',\n    threat_model: 'Parse error - manual review required',\n    affected_groups: ['Unknown'],\n    mvp_scope: 'Manual review required',\n    feasibility_score: 50,\n    impact_score: 50,\n    misuse_risks: 'Parse error - manual review required',\n    technical_dependencies: [],\n    suggested_stack: [],\n    prior_art: [],\n    open_questions: ['All aspects require manual review'],\n    reasoning: 'Failed to parse: ' + e.message,\n    priority: 'normal',\n    is_spam: false\n  };\n}\n\n// Ensure all required fields with defaults\nconst result = {\n  detected_pattern: parsed.detected_pattern || 'Not specified',\n  threat_model: parsed.threat_model || 'Not specified',\n  affected_groups: Array.isArray(parsed.affected_groups) ? parsed.affected_groups : ['General users'],\n  mvp_scope: parsed.mvp_scope || 'MVP scope to be defined during triage',\n  feasibility_score: parseInt(parsed.feasibility_score) || 50,\n  impact_score: parseInt(parsed.impact_score) || 50,\n  misuse_risks: parsed.misuse_risks || 'Not assessed',\n  technical_dependencies: Array.isArray(parsed.technical_dependencies) ? parsed.technical_dependencies : [],\n  suggested_stack: Array.isArray(parsed.suggested_stack) ? parsed.suggested_stack : [],\n  prior_art: Array.isArray(parsed.prior_art) ? parsed.prior_art : [],\n  open_questions: Array.isArray(parsed.open_questions) ? parsed.open_questions : [],\n  reasoning: parsed.reasoning || '',\n  priority: ['urgent', 'normal', 'low'].includes(parsed.priority) ? parsed.priority : 'normal',\n  is_spam: Boolean(parsed.is_spam),\n  \n  // Pass through data\n  _submissionId: input._submissionId,\n  _message: input._message,\n  _projectData: input._projectData,\n  _runtime: input._runtime\n};\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19088,
        18992
      ],
      "id": "6fc134f9-0331-4f23-b9df-1d007aab922f",
      "name": "Parse Project LLM Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-spam-check",
              "leftValue": "={{ $json.is_spam }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        19376,
        18992
      ],
      "id": "9244b2b2-2b4d-486d-86bf-f6c1ea68b34c",
      "name": "Is Not Spam?"
    },
    {
      "parameters": {
        "jsCode": "// Handle spam project submission - mark as spam and skip processing\nconst data = $input.first().json;\n\nconsole.log(`[SPAM] Project submission ${data._submissionId} flagged as spam. Skipping project idea creation.`);\n\nreturn [{\n  json: {\n    success: true,\n    type: 'project',\n    submissionId: data._submissionId,\n    projectIdeaId: null,\n    githubIssueUrl: null,\n    githubIssueCreated: false,\n    isSpam: true,\n    scores: {\n      feasibility: data.feasibility_score || 0,\n      impact: data.impact_score || 0\n    },\n    message: 'Submission flagged for review.'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19536,
        19056
      ],
      "id": "b5a36862-4dde-4d00-8761-c5edabf38d8d",
      "name": "Handle Project Spam"
    },
    {
      "parameters": {
        "jsCode": "// Build INSERT query for project_ideas table\nconst data = $input.first().json;\nconst projectData = data._projectData;\n\nfunction escapeStr(str) {\n  if (str === null || str === undefined) return 'NULL';\n  return \"'\" + String(str).replace(/'/g, \"''\") + \"'\";\n}\n\nfunction formatPgArray(arr) {\n  if (!arr || arr.length === 0) return \"'{}'\";\n  const escaped = arr.map(s => '\"' + String(s).replace(/\"/g, '\\\\\"').replace(/'/g, \"''\") + '\"');\n  return \"'{\" + escaped.join(',') + \"}'\";\n}\n\n// Use empty array for derived_from_insight_ids (community submission, not derived from insights)\n// Link to submission via metadata instead\nconst query = `INSERT INTO project_ideas (\n  derived_from_insight_ids,\n  detected_pattern,\n  problem_statement,\n  threat_model,\n  affected_groups,\n  proposed_solution,\n  mvp_scope,\n  misuse_risks,\n  feasibility_score,\n  impact_score,\n  technical_dependencies,\n  suggested_stack,\n  prior_art,\n  open_questions,\n  reasoning,\n  priority,\n  status\n) VALUES (\n  '{}',\n  ${escapeStr(data.detected_pattern)},\n  ${escapeStr(projectData.problemStatement)},\n  ${escapeStr(data.threat_model)},\n  ${formatPgArray(data.affected_groups)},\n  ${escapeStr(projectData.description)},\n  ${escapeStr(data.mvp_scope)},\n  ${escapeStr(data.misuse_risks)},\n  ${data.feasibility_score},\n  ${data.impact_score},\n  ${formatPgArray(data.technical_dependencies)},\n  ${formatPgArray(data.suggested_stack)},\n  ${formatPgArray(data.prior_art)},\n  ${formatPgArray(data.open_questions)},\n  ${escapeStr(data.reasoning)},\n  ${escapeStr(data.priority)},\n  'new'\n) RETURNING id, feasibility_score, impact_score, priority, created_at`;\n\nreturn [{\n  json: {\n    query,\n    _projectIdeaData: {\n      ...data,\n      title: projectData.title,\n      submissionId: data._submissionId\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19536,
        18928
      ],
      "id": "ea22d4ca-aee7-44d8-8d16-34c447041444",
      "name": "Build Project Idea Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        19712,
        18928
      ],
      "id": "8e1c88e0-1dac-4e36-a080-9ff79203e0ec",
      "name": "Insert Project Idea",
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare project idea for GitHub issue creation\nconst insertResult = $input.first().json;\nconst ideaData = $('Build Project Idea Query').first().json._projectIdeaData;\n\n// Build issue title\nlet titleText = ideaData.title || ideaData._projectData?.problemStatement || '';\nif (titleText.length > 60) {\n  titleText = titleText.substring(0, 57).replace(/\\s+\\S*$/, '') + '...';\n}\nconst issueTitle = `[Project Idea] ${titleText}`;\n\n// Build issue body\nconst affectedGroupsList = (ideaData.affected_groups || []).map(g => `- ${g}`).join('\\n') || '_Not specified_';\nconst dependenciesList = (ideaData.technical_dependencies || []).map(d => `- ${d}`).join('\\n') || '_Not specified_';\nconst stackList = (ideaData.suggested_stack || []).map(s => `- ${s}`).join('\\n') || '_Not specified_';\nconst priorArtList = (ideaData.prior_art || []).map(p => `- ${p}`).join('\\n') || '_Not specified_';\nconst questionsList = (ideaData.open_questions || []).map(q => `- ${q}`).join('\\n') || '_Not specified_';\n\n// Get priority for labeling\nconst priority = insertResult.priority || ideaData.priority || 'normal';\n\nconst issueBody = `## Detected Pattern\n\n${ideaData.detected_pattern || '_Not specified_'}\n\n## Problem Statement\n\n${ideaData._projectData?.problemStatement || ideaData._message}\n\n## Proposed Solution\n\n${ideaData._projectData?.description || ideaData._message}\n\n## MVP Scope\n\n${ideaData.mvp_scope || '_To be defined during triage_'}\n\n## Threat Model\n\n${ideaData.threat_model}\n\n## Affected Groups\n\n${affectedGroupsList}\n\n## Misuse Risks\n\n${ideaData.misuse_risks}\n\n## Scores\n\n- **Feasibility:** ${ideaData.feasibility_score}/100\n- **Impact:** ${ideaData.impact_score}/100\n- **Priority:** ${priority}\n\n## Technical Dependencies\n\n${dependenciesList}\n\n## Suggested Stack\n\n${stackList}\n\n## Prior Art\n\n${priorArtList}\n\n## Open Questions\n\n${questionsList}\n\n## Evaluation Reasoning\n\n${ideaData.reasoning || '_Not provided_'}\n\n---\n*Community-submitted project idea*\n*Submission ID: \\`${ideaData.submissionId}\\`*\n*Project Idea ID: \\`${insertResult.id}\\`*\n*Auto-generated by Libertas Workflow C*`;\n\nreturn [{\n  json: {\n    issueTitle,\n    issueBody,\n    projectIdeaId: insertResult.id,\n    submissionId: ideaData.submissionId,\n    feasibilityScore: insertResult.feasibility_score,\n    impactScore: insertResult.impact_score,\n    priority: priority,\n    _runtime: ideaData._runtime\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20000,
        18928
      ],
      "id": "ebe30693-dccb-48a4-ae25-472d603fd842",
      "name": "Prepare Project for GitHub"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "use-stubs-project-github",
              "leftValue": "={{ $('Prepare Routing Data').first().json._runtime?.use_stubs ?? true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        20160,
        18928
      ],
      "id": "3a976dae-b269-4ab2-b19a-6a786f6aa330",
      "name": "Use Stubs for Project GitHub?"
    },
    {
      "parameters": {
        "jsCode": "// STUB: Simulate GitHub issue creation for project ideas\nconst data = $input.first().json;\n\nconst stubIssueNumber = 200 + Math.floor(Math.random() * 800);\nconst stubIssueUrl = `https://github.com/FGUTech/libertas/issues/${stubIssueNumber}`;\n\n// Build labels based on priority\nconst labels = ['project-idea', 'community-submitted'];\nif (data.priority === 'urgent') labels.push('priority-urgent');\nelse if (data.priority === 'low') labels.push('priority-low');\n\nconsole.log(`[STUB] Created mock GitHub issue #${stubIssueNumber} for project idea ${data.projectIdeaId} with priority ${data.priority}`);\n\nreturn [{\n  json: {\n    html_url: stubIssueUrl,\n    number: stubIssueNumber,\n    title: data.issueTitle,\n    state: 'open',\n    labels: labels,\n    _projectIdeaId: data.projectIdeaId,\n    _submissionId: data.submissionId,\n    _priority: data.priority,\n    _isStub: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20320,
        18880
      ],
      "id": "02a2b30a-0234-4d14-a453-097d469fdb65",
      "name": "Project GitHub Stub"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/FGUTech/libertas/issues",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": {{ JSON.stringify($json.issueTitle) }},\n  \"body\": {{ JSON.stringify($json.issueBody) }},\n  \"labels\": {{ JSON.stringify(['project-idea', 'community-submitted'].concat($json.priority === 'urgent' ? ['priority-urgent'] : $json.priority === 'low' ? ['priority-low'] : [])) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        20320,
        19040
      ],
      "id": "fda7fec9-17f7-4e53-80d1-a41106651a28",
      "name": "Create Project GitHub Issue",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DwAcCvPHNHvQfrGT",
          "name": "Github API Token"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Wrap real GitHub API response for project issues\nconst githubResponse = $input.first().json;\nconst prepareData = $('Prepare Project for GitHub').first().json;\n\nreturn [{\n  json: {\n    html_url: githubResponse.html_url,\n    number: githubResponse.number,\n    title: githubResponse.title,\n    state: githubResponse.state,\n    _projectIdeaId: prepareData.projectIdeaId,\n    _submissionId: prepareData.submissionId,\n    _isStub: false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20496,
        18992
      ],
      "id": "b28ee341-2ab7-41a9-b977-b2d0901c79fe",
      "name": "Wrap Project GitHub Response"
    },
    {
      "parameters": {
        "jsCode": "// Handle errors from Project GitHub API call\nconst error = $input.first().json;\nconst prepareData = $('Prepare Project for GitHub').first().json;\n\nconsole.log('Project GitHub API error:', JSON.stringify(error));\n\nreturn [{\n  json: {\n    html_url: null,\n    number: null,\n    title: prepareData.issueTitle,\n    state: 'error',\n    _projectIdeaId: prepareData.projectIdeaId,\n    _submissionId: prepareData.submissionId,\n    _isStub: false,\n    _apiError: true,\n    _errorMessage: 'GitHub issue creation failed - will retry later'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20496,
        19152
      ],
      "id": "cec07257-f708-4ebc-bece-9cc02fe00724",
      "name": "Handle Project GitHub Error"
    },
    {
      "parameters": {
        "jsCode": "// Build UPDATE queries for both project_ideas and submissions tables\nconst data = $input.first().json;\n\nfunction escapeStr(str) {\n  if (str === null || str === undefined) return 'NULL';\n  return \"'\" + String(str).replace(/'/g, \"''\") + \"'\";\n}\n\nconst issueUrl = data.html_url;\n\n// Update project_ideas with GitHub issue URL\nconst updateIdeaQuery = `UPDATE project_ideas \nSET github_issue_url = ${escapeStr(issueUrl)},\n    updated_at = NOW()\nWHERE id = ${escapeStr(data._projectIdeaId)}::uuid\nRETURNING id, github_issue_url`;\n\n// Update submissions with GitHub issue URL and status\nconst updateSubmissionQuery = `UPDATE submissions\nSET github_issue_url = ${escapeStr(issueUrl)},\n    status = 'triaged'\nWHERE id = ${escapeStr(data._submissionId)}::uuid`;\n\nconst combinedQuery = updateIdeaQuery + '; ' + updateSubmissionQuery;\n\nconsole.log(`Updating project idea ${data._projectIdeaId} and submission ${data._submissionId} with GitHub issue URL: ${issueUrl || 'NULL'}`);\n\nreturn [{\n  json: {\n    query: combinedQuery,\n    _issueData: data\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20688,
        18880
      ],
      "id": "6f7ac278-2026-4278-bd54-dd30f3b0b6a4",
      "name": "Build Project Update Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        20880,
        18880
      ],
      "id": "656172f6-1cc2-4504-8f9b-224a260a39d2",
      "name": "Update Project Idea URL",
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare response for project submissions\nconst updateResult = $input.first().json;\nconst issueData = $('Build Project Update Query').first().json._issueData;\nconst prepareData = $('Prepare Project for GitHub').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    type: 'project',\n    submissionId: issueData._submissionId,\n    projectIdeaId: issueData._projectIdeaId,\n    githubIssueUrl: issueData.html_url || null,\n    githubIssueCreated: !!issueData.html_url,\n    scores: {\n      feasibility: prepareData.feasibilityScore,\n      impact: prepareData.impactScore\n    },\n    priority: prepareData.priority,\n    message: issueData.html_url \n      ? 'Your project idea has been recorded and a GitHub issue has been created for tracking.'\n      : 'Your project idea has been recorded. GitHub issue creation failed - will be retried.'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21056,
        18880
      ],
      "id": "0b110c4c-5b59-4cf9-b791-345a97122f67",
      "name": "Project Success Summary"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-source-url",
              "leftValue": "={{ $('Prepare Routing Data').first().json._storyData?.sourceUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        18304,
        18384
      ],
      "id": "a9ac371c-0cba-4531-bfee-67e026ccb71d",
      "name": "Has Source URL?"
    },
    {
      "parameters": {
        "url": "={{ $('Prepare Routing Data').first().json._storyData?.sourceUrl }}",
        "options": {
          "response": {
            "response": {}
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        18480,
        18320
      ],
      "id": "1ec0e56d-e107-4f6b-857f-4d2ec10e05d8",
      "name": "Fetch Source Content",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extract text content from fetched HTML\n// Provides source content for Claude to analyze alongside user's description\n\nconst parsedData = $('Prepare Routing Data').first().json;\nconst fetchResult = $input.first().json;\n\nlet extractedContent = '';\nlet fetchSuccess = true;\n\ntry {\n  // Get the HTML content (could be string or in data field)\n  const html = typeof fetchResult === 'string' ? fetchResult : \n               (fetchResult.data || fetchResult.body || JSON.stringify(fetchResult));\n  \n  if (typeof html === 'string' && html.length > 0) {\n    // Basic HTML text extraction\n    // Remove script and style tags and their content\n    let text = html\n      .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n      .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n      .replace(/<nav[^>]*>[\\s\\S]*?<\\/nav>/gi, '')\n      .replace(/<footer[^>]*>[\\s\\S]*?<\\/footer>/gi, '')\n      .replace(/<header[^>]*>[\\s\\S]*?<\\/header>/gi, '');\n    \n    // Remove HTML tags but keep content\n    text = text.replace(/<[^>]+>/g, ' ');\n    \n    // Decode HTML entities\n    text = text\n      .replace(/&nbsp;/g, ' ')\n      .replace(/&amp;/g, '&')\n      .replace(/&lt;/g, '<')\n      .replace(/&gt;/g, '>')\n      .replace(/&quot;/g, '\"')\n      .replace(/&#39;/g, \"'\");\n    \n    // Clean up whitespace\n    text = text.replace(/\\s+/g, ' ').trim();\n    \n    // Truncate to reasonable size for LLM context\n    extractedContent = text.substring(0, 8000);\n    if (text.length > 8000) {\n      extractedContent += '... [truncated]';\n    }\n  }\n} catch (e) {\n  console.log('Text extraction error:', e.message);\n  fetchSuccess = false;\n}\n\n// Pass through all data with extracted content added\nreturn [{\n  json: {\n    ...parsedData,\n    _sourceContent: {\n      extracted: extractedContent,\n      fetchSuccess: fetchSuccess,\n      url: parsedData._storyData?.sourceUrl\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18688,
        18240
      ],
      "id": "73391cdf-b162-4a99-bb47-0c06525e8189",
      "name": "Extract Text from HTML"
    },
    {
      "parameters": {
        "jsCode": "// Handle fetch errors - continue without source content\nconst parsedData = $('Prepare Routing Data').first().json;\nconst error = $input.first().json;\n\nconsole.log('Source URL fetch error:', JSON.stringify(error));\n\nreturn [{\n  json: {\n    ...parsedData,\n    _sourceContent: {\n      extracted: '',\n      fetchSuccess: false,\n      error: 'Failed to fetch source URL',\n      url: parsedData._storyData?.sourceUrl\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18688,
        18368
      ],
      "id": "a65997a5-dc31-442b-9b66-60b7b0aeae4f",
      "name": "Handle Fetch Error"
    },
    {
      "parameters": {
        "jsCode": "// No source URL provided - continue with description only\nconst parsedData = $('Prepare Routing Data').first().json;\n\nreturn [{\n  json: {\n    ...parsedData,\n    _sourceContent: {\n      extracted: '',\n      fetchSuccess: false,\n      noUrl: true\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18480,
        18464
      ],
      "id": "8f07a371-b5c0-4e40-8ae5-b952263e3b15",
      "name": "No Source URL"
    },
    {
      "parameters": {
        "url": "https://libertas.fgu.tech/api/agents/intake-story-classify",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        18976,
        18464
      ],
      "id": "73a49c3f-d307-43bd-94d1-c1053a658925",
      "name": "Fetch Story Classify Prompt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "use-stubs-story-classify",
              "leftValue": "={{ $('Prepare Routing Data').first().json._runtime?.use_stubs ?? true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        19136,
        18464
      ],
      "id": "62582ecb-cd23-4a2f-a732-6b1dbd68ab2f",
      "name": "Use Stubs for Story Classify?"
    },
    {
      "parameters": {
        "jsCode": "// Story classification stub for testing (1.13a)\n// Provides keyword-based scoring without calling Claude API\n// Now includes source content if fetched\n\n// Get data - try to get from source fetch nodes first, fall back to Parse LLM Response\nlet inputData;\ntry {\n  inputData = $('Extract Text from HTML').first().json;\n} catch (e1) {\n  try {\n    inputData = $('Handle Fetch Error').first().json;\n  } catch (e2) {\n    try {\n      inputData = $('No Source URL').first().json;\n    } catch (e3) {\n      inputData = $('Prepare Routing Data').first().json;\n    }\n  }\n}\n\nconst storyData = inputData._storyData;\nconst message = inputData.message;\nconst title = storyData?.title || '';\nconst sourceUrl = storyData?.sourceUrl;\nconst region = storyData?.region;\nconst sourceContent = inputData._sourceContent?.extracted || '';\n\n// Combine title, message, and source content for analysis\nconst fullText = (title + ' ' + message + ' ' + sourceContent).toLowerCase();\n\n// Topic detection\nconst topics = [];\nif (fullText.includes('bitcoin') || fullText.includes('btc') || fullText.includes('lightning')) topics.push('bitcoin');\nif (fullText.includes('signal') || fullText.includes('mesh') || fullText.includes('briar') || fullText.includes('messaging')) topics.push('comms');\nif (fullText.includes('vpn') || fullText.includes('tor') || fullText.includes('privacy') || fullText.includes('encrypt')) topics.push('privacy');\nif (fullText.includes('censor') || fullText.includes('shutdown') || fullText.includes('blocked') || fullText.includes('ban')) topics.push('censorship-resistance');\nif (fullText.includes('activist') || fullText.includes('protest') || fullText.includes('dissident') || fullText.includes('journalist')) topics.push('activism');\nif (fullText.includes('surveillance') || fullText.includes('spy') || fullText.includes('monitor')) topics.push('surveillance');\nif (fullText.includes('identity') || fullText.includes('passport') || fullText.includes('kyc')) topics.push('identity');\nif (fullText.includes('payment') || fullText.includes('money') || fullText.includes('remittance')) topics.push('payments');\nif (topics.length === 0) topics.push('sovereignty');\n\n// Freedom relevance scoring\nlet freedom_relevance_score = 30;\nif (topics.includes('censorship-resistance')) freedom_relevance_score += 25;\nif (topics.includes('activism')) freedom_relevance_score += 20;\nif (topics.includes('bitcoin') || topics.includes('comms')) freedom_relevance_score += 15;\nif (fullText.includes('shutdown') || fullText.includes('repression')) freedom_relevance_score += 15;\nif (fullText.includes('use') || fullText.includes('deployed') || fullText.includes('helped')) freedom_relevance_score += 10;\nfreedom_relevance_score = Math.min(freedom_relevance_score, 100);\n\n// Credibility scoring\nlet credibility_score = 40;\nif (sourceUrl && inputData._sourceContent?.fetchSuccess) {\n  credibility_score = 60;\n  if (sourceUrl.includes('reuters') || sourceUrl.includes('bbc') || sourceUrl.includes('aljazeera')) {\n    credibility_score = 75;\n  }\n} else if (sourceUrl) {\n  credibility_score = 55;\n} else {\n  credibility_score = Math.min(credibility_score + 15, 60);\n}\n\n// Extract geo\nconst geo = [];\nif (region) geo.push(region);\nconst countries = ['Iran', 'China', 'Russia', 'Venezuela', 'Myanmar', 'Sudan', 'Nigeria', 'Uganda', 'Brazil', 'India'];\nfor (const country of countries) {\n  if (fullText.includes(country.toLowerCase()) && !geo.includes(country)) {\n    geo.push(country);\n  }\n}\n\n// Safety concern detection\nconst safety_concern = (fullText.includes('name') && fullText.includes('activist')) ||\n                       (fullText.includes('location') && fullText.includes('dissident')) ||\n                       fullText.includes('address') ||\n                       fullText.includes('phone number');\n\nlet risk_level = 'low';\nif (fullText.includes('activist') || fullText.includes('dissident') || fullText.includes('journalist')) risk_level = 'medium';\nif (safety_concern) risk_level = 'high';\n\nlet priority = storyData?.urgency || 'normal';\nif (fullText.includes('emergency') || fullText.includes('ongoing')) priority = 'urgent';\n\nconst summary = (title || message.substring(0, 100)).substring(0, 200).replace(/\\n/g, ' ').trim() + \n                (message.length > 100 && !title ? '...' : '');\n\n// Spam detection\nconst is_spam = fullText.includes('guaranteed returns') || \n                fullText.includes('airdrop') || \n                fullText.includes('100x') ||\n                fullText.includes('limited spots') ||\n                fullText.includes('exclusive group');\n\n// Note: should_queue_for_insight removed - queue decision now made in workflow based on thresholds\n\nconst result = {\n  topics: is_spam ? [] : topics,\n  freedom_relevance_score: is_spam ? 0 : freedom_relevance_score,\n  credibility_score: is_spam ? 0 : credibility_score,\n  geo: is_spam ? [] : geo,\n  safety_concern,\n  reasoning: is_spam ? 'Spam patterns detected.' : `Stub: ${topics.length} topics, relevance=${freedom_relevance_score}, cred=${credibility_score}${sourceContent ? ' (source fetched)' : sourceUrl ? ' (source provided)' : ' (no source)'}`,\n  risk_level: is_spam ? 'low' : risk_level,\n  priority: is_spam ? 'low' : priority,\n  summary: is_spam ? 'Spam - flagged for review' : summary,\n  key_entities: [],\n  is_spam\n};\n\nreturn [{\n  json: {\n    content: [{ type: 'text', text: JSON.stringify(result) }],\n    _submissionId: inputData.submissionId,\n    _message: message,\n    _storyData: storyData,\n    _sourceContent: inputData._sourceContent,\n    _runtime: inputData._runtime\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19312,
        18400
      ],
      "id": "b56b58b0-5338-47a6-ab67-d46371ed0820",
      "name": "Story Classify Stub"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": {{ JSON.stringify($('Fetch Story Classify Prompt').first().json.content + \"\\n\\n# Input\\n\\n\" + JSON.stringify({ type: 'story', title: (() => { try { return $('Extract Text from HTML').first().json._storyData?.title; } catch(e) { try { return $('No Source URL').first().json._storyData?.title; } catch(e2) { return $('Prepare Routing Data').first().json._storyData?.title; } } })(), description: (() => { try { return $('Extract Text from HTML').first().json.message; } catch(e) { try { return $('No Source URL').first().json.message; } catch(e2) { return $('Prepare Routing Data').first().json.message; } } })(), sourceUrl: (() => { try { return $('Extract Text from HTML').first().json._storyData?.sourceUrl; } catch(e) { try { return $('No Source URL').first().json._storyData?.sourceUrl; } catch(e2) { return $('Prepare Routing Data').first().json._storyData?.sourceUrl; } } })() || null, sourceContent: (() => { try { return $('Extract Text from HTML').first().json._sourceContent?.extracted; } catch(e) { return ''; } })() || null, region: (() => { try { return $('Extract Text from HTML').first().json._storyData?.region; } catch(e) { try { return $('No Source URL').first().json._storyData?.region; } catch(e2) { return $('Prepare Routing Data').first().json._storyData?.region; } } })() || null, contact: $('Validate Input').first().json.contact ? true : false, urgency: (() => { try { return $('Extract Text from HTML').first().json._storyData?.urgency; } catch(e) { try { return $('No Source URL').first().json._storyData?.urgency; } catch(e2) { return $('Prepare Routing Data').first().json._storyData?.urgency; } } })() || 'normal' })) }}\n  }]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        19312,
        18528
      ],
      "id": "87af865e-bdba-4e19-a4cf-05e0542f7392",
      "name": "Story Classify with Claude API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2ueFHzVgKw4S5KuR",
          "name": "Claude API Token"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Wrap Claude API response for story classification\nconst claudeResponse = $input.first().json;\n\n// Get data from source fetch nodes\nlet inputData;\ntry {\n  inputData = $('Extract Text from HTML').first().json;\n} catch (e1) {\n  try {\n    inputData = $('Handle Fetch Error').first().json;\n  } catch (e2) {\n    try {\n      inputData = $('No Source URL').first().json;\n    } catch (e3) {\n      inputData = $('Prepare Routing Data').first().json;\n    }\n  }\n}\n\nreturn [{\n  json: {\n    content: claudeResponse.content,\n    _submissionId: inputData.submissionId,\n    _message: inputData.message,\n    _storyData: inputData._storyData,\n    _sourceContent: inputData._sourceContent,\n    _runtime: inputData._runtime\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19488,
        18464
      ],
      "id": "56dcc0b2-9136-4856-8842-8f71dc62e31d",
      "name": "Wrap Story Classify Response"
    },
    {
      "parameters": {
        "jsCode": "// Handle errors from Story Claude API call\nconst error = $input.first().json;\n\n// Get data from source fetch nodes\nlet inputData;\ntry {\n  inputData = $('Extract Text from HTML').first().json;\n} catch (e1) {\n  try {\n    inputData = $('Handle Fetch Error').first().json;\n  } catch (e2) {\n    try {\n      inputData = $('No Source URL').first().json;\n    } catch (e3) {\n      inputData = $('Prepare Routing Data').first().json;\n    }\n  }\n}\n\nconsole.log('Story Claude API error:', JSON.stringify(error));\n\nconst fallbackResult = {\n  topics: ['needs-review'],\n  freedom_relevance_score: 50,\n  credibility_score: 30,\n  geo: inputData._storyData?.region ? [inputData._storyData.region] : [],\n  safety_concern: false,\n  reasoning: 'Fallback classification due to API error - requires manual review',\n  risk_level: 'medium',\n  priority: 'normal',\n  summary: 'API error - manual review required',\n  should_queue_for_insight: false,\n  key_entities: []\n};\n\nreturn [{\n  json: {\n    content: [{ type: 'text', text: JSON.stringify(fallbackResult) }],\n    _submissionId: inputData.submissionId,\n    _message: inputData.message,\n    _storyData: inputData._storyData,\n    _sourceContent: inputData._sourceContent,\n    _runtime: inputData._runtime,\n    _apiError: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19488,
        18608
      ],
      "id": "b25c8686-085d-4ef2-9ffc-c982dae5ddca",
      "name": "Handle Story Classify Error"
    },
    {
      "parameters": {
        "jsCode": "// Parse story classification LLM response\n// Note: Queue decision is now made in workflow based on thresholds, not by LLM\nconst input = $input.first().json;\nlet parsed;\n\ntry {\n  let text = input.content[0].text;\n  \n  // Strip markdown code blocks if present\n  text = text.trim();\n  if (text.startsWith('```')) {\n    text = text.replace(/^```(?:json)?\\s*\\n?/, '');\n    text = text.replace(/\\n?```\\s*$/, '');\n  }\n  \n  parsed = JSON.parse(text.trim());\n} catch (e) {\n  console.log('Parse Story LLM Response error:', e.message);\n  // Fallback\n  parsed = {\n    topics: ['needs-review'],\n    freedom_relevance_score: 50,\n    credibility_score: 30,\n    geo: [],\n    safety_concern: false,\n    reasoning: 'Failed to parse: ' + e.message,\n    risk_level: 'medium',\n    priority: 'normal',\n    summary: 'Parse error - manual review',\n    key_entities: [],\n    is_spam: false\n  };\n}\n\n// Ensure all required fields with defaults\nconst result = {\n  topics: Array.isArray(parsed.topics) ? parsed.topics : ['general'],\n  freedom_relevance_score: parseInt(parsed.freedom_relevance_score) || 50,\n  credibility_score: parseInt(parsed.credibility_score) || 30,\n  geo: Array.isArray(parsed.geo) ? parsed.geo : [],\n  safety_concern: Boolean(parsed.safety_concern),\n  reasoning: parsed.reasoning || '',\n  risk_level: parsed.risk_level || 'medium',\n  priority: parsed.priority || 'normal',\n  summary: (parsed.summary || '').substring(0, 200),\n  key_entities: Array.isArray(parsed.key_entities) ? parsed.key_entities : [],\n  is_spam: Boolean(parsed.is_spam),\n  \n  // Pass through data\n  _submissionId: input._submissionId,\n  _message: input._message,\n  _storyData: input._storyData,\n  _sourceContent: input._sourceContent,\n  _runtime: input._runtime\n};\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19680,
        18400
      ],
      "id": "9a27644b-5807-4491-9cd1-27f90ae94bf4",
      "name": "Parse Story LLM Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE submissions\n  SET freedom_relevance_score = $1,\n      credibility_score = $2,\n      safety_concern = $3,\n      tags = ARRAY(SELECT json_array_elements_text($4::json)),\n      geo = ARRAY(SELECT json_array_elements_text($5::json)),\n      reasoning = $6,\n      risk_level = $7,\n      priority = $8,\n      summary_text = $9,\n      key_entities = ARRAY(SELECT json_array_elements_text($10::json))\n  WHERE id = $11::uuid\n  RETURNING id, freedom_relevance_score, credibility_score, safety_concern",
        "options": {
          "queryReplacement": "={{ $json.freedom_relevance_score }}, {{ $json.credibility_score }}, {{ $json.safety_concern }}, {{ JSON.stringify($json.topics) }}, {{ JSON.stringify($json.geo) }}, {{ $json.reasoning }}, {{ $json.risk_level }}, {{ $json.priority }}, {{ $json.summary }}, {{ JSON.stringify($json.key_entities) }}, {{ $json._submissionId }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        19824,
        18400
      ],
      "id": "c4defffe-dbd1-4d15-bcf7-5eaa4d2ff4ba",
      "name": "Update Story Submission",
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Restore story data after Postgres update and check queue threshold using config\n// Queue decision is now based on thresholds from config, not LLM output\n\nconst postgresResult = $input.first().json;\nconst storyData = $('Parse Story LLM Response').first().json;\n\n// Get thresholds from config (fetched at workflow start)\nlet intakeThresholds;\ntry {\n  const configData = $('Merge Config & Agents').first().json;\n  intakeThresholds = configData.intake || {};\n} catch (e) {\n  console.log('Could not get thresholds from config, using defaults');\n  intakeThresholds = {};\n}\n\n// Get threshold values (with defaults matching old prompt logic)\nconst relevanceThreshold = intakeThresholds.story_queue_relevance_threshold || 80;\nconst credibilityThreshold = intakeThresholds.story_queue_credibility_threshold || 40;\n\n// Check if story meets queue threshold\n// Conditions: relevance >= threshold AND credibility >= threshold AND NOT safety_concern AND NOT spam\nconst meetsRelevance = storyData.freedom_relevance_score >= relevanceThreshold;\nconst meetsCredibility = storyData.credibility_score >= credibilityThreshold;\nconst noSafetyConcern = !storyData.safety_concern;\nconst notSpam = !storyData.is_spam;\nconst meetsQueueThreshold = meetsRelevance && meetsCredibility && noSafetyConcern && notSpam;\n\nconsole.log(`Queue threshold check: relevance=${storyData.freedom_relevance_score}>=${relevanceThreshold}:${meetsRelevance}, credibility=${storyData.credibility_score}>=${credibilityThreshold}:${meetsCredibility}, safety_concern=${storyData.safety_concern}:${noSafetyConcern}, is_spam=${storyData.is_spam}:${notSpam}, result=${meetsQueueThreshold}`);\n\n// Restore all story data with queue decision added\nreturn [{\n  json: {\n    ...storyData,\n    meetsQueueThreshold,\n    _queueDecision: {\n      relevanceThreshold,\n      credibilityThreshold,\n      meetsRelevance,\n      meetsCredibility,\n      noSafetyConcern,\n      notSpam,\n      result: meetsQueueThreshold\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19968,
        18400
      ],
      "id": "a799157f-a034-4845-adee-590820e3d027",
      "name": "Restore Data & Check Threshold"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-spam-story-check",
              "leftValue": "={{ $json.is_spam }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        20208,
        18400
      ],
      "id": "b0468ff7-4a3a-46e5-b355-7978bb0f896f",
      "name": "Is Not Spam (Story)?"
    },
    {
      "parameters": {
        "jsCode": "// Handle spam story submission - skip processing\nconst data = $input.first().json;\n\nconsole.log(`[SPAM] Story submission ${data._submissionId} flagged as spam. Skipping insight queue.`);\n\nreturn [{\n  json: {\n    success: true,\n    type: 'story',\n    submissionId: data._submissionId,\n    queuedForPublishing: false,\n    isSpam: true,\n    scores: {\n      freedomRelevance: data.freedom_relevance_score || 0,\n      credibility: data.credibility_score || 0\n    },\n    message: 'Submission flagged for review.'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20384,
        18464
      ],
      "id": "d23bbf72-5f09-4e7b-a113-974f9bf3c437",
      "name": "Handle Story Spam"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-queue-threshold",
              "leftValue": "={{ $json.meetsQueueThreshold }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        20384,
        18336
      ],
      "id": "c2e27f43-3382-4f42-bce1-6657926dab7a",
      "name": "Queue for Insight?"
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for user_story_items insert\n// This table stores classified stories ready for Workflow A processing\nconst input = $input.first().json;\n\nconst url = input._storyData?.sourceUrl || 'intake://submission/' + input._submissionId;\nconst extractedText = input._message || '';\nconst sourceContent = input._sourceContent?.extracted || '';\nconst title = input._storyData?.title || input.summary || 'Untitled Story';\nconst region = input._storyData?.region || null;\nconst urgency = input._storyData?.urgency || 'normal';\n\n// Compute content hash for deduplication\nconst crypto = require('crypto');\nconst contentHash = crypto.createHash('sha256').update(extractedText).digest('hex');\n\n// Build metadata\nconst metadata = {\n  submission_id: input._submissionId,\n  source_content_length: sourceContent.length,\n  classified_at: new Date().toISOString()\n};\n\nreturn [{\n  json: {\n    ...input,\n    _userStoryData: {\n      submissionId: input._submissionId,\n      url,\n      extractedText,\n      contentHash,\n      title,\n      region,\n      urgency,\n      sourceContent,\n      metadata: JSON.stringify(metadata),\n      topics: JSON.stringify(input.topics),\n      geo: JSON.stringify(input.geo),\n      keyEntities: JSON.stringify(input.key_entities)\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20576,
        18256
      ],
      "id": "ff3bf9b6-222d-4078-897f-0235c671b57e",
      "name": "Prepare User Story Item"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH url_check AS (\n  SELECT id FROM user_story_items\n  WHERE url = $2 AND url NOT LIKE 'intake://%'\n  LIMIT 1\n)\nINSERT INTO user_story_items (\n  submission_id,\n  url,\n  extracted_text,\n  content_hash,\n  title,\n  region,\n  urgency,\n  source_content,\n  metadata,\n  topics,\n  freedom_relevance_score,\n  credibility_score,\n  geo,\n  safety_concern,\n  reasoning,\n  risk_level,\n  priority,\n  summary_text,\n  key_entities,\n  tier\n)\nSELECT\n  $1::uuid,\n  $2,\n  $3,\n  $4,\n  $5,\n  $6,\n  $7,\n  $8,\n  $9::jsonb,\n  ARRAY(SELECT json_array_elements_text($10::json)),\n  $11,\n  $12,\n  ARRAY(SELECT json_array_elements_text($13::json)),\n  $14,\n  $15,\n  $16,\n  $17,\n  $18,\n  ARRAY(SELECT json_array_elements_text($19::json)),\n  2\nWHERE NOT EXISTS (SELECT 1 FROM url_check)\nON CONFLICT (content_hash) DO NOTHING\nRETURNING id",
        "options": {
          "queryReplacement": "={{ $json._userStoryData.submissionId }}, {{ $json._userStoryData.url }}, {{ $json._userStoryData.extractedText }}, {{ $json._userStoryData.contentHash }}, {{ $json._userStoryData.title }}, {{ $json._userStoryData.region }}, {{ $json._userStoryData.urgency }}, {{ $json._userStoryData.sourceContent }}, {{ $json._userStoryData.metadata }}, {{ $json._userStoryData.topics }}, {{ $json.freedom_relevance_score }}, {{ $json.credibility_score }}, {{ $json._userStoryData.geo }}, {{ $json.safety_concern }}, {{ $json.reasoning }}, {{ $json.risk_level }}, {{ $json.priority }}, {{ $json.summary }}, {{ $json._userStoryData.keyEntities }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        20768,
        18256
      ],
      "id": "08b96776-7c1f-4c1f-96f1-a50c0f8059ec",
      "name": "Insert User Story Item",
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE submissions SET queued_for_insight = TRUE WHERE id = $1::uuid",
        "options": {
          "queryReplacement": "={{ $('Prepare User Story Item').first().json._submissionId }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        20928,
        18256
      ],
      "id": "2570e291-ca47-49fe-b9aa-0432913f2fbc",
      "name": "Mark Submission Queued",
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build webhook response for queued story submissions\nconst prepareData = $('Prepare User Story Item').first().json;\nconst queueDecision = prepareData._queueDecision || {};\n\nreturn [{\n  json: {\n    success: true,\n    type: 'story',\n    submissionId: prepareData._submissionId,\n    queuedForPublishing: true,\n    scores: {\n      freedomRelevance: prepareData.freedom_relevance_score,\n      credibility: prepareData.credibility_score\n    },\n    thresholds: {\n      relevanceRequired: queueDecision.relevanceThreshold,\n      credibilityRequired: queueDecision.credibilityThreshold\n    },\n    message: 'Your story has been queued for publishing review.'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21088,
        18256
      ],
      "id": "95b3e90d-bd0b-4b53-a32d-8aa6cd12db21",
      "name": "Story Queued Response"
    },
    {
      "parameters": {
        "jsCode": "// Build webhook response for stories that don't meet queue threshold\nconst data = $input.first().json;\nconst queueDecision = data._queueDecision || {};\n\n// Determine why it wasn't queued\nconst reasons = [];\nif (!queueDecision.meetsRelevance) {\n  reasons.push(`Relevance score (${data.freedom_relevance_score}) below threshold (${queueDecision.relevanceThreshold})`);\n}\nif (!queueDecision.meetsCredibility) {\n  reasons.push(`Credibility score (${data.credibility_score}) below threshold (${queueDecision.credibilityThreshold})`);\n}\nif (data.safety_concern) {\n  reasons.push('Safety concern flagged - requires manual review');\n}\n\nreturn [{\n  json: {\n    success: true,\n    type: 'story',\n    submissionId: data._submissionId,\n    queuedForPublishing: false,\n    scores: {\n      freedomRelevance: data.freedom_relevance_score,\n      credibility: data.credibility_score\n    },\n    thresholds: {\n      relevanceRequired: queueDecision.relevanceThreshold,\n      credibilityRequired: queueDecision.credibilityThreshold\n    },\n    notQueuedReasons: reasons,\n    message: 'Your story has been received but did not meet auto-publishing thresholds. It may still be reviewed manually.'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20576,
        18400
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Story Not Queued Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.first().json) }}",
        "options": {
          "responseCode": 201
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        21760,
        19040
      ],
      "id": "7d45b47c-dc66-4174-b0e1-dcffc90e81af",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-feedback-check",
              "leftValue": "={{ $('Prepare Routing Data').first().json._storyData?.type }}",
              "rightValue": "feedback",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        18080,
        19808
      ],
      "id": "47332131-4e95-47f2-968c-8e6b75124093",
      "name": "Is Feedback?"
    },
    {
      "parameters": {
        "url": "https://libertas.fgu.tech/api/agents/intake-feedback-assess",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        18352,
        19792
      ],
      "id": "63d1b64a-9ec1-4986-a572-76cd597efc25",
      "name": "Fetch Feedback Assess Prompt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "use-stubs-feedback-assess",
              "leftValue": "={{ $('Prepare Routing Data').first().json._runtime?.use_stubs ?? true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        18544,
        19792
      ],
      "id": "7b96e204-29f0-49c3-8cfb-cfec28ac2fd1",
      "name": "Use Stubs for Feedback Assess?"
    },
    {
      "parameters": {
        "jsCode": "// Feedback Assess Stub for testing (1.13c)\n// Provides keyword-based feedback assessment without calling Claude API\n\nconst parsedLLM = $('Prepare Routing Data').first().json;\nconst message = parsedLLM.message || '';\nconst category = parsedLLM.category || 'other';\nconst fullText = message.toLowerCase();\n\n// Spam detection\nconst is_spam = fullText.includes('crypto airdrop') ||\n                fullText.includes('click here') ||\n                fullText.includes('guaranteed returns') ||\n                fullText.includes('100x') ||\n                (message.match(/https?:\\/\\//g) || []).length > 3;\n\n// Priority assessment\nlet priority = 'normal';\nif (fullText.includes('security') || fullText.includes('vulnerability') || fullText.includes('data loss')) {\n  priority = 'urgent';\n} else if (fullText.includes('urgent') || fullText.includes('emergency') || fullText.includes('broken')) {\n  priority = 'urgent';\n} else if (fullText.includes('minor') || fullText.includes('cosmetic') || fullText.includes('nice to have')) {\n  priority = 'low';\n}\n\n// Extract actionable items\nconst actionable_items = [];\nif (fullText.includes('bug') || fullText.includes('broken') || fullText.includes('not working')) {\n  actionable_items.push('Investigate reported issue');\n}\nif (fullText.includes('feature') || fullText.includes('would be great') || fullText.includes('should')) {\n  actionable_items.push('Evaluate feature request');\n}\nif (fullText.includes('content') || fullText.includes('article') || fullText.includes('cover')) {\n  actionable_items.push('Review content suggestion');\n}\nif (actionable_items.length === 0) {\n  actionable_items.push('Review feedback and determine next steps');\n}\n\n// Suggested assignee based on category\nlet suggested_assignee = 'triage';\nif (category === 'bug') suggested_assignee = 'engineering';\nelse if (category === 'feature') suggested_assignee = 'engineering';\nelse if (category === 'content') suggested_assignee = 'content';\n\n// Generate summary\nconst summary = message.substring(0, 180).replace(/\\n/g, ' ').trim() + (message.length > 180 ? '...' : '');\n\n// Sentiment detection\nlet sentiment = 'neutral';\nif (fullText.includes('love') || fullText.includes('great') || fullText.includes('awesome')) sentiment = 'positive';\nelse if (fullText.includes('hate') || fullText.includes('terrible') || fullText.includes('awful')) sentiment = 'negative';\nelse if (fullText.includes('suggest') || fullText.includes('could') || fullText.includes('should')) sentiment = 'constructive';\n\nconst result = {\n  is_spam,\n  priority: is_spam ? 'low' : priority,\n  actionable_items: is_spam ? [] : actionable_items,\n  suggested_assignee: is_spam ? 'triage' : suggested_assignee,\n  summary,\n  sentiment,\n  requires_clarification: message.length < 50 && !is_spam,\n  clarification_needed: message.length < 50 && !is_spam ? 'More details would help us address your feedback' : ''\n};\n\nreturn [{\n  json: {\n    content: [{ type: 'text', text: JSON.stringify(result) }],\n    _submissionId: parsedLLM.submissionId,\n    _message: message,\n    _feedbackData: {\n      category: category,\n      contact: parsedLLM.contact || null,\n      requires_response: parsedLLM.requires_response || false\n    },\n    _runtime: parsedLLM._runtime\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18736,
        19728
      ],
      "id": "ea9ee749-26bb-411e-bcfb-e8e5150da245",
      "name": "Feedback Assess Stub"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": {{ JSON.stringify($('Fetch Feedback Assess Prompt').first().json.content + \"\\n\\n# Input\\n\\n\" + JSON.stringify({ message: $('Prepare Routing Data').first().json.message, category: $('Prepare Routing Data').first().json.category || 'other', contact: $('Prepare Routing Data').first().json.contact ? true : false })) }}\n  }]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        18736,
        19856
      ],
      "id": "b6dcf1d0-9ec8-420e-a139-9e837809bb74",
      "name": "Feedback Assess with Claude API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2ueFHzVgKw4S5KuR",
          "name": "Claude API Token"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Wrap Claude API response for feedback assessment\nconst claudeResponse = $input.first().json;\nconst parsedLLM = $('Prepare Routing Data').first().json;\n\nreturn [{\n  json: {\n    content: claudeResponse.content,\n    _submissionId: parsedLLM.submissionId,\n    _message: parsedLLM.message,\n    _feedbackData: {\n      category: parsedLLM.category || 'other',\n      contact: parsedLLM.contact || null,\n      requires_response: parsedLLM.requires_response || false\n    },\n    _runtime: parsedLLM._runtime\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18928,
        19808
      ],
      "id": "40a7b363-1400-4a11-9233-fc4cd6152f7d",
      "name": "Wrap Feedback Assess Response"
    },
    {
      "parameters": {
        "jsCode": "// Handle errors from Feedback Assess Claude API call\nconst error = $input.first().json;\nconst parsedLLM = $('Prepare Routing Data').first().json;\n\nconsole.log('Feedback Assess Claude API error:', JSON.stringify(error));\n\nconst fallbackResult = {\n  is_spam: false,\n  priority: 'normal',\n  actionable_items: ['Manual review required due to API error'],\n  suggested_assignee: 'triage',\n  summary: 'API error - manual review required',\n  sentiment: 'neutral',\n  requires_clarification: false,\n  clarification_needed: ''\n};\n\nreturn [{\n  json: {\n    content: [{ type: 'text', text: JSON.stringify(fallbackResult) }],\n    _submissionId: parsedLLM.submissionId,\n    _message: parsedLLM.message,\n    _feedbackData: {\n      category: parsedLLM.category || 'other',\n      contact: parsedLLM.contact || null,\n      requires_response: parsedLLM.requires_response || false\n    },\n    _runtime: parsedLLM._runtime,\n    _apiError: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18928,
        19952
      ],
      "id": "dec6b643-ed1a-4869-877d-2c9e054f4bf0",
      "name": "Handle Feedback Assess Error"
    },
    {
      "parameters": {
        "jsCode": "// Parse feedback assessment LLM response\nconst input = $input.first().json;\nlet parsed;\n\ntry {\n  let text = input.content[0].text;\n  \n  // Strip markdown code blocks if present\n  text = text.trim();\n  if (text.startsWith('```')) {\n    text = text.replace(/^```(?:json)?\\s*\\n?/, '');\n    text = text.replace(/\\n?```\\s*$/, '');\n  }\n  \n  parsed = JSON.parse(text.trim());\n} catch (e) {\n  console.log('Parse Feedback LLM Response error:', e.message);\n  parsed = {\n    is_spam: false,\n    priority: 'normal',\n    actionable_items: ['Parse error - manual review required'],\n    suggested_assignee: 'triage',\n    summary: 'Failed to parse: ' + e.message,\n    sentiment: 'neutral',\n    requires_clarification: false,\n    clarification_needed: ''\n  };\n}\n\n// Ensure all required fields with defaults\nconst result = {\n  is_spam: Boolean(parsed.is_spam),\n  priority: parsed.priority || 'normal',\n  actionable_items: Array.isArray(parsed.actionable_items) ? parsed.actionable_items : [],\n  suggested_assignee: parsed.suggested_assignee || 'triage',\n  summary: (parsed.summary || '').substring(0, 200),\n  sentiment: parsed.sentiment || 'neutral',\n  requires_clarification: Boolean(parsed.requires_clarification),\n  clarification_needed: parsed.clarification_needed || '',\n  \n  // Pass through data\n  _submissionId: input._submissionId,\n  _message: input._message,\n  _feedbackData: input._feedbackData,\n  _runtime: input._runtime\n};\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19120,
        19728
      ],
      "id": "fa6296b1-c984-4128-9788-eaead1c6beb9",
      "name": "Parse Feedback LLM Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-spam-feedback-check",
              "leftValue": "={{ $json.is_spam }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        19392,
        19728
      ],
      "id": "5ecaccc8-78b3-4d99-ac59-6440c121651a",
      "name": "Is Not Spam (Feedback)?"
    },
    {
      "parameters": {
        "jsCode": "// Handle spam feedback submission - skip GitHub issue creation\nconst data = $input.first().json;\n\nconsole.log(`[SPAM] Feedback submission ${data._submissionId} flagged as spam. Skipping GitHub issue creation.`);\n\nreturn [{\n  json: {\n    success: true,\n    type: 'feedback',\n    submissionId: data._submissionId,\n    githubIssueUrl: null,\n    githubIssueCreated: false,\n    isSpam: true,\n    message: 'Submission flagged for review.'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19552,
        19792
      ],
      "id": "ca7f1b95-2e5a-45bf-9ced-7f5e90f9f7cc",
      "name": "Handle Feedback Spam"
    },
    {
      "parameters": {
        "jsCode": "// Map feedback category to GitHub labels\n// Category mapping per roadmap 1.13c:\n// bug → [bug, feedback]\n// feature → [enhancement, feedback]\n// content → [content, feedback]\n// other → [feedback, triage-needed]\n\nconst data = $input.first().json;\nconst feedbackData = data._feedbackData;\nconst category = feedbackData?.category || 'other';\n\nlet labels = ['feedback'];\nlet targetRepo = 'FGUTech/libertas'; // All feedback goes to main repo\n\nswitch (category) {\n  case 'bug':\n    labels = ['bug', 'feedback'];\n    break;\n  case 'feature':\n    labels = ['enhancement', 'feedback'];\n    break;\n  case 'content':\n    labels = ['content', 'feedback'];\n    break;\n  default:\n    labels = ['feedback', 'triage-needed'];\n}\n\n// Add priority label if urgent\nif (data.priority === 'urgent') {\n  labels.push('priority-urgent');\n}\n\n// Build issue title\nlet titlePrefix = '[Feedback]';\nif (category === 'bug') titlePrefix = '[Bug Report]';\nelse if (category === 'feature') titlePrefix = '[Feature Request]';\nelse if (category === 'content') titlePrefix = '[Content Suggestion]';\n\nconst titleText = data.summary.length > 50 \n  ? data.summary.substring(0, 47).replace(/\\s+\\S*$/, '') + '...'\n  : data.summary;\n\nconst issueTitle = `${titlePrefix} ${titleText}`;\n\n// Build issue body\nconst actionableList = data.actionable_items.length > 0\n  ? data.actionable_items.map(item => `- ${item}`).join('\\n')\n  : '_No specific actions identified_';\n\nconst contactSection = feedbackData.contact && feedbackData.requires_response\n  ? '\\n\\n**Contact:** Provided (check submission record for details)\\n**Response Requested:** Yes'\n  : '';\n\nconst issueBody = `## Feedback\n\n${data._message}\n\n## Assessment\n\n**Category:** ${category}\n**Priority:** ${data.priority}\n**Sentiment:** ${data.sentiment}\n**Suggested Assignee:** ${data.suggested_assignee}\n\n## Actionable Items\n\n${actionableList}\n\n${data.requires_clarification ? '### Clarification Needed\\n\\n' + data.clarification_needed + '\\n\\n' : ''}---\n**Submission ID:** \\`${data._submissionId}\\`${contactSection}\n\n---\n*Auto-generated by Libertas Workflow C (Feedback Intake)*`;\n\nreturn [{\n  json: {\n    issueTitle,\n    issueBody,\n    labels,\n    targetRepo,\n    ...data\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19552,
        19664
      ],
      "id": "2170eb52-28fd-4a07-baa7-693d820dae5c",
      "name": "Map Feedback to Labels"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "use-stubs-feedback-github",
              "leftValue": "={{ $('Prepare Routing Data').first().json._runtime?.use_stubs ?? true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        19744,
        19664
      ],
      "id": "ad06b021-c017-4561-819f-e424269eb50d",
      "name": "Use Stubs for Feedback GitHub?"
    },
    {
      "parameters": {
        "jsCode": "// STUB: Simulate GitHub issue creation for feedback\nconst data = $input.first().json;\n\nconst stubIssueNumber = 300 + Math.floor(Math.random() * 700);\nconst stubIssueUrl = `https://github.com/${data.targetRepo}/issues/${stubIssueNumber}`;\n\nconsole.log(`[STUB] Created mock GitHub feedback issue #${stubIssueNumber}`);\nconsole.log(`[STUB] Labels: ${data.labels.join(', ')}`);\n\nreturn [{\n  json: {\n    html_url: stubIssueUrl,\n    number: stubIssueNumber,\n    title: data.issueTitle,\n    state: 'open',\n    _submissionId: data._submissionId,\n    _feedbackData: data._feedbackData,\n    _isStub: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19920,
        19568
      ],
      "id": "df8c6f56-7da0-4e4a-b56d-ef0ab217a3b4",
      "name": "Feedback GitHub Stub"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $json.targetRepo }}/issues",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": {{ JSON.stringify($json.issueTitle) }},\n  \"body\": {{ JSON.stringify($json.issueBody) }},\n  \"labels\": {{ JSON.stringify($json.labels) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        19920,
        19712
      ],
      "id": "f4656d11-84fd-4912-b66a-e1593fc49219",
      "name": "Create Feedback GitHub Issue",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DwAcCvPHNHvQfrGT",
          "name": "Github API Token"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Wrap real GitHub API response for feedback issues\nconst githubResponse = $input.first().json;\nconst prepareData = $('Map Feedback to Labels').first().json;\n\nreturn [{\n  json: {\n    html_url: githubResponse.html_url,\n    number: githubResponse.number,\n    title: githubResponse.title,\n    state: githubResponse.state,\n    _submissionId: prepareData._submissionId,\n    _feedbackData: prepareData._feedbackData,\n    _isStub: false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20112,
        19696
      ],
      "id": "2ce29fdc-17ba-49a6-89a1-b3b9a732732f",
      "name": "Wrap Feedback GitHub Response"
    },
    {
      "parameters": {
        "jsCode": "// Handle errors from Feedback GitHub API call\nconst error = $input.first().json;\nconst prepareData = $('Map Feedback to Labels').first().json;\n\nconsole.log('Feedback GitHub API error:', JSON.stringify(error));\n\nreturn [{\n  json: {\n    html_url: null,\n    number: null,\n    title: prepareData.issueTitle,\n    state: 'error',\n    _submissionId: prepareData._submissionId,\n    _feedbackData: prepareData._feedbackData,\n    _isStub: false,\n    _apiError: true,\n    _errorMessage: 'Feedback GitHub issue creation failed - will retry later'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20112,
        19840
      ],
      "id": "0389c36d-26af-4670-96df-5b67423beb73",
      "name": "Handle Feedback GitHub Error"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE submissions\n  SET github_issue_url = $1,\n      status = 'triaged'\n  WHERE id = $2::uuid",
        "options": {
          "queryReplacement": "={{ $json.html_url }}, {{ $json._submissionId }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        20288,
        19568
      ],
      "id": "a90aa6ad-c429-45bc-b2eb-cdd69c797da7",
      "name": "Update Feedback Submission",
      "credentials": {
        "postgres": {
          "id": "qDXwbsZ3b2DpBCrd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare response for feedback submissions\nconst data = $input.first().json;\nconst feedbackData = $('Map Feedback to Labels').first().json._feedbackData;\n\nreturn [{\n  json: {\n    success: true,\n    type: 'feedback',\n    submissionId: data._submissionId,\n    githubIssueUrl: data.html_url || null,\n    githubIssueCreated: !!data.html_url,\n    category: feedbackData?.category || 'other',\n    message: data.html_url \n      ? 'Thank you for your feedback! A tracking issue has been created.'\n      : 'Thank you for your feedback! Issue creation failed - will be retried.'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20448,
        19568
      ],
      "id": "0d1be9d7-5a42-4946-bf68-2c1e927bb68f",
      "name": "Feedback Success Summary"
    },
    {
      "parameters": {
        "content": "# Fetch Configs & Prompts from Libertas API",
        "height": 336,
        "width": 448,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16624,
        18272
      ],
      "typeVersion": 1,
      "id": "61956c4e-935e-4494-9632-6b3fbe43f772",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Prepare Submission",
        "height": 256,
        "width": 656,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        17152,
        18320
      ],
      "typeVersion": 1,
      "id": "1bb0b456-c5fe-429e-9ce5-b197ebdcd57c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Fetch Source Content",
        "height": 400,
        "width": 544,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        18288,
        18208
      ],
      "typeVersion": 1,
      "id": "99038097-0921-42a4-a540-737036d699b7",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Use Claude API to Classify Story",
        "height": 448,
        "width": 1168
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        18928,
        18320
      ],
      "typeVersion": 1,
      "id": "1b620115-841c-41dc-bb6f-ac6211cd44dc",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Create and Queue up User Story",
        "height": 432,
        "width": 1072,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        20176,
        18192
      ],
      "typeVersion": 1,
      "id": "5ae87ce1-e17d-4bd2-81f8-37cd558bc80b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Use Claude API to Evaluate Project",
        "height": 432,
        "width": 912
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        18304,
        18928
      ],
      "typeVersion": 1,
      "id": "4f7b51ce-17a9-4ea9-a4b3-d5f820b36ac6",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Create Issue for the Project in the Github Repo",
        "height": 480,
        "width": 1184,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        19984,
        18816
      ],
      "typeVersion": 1,
      "id": "bf522e86-513a-4bb2-b01c-8b540dce3aa2",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "# Create the Project Idea",
        "height": 352,
        "width": 528,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        19312,
        18848
      ],
      "typeVersion": 1,
      "id": "03e6a5af-0b9d-4a18-8c11-47e20126b552",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Use Claude API to Assess Feedback",
        "height": 464,
        "width": 944
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        18304,
        19648
      ],
      "typeVersion": 1,
      "id": "d5728800-bfe6-4873-bca1-981acabc1347",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# Create Issue for the Feedback in the Github Repo",
        "height": 496,
        "width": 1248,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        19328,
        19504
      ],
      "typeVersion": 1,
      "id": "d734985c-25b0-4c04-9d30-665d34785095",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# Process Story Intakes",
        "height": 656,
        "width": 3200,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        18064,
        18128
      ],
      "typeVersion": 1,
      "id": "b352c40b-6180-4ab3-af1d-e6ccc2f046c3",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "# Process Project Idea Intakes",
        "height": 656,
        "width": 3200,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        18064,
        18800
      ],
      "typeVersion": 1,
      "id": "c8b575f7-f82f-41c6-b5e5-8717c61d57ef",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "# Process Feedback Intakes",
        "height": 656,
        "width": 3200,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        18064,
        19472
      ],
      "typeVersion": 1,
      "id": "c4cb6901-c6d1-4ec1-820c-72eaccc20b45",
      "name": "Sticky Note12"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Rate Limit Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Check": {
      "main": [
        [
          {
            "node": "Fetch Thresholds Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Thresholds Config": {
      "main": [
        [
          {
            "node": "Process Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Config": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Prepare Submission Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Submission Insert": {
      "main": [
        [
          {
            "node": "Insert Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Submission": {
      "main": [
        [
          {
            "node": "Prepare Routing Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Routing Data": {
      "main": [
        [
          {
            "node": "Is Story?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Story?": {
      "main": [
        [
          {
            "node": "Has Source URL?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Project?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Project?": {
      "main": [
        [
          {
            "node": "Fetch Project Evaluate Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Feedback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Project Evaluate Prompt": {
      "main": [
        [
          {
            "node": "Use Stubs for Project Evaluate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Stubs for Project Evaluate?": {
      "main": [
        [
          {
            "node": "Project Evaluate Stub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Project Evaluate with Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Project Evaluate Stub": {
      "main": [
        [
          {
            "node": "Parse Project LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Project Evaluate with Claude API": {
      "main": [
        [
          {
            "node": "Wrap Project Evaluate Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Project Evaluate Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap Project Evaluate Response": {
      "main": [
        [
          {
            "node": "Parse Project LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Project Evaluate Error": {
      "main": [
        [
          {
            "node": "Parse Project LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Project LLM Response": {
      "main": [
        [
          {
            "node": "Is Not Spam?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Not Spam?": {
      "main": [
        [
          {
            "node": "Build Project Idea Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Project Spam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Project Spam": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Project Idea Query": {
      "main": [
        [
          {
            "node": "Insert Project Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Project Idea": {
      "main": [
        [
          {
            "node": "Prepare Project for GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Project for GitHub": {
      "main": [
        [
          {
            "node": "Use Stubs for Project GitHub?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Stubs for Project GitHub?": {
      "main": [
        [
          {
            "node": "Project GitHub Stub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Project GitHub Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Project GitHub Stub": {
      "main": [
        [
          {
            "node": "Build Project Update Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Project GitHub Issue": {
      "main": [
        [
          {
            "node": "Wrap Project GitHub Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Project GitHub Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap Project GitHub Response": {
      "main": [
        [
          {
            "node": "Build Project Update Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Project GitHub Error": {
      "main": [
        [
          {
            "node": "Build Project Update Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Project Update Query": {
      "main": [
        [
          {
            "node": "Update Project Idea URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Project Idea URL": {
      "main": [
        [
          {
            "node": "Project Success Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Project Success Summary": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Source URL?": {
      "main": [
        [
          {
            "node": "Fetch Source Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Source URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Source Content": {
      "main": [
        [
          {
            "node": "Extract Text from HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Fetch Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from HTML": {
      "main": [
        [
          {
            "node": "Fetch Story Classify Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Fetch Error": {
      "main": [
        [
          {
            "node": "Fetch Story Classify Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Source URL": {
      "main": [
        [
          {
            "node": "Fetch Story Classify Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Story Classify Prompt": {
      "main": [
        [
          {
            "node": "Use Stubs for Story Classify?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Stubs for Story Classify?": {
      "main": [
        [
          {
            "node": "Story Classify Stub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Story Classify with Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Story Classify Stub": {
      "main": [
        [
          {
            "node": "Parse Story LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Story Classify with Claude API": {
      "main": [
        [
          {
            "node": "Wrap Story Classify Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Story Classify Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap Story Classify Response": {
      "main": [
        [
          {
            "node": "Parse Story LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Story Classify Error": {
      "main": [
        [
          {
            "node": "Parse Story LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Story LLM Response": {
      "main": [
        [
          {
            "node": "Update Story Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Story Submission": {
      "main": [
        [
          {
            "node": "Restore Data & Check Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Data & Check Threshold": {
      "main": [
        [
          {
            "node": "Is Not Spam (Story)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Not Spam (Story)?": {
      "main": [
        [
          {
            "node": "Queue for Insight?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Story Spam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Story Spam": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue for Insight?": {
      "main": [
        [
          {
            "node": "Prepare User Story Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Story Not Queued Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Story Not Queued Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare User Story Item": {
      "main": [
        [
          {
            "node": "Insert User Story Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert User Story Item": {
      "main": [
        [
          {
            "node": "Mark Submission Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Submission Queued": {
      "main": [
        [
          {
            "node": "Story Queued Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Story Queued Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Feedback?": {
      "main": [
        [
          {
            "node": "Fetch Feedback Assess Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Feedback Assess Prompt": {
      "main": [
        [
          {
            "node": "Use Stubs for Feedback Assess?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Stubs for Feedback Assess?": {
      "main": [
        [
          {
            "node": "Feedback Assess Stub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Feedback Assess with Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback Assess Stub": {
      "main": [
        [
          {
            "node": "Parse Feedback LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback Assess with Claude API": {
      "main": [
        [
          {
            "node": "Wrap Feedback Assess Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Feedback Assess Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap Feedback Assess Response": {
      "main": [
        [
          {
            "node": "Parse Feedback LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Feedback Assess Error": {
      "main": [
        [
          {
            "node": "Parse Feedback LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Feedback LLM Response": {
      "main": [
        [
          {
            "node": "Is Not Spam (Feedback)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Not Spam (Feedback)?": {
      "main": [
        [
          {
            "node": "Map Feedback to Labels",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Feedback Spam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Feedback Spam": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Feedback to Labels": {
      "main": [
        [
          {
            "node": "Use Stubs for Feedback GitHub?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Stubs for Feedback GitHub?": {
      "main": [
        [
          {
            "node": "Feedback GitHub Stub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Feedback GitHub Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback GitHub Stub": {
      "main": [
        [
          {
            "node": "Update Feedback Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Feedback GitHub Issue": {
      "main": [
        [
          {
            "node": "Wrap Feedback GitHub Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Feedback GitHub Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap Feedback GitHub Response": {
      "main": [
        [
          {
            "node": "Update Feedback Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Feedback GitHub Error": {
      "main": [
        [
          {
            "node": "Update Feedback Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Feedback Submission": {
      "main": [
        [
          {
            "node": "Feedback Success Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback Success Summary": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9089f999-6c4f-4525-9a08-6f426f3ac975",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c52e1b61141902bda826728d3cf15d2a867de8395f358b7459edf58ff4157ae"
  },
  "id": "Dtx0MhjeNh67vD7SpsXmt",
  "tags": []
}